/*
usage examples:
@include button('.button');

@include button('.button2', $defaultSkin: false);
@include button-skin-alt('.button2');
*/


/* **** BUTTON COMPONENT **** */

// map the placeholders content to some selectors through a mixin
@mixin button($selector, $defaultSkin: true) {
    #{$selector} {
        /* Display & Box Model */
        display: inline-block;
        padding: 10px 25px;
        min-width: 150px;
        line-height: 1.2;
        letter-spacing: 0.1em;
    }
    #{$selector}:hover {
        /* Display & Box Model */
    }
    @if $defaultSkin !=false {
        @include button-skin-default($selector);
    }
}


/* **** BUTTON COMPONENT SKIN **** */

// provide a default skin for the component
// only visual changes that don't affect the component layout should be in here
@mixin button-skin-default($selector) {
    #{$selector} {
        /* Positioning */
        /* Display & Box Model */
        /* Other */
        background: #fff;
        border: solid 2px #000;
        color: #000;
        font-weight: bold;
        text-transform: uppercase;

        &._is_active {
            background: #000;
            color: #fff;
        }
    }
    #{$selector}:hover {
        /* Positioning */
        /* Display & Box Model */
        /* Other */
        background: #000;
        color: #fff;
        text-decoration: none;
    }
    #{$selector}:focus {
        /* Other */
        color: #000;
        outline: 0;
        text-decoration: none;

        &._is_active {
            color: #fff;
        }
    }
    #{$selector}:hover:focus {
        /* Other */
        color: #fff;
        outline: 0;
        text-decoration: none;
    }
}

