/* **** BUTTON COMPONENT SKIN BLACK **** */

@mixin button-skin-black($selector) {
    #{$selector} {
        /* Positioning */
        /* Display & Box Model */
        /* Other */
        background: #000;
        border: solid 2px transparent;
        color: #FFF;
        font-weight: bold;
        text-transform: uppercase;

        &._is_active {
            background: #fff;
            color: #000;
        }
    }
    #{$selector}:hover {
        /* Positioning */
        /* Display & Box Model */
        /* Other */
        background: #fff;
        border: solid 2px #000;
        color: #000;
        text-decoration: none;
    }
    #{$selector}:focus {
        /* Other */
        background: #fff;
        color: #000;
        outline: 0;
        text-decoration: none;
    }
    #{$selector}:hover:focus {
        /* Other */
        background: #fff;
        color: #000;
        outline: 0;
        text-decoration: none;
    }
}

