/* _____ SPECIFICS _____ */

// import contextual entities
@import 'buttons';
@import 'footer';
@import 'main';
@import 'nav';
@import 'sample';
@import 'nevin';
@import 'rob';
@import 'nathan';
@import 'justin';
@import 'tia';
@import 'max768';
@import 'max320';
@import 'max1024';
@import 'min1024';
/* @import 'min1920'; */

$color-secondary:#FFF;
// miscellaneous rules
.navLink {
    @include basicClickable;
}

.externalLink {
    @include basicClickable;
}

.firstOrderList_item {
    color: $color-secondary;
    list-style-type: square;
}

.firstOrderList_item_content {
    color: $color-default-darker;
}

.secondaryList_item {
    color: $color-secondary;
    list-style-type: square;
}

.secondaryList_item_content {
    color: $color-default-darker;
}

.articleSeparator {
    @include hidden;
}

.note {
    border: solid 1px transparentize($color-main-lighter, .7);
    background: transparentize($color-main-lighter, .8);
    padding: 15px;
}

.exampleNote {
    margin-bottom: 15px;
    border: dotted 1px $color-secondary;
    padding: 15px;
}

.sampleTitle {
    display: inline-block;
    background: $color-alt;
    padding: 5px 20px;
}

.codeSample {
    @include remIt('font-size', 14);
    margin-top: 0;
    border: solid 1px $color-alt;
    background: $color-alt-light;
    padding: 20px;
    line-height: 1.3;
    color: $color-alt2;
}