
$fadeDuration: 0.2s;

.smoothFadeIn {
  opacity: 1.0;
  filter:alpha(opacity=100);/*position where      
  enlarged image should offset horizontally */
  -webkit-transition: all $fadeDuration ease-in-out;
  -moz-transition: all $fadeDuration ease-in-out;
  -o-transition: all $fadeDuration ease-in-out;
  transition: all $fadeDuration ease-in-out;
}

.smoothFadeOut {
  opacity: 0.0;
  filter:alpha(opacity=100);/*position where      
  enlarged image should offset horizontally */
  -webkit-transition: all $fadeDuration ease-in-out;
  -moz-transition: all $fadeDuration ease-in-out;
  -o-transition: all $fadeDuration ease-in-out;
  transition: all $fadeDuration ease-in-out;
}
