/* ==========================================================================
   Buttons
   ========================================================================== */


/**
 * Standard button styles used throughout project
 *
 * Example HTML:
 *
 * <button class="button" data-filter="*"><span>All</span></button>
 */


/* Default Button Styles */

@include button('.button');

/* Solid Button Styles */

@include button('.button---black', $defaultSkin: false);
@include button-skin-black('.button--black');


.goTop {
    display: block;
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 0;
    border: 20px solid transparent;
    border-bottom-color: $color-default-light;
    background: transparent;
    padding: 0;
    width: 0;
    height: 0;
    text-align: center;
    font-size: 0;
}

