footer.content-info {
    background: $color-main;
}

footer {
    overflow: hidden;
}

.mainFooter {
    text-align: center;
    color: $text-color;
    padding: 150px 70px 120px 70px;
    
    @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
      padding: 60px 70px;
    }

    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        width: 768px;
        padding: 30px 70px;
    }

    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        width: 320px;
        padding: 30px 20px;
    }
}

.footer-call {
    font-family: $ir-primary-font;
    line-height: 150%;
    padding-bottom: 150px;
    font-size: 32px;
      
    @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
      padding-bottom: 60px;
      font-size: 24px;
    }

    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
      padding-bottom: 15px;
    }

    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
      line-height: 130%;
    }
}

.footer-ir-label {
    padding-top: 120px;
    padding-bottom: 60px;
      
    @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
      padding-top: 60px;
      padding-bottom: 40px;
    }

    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        padding-top: 15px;
        padding-bottom: 20px;
    }

    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        padding-top: 30px;
        padding-bottom: 20px;
    }
}

.footer-ir-label > a {
    font-size: 38px;
    font-family: $ir-primary-font;
    text-decoration: none;
    color: $text-color;
}

.footer-ir-logo {
  width: 232px;
  height: 35px;
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    width: 168px;
    height: 25px;
  }
}

.footer-office-item {

    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
      padding: 15px;
    }
    
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        padding: 15px 30px;
    }
}

.footer-office-item-inner {
    border: 4px solid white;
    
    @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
      border: 3.5px solid white;
    }
    
    @media screen and (max-width: #{($tablet-nav-breakpoint-75p - 1)}px) {
      border: 3px solid white;
    }
    
    @media screen and (max-width: #{($tablet-nav-breakpoint-50p - 1)}px) {
      border: 2.5px solid white;
    }
    
    @media screen and (max-width: #{($tablet-nav-breakpoint-25p - 1)}px) {
      border: 2px solid white;
    }
}

.footer-social-icon {
    text-align: center;
}

.footer-social-icon-inner > i {
    color: $text-color;
    font-size: 26px;

    &:hover,
    &:active,
    &:focus,
    &:visited {
        color: $text-color;
    }
}

.footer-social-icon-container {
    width: 260px;
    margin: 0 auto;
}

.footer-offices-inner {
    margin: 0 auto;
}

.footer-office-edge-text {
    color: $text-color;
    font-size: 24px;
    margin: 15px 0;
    width: 100%;
    position: absolute;
    
    @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
      font-size: 21px;
    }
    
    @media screen and (max-width: #{($tablet-nav-breakpoint-75p - 1)}px) {
      font-size: 18px;
    }
    
    @media screen and (max-width: #{($tablet-nav-breakpoint-50p - 1)}px) {
      font-size: 15px;
    }
    
    @media screen and (max-width: #{($tablet-nav-breakpoint-25p - 1)}px) {
      font-size: 12px;
    }
    
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
      font-size: 12px;
      margin: 10px 0;
    }
}

.footer-office-address {
    bottom: 0;
}

.footer-office-phone {
    top: 0;
}

.footer-office-city {
    color: $text-color;
    font-size: 30px;
    font-family: $ir-primary-font;
    position: absolute;
    top: calc(50% - 36px);
    margin: 15px 0;
    width: 100%;

    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        margin: 10px 0;
    }
}

.footer-office-time {
    right: calc(-50% + 23px);
    top: calc(50% - 23px);
    @include transform(rotate(90deg));

    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        right: calc(-50% + 18px);
        top: calc(50% - 18px);
    }
}

.footer-office-weather {
    left: calc(-50% + 23px);
    top: calc(50% - 23px);
    @include transform(rotate(90deg));

    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        left: calc(-50% + 18px);
        top: calc(50% - 18px);
    }
}

.ir-footer-office-item {
    display: inline-block;
    vertical-align: text-top;
    border-bottom: 2.5px solid transparent;
}

.ir-footer-office-item-hover {
    border-bottom: 2.5px solid white;
}

