/* Globals */

/* @mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
} */

/* .element p {
  @include vertical-align();
} */

.ir-button:hover {
    background-color: rgba(0, 0, 0, 0);
}

#ir-header {
    overflow: hidden;
}

/*tmp*/
.home_culture_blurb {display:none;}

.svg-image {
  max-width:100%;
  height:auto;
  width:auto;
}

#menu-navigation-menu > .menu-item {
    font-family: "Larsseit Bold", Arial, "sansserif";
    font-size: 30px;
    font-weight: normal;
    height: 14%;
    display: inline-block;
    width: 100%;
    top: 10%;
    float: left;
}

#page-id-7 {
    .ir-work-section {
        display: block;
    }
}

#page-id-15 {
    .serviceItem_name {
        font-family: 'Karla';
        letter-spacing: 0.1em;
    }
}

.home-cta {
    font-size: 26px;
    font-weight: bolder;
    text-align: center;
    max-width: 50%;
    margin: 100px auto;
    letter-spacing: 0.1em;
}

.mark {
    background-color: #46F1B2;
}

@media screen and (max-width: 768px) {
    .home-cta {
        font-size: 26px;
        font-weight: bolder;
        text-align: center;
        max-width: 50%;
        margin: 100px auto;
        letter-spacing: normal;
    }
}

@media screen and (max-width: 1920px) {
    .header-ir-select-button {
        max-height: 14px !important;
    }
}

/* Home */
#page-id-7 {
        #fullpage {
            position: relative;
            display: inline-block;
            width: 100%;
            .ir-work-section {
                position: relative;
                display: inline-block;
                picture {
                    position: relative;
                    display: inline-block;
                }
                .ir-work-section-titlebox {
                    position: relative;
                    display: inline-block;
                    opacity: 1;
                    text-align: left;
                    color: red;
                    background-color: rgba(255, 255, 255, 0.8);
                    a {
                        color: black;
                        text-decoration: none;
                    }
                    .ir-work-section-subtitle {
                    }
                    .ir-work-section-excerpt {
                        line-height: 1.4;
                        color: #000;
                        font-family: "Karla", "Larsseit Bold", Arial, "sansserif";
                        -webkit-font-smoothing: antialiased;
                        p {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }

/* home 4 post block */
.home__queryBlock {
    position: relative;
    display: inline-block;
    min-height:20px;
    width:100%;
}

.digitalIcon .digitalIcon_bottom {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 25px 0;
}

footer {
    position: relative;
    z-index:1000;

    .footer-office .row {
        padding: 0 1em;
    }
    .footer-offices-inner {
        width: auto;
    }
    .footer-office-time, .footer-office-weather, .footer-office-phone, .footer-office-address {
        font-family: "Larsseit Bold", Arial, "sansserif";
    }

    .footer-office-time {
        position: absolute;
        width: 105%;
        left: 42%;
        padding-left: 44%;
        text-align: left;
        /* FF Chrome Opera etc */
        -webkit-transform: rotate(90deg); 
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        /* IE */
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    }
    .footer-office-weather {
        position: absolute;
        padding-left: 45%;
        left: -45%;
        width: 100%;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    }
}

.error404 {
    .banner {
        display: none;
    }
    .container {        
        height: 50vh;
        .ir-content-padding {            
            position: relative;
            top: 50%;
        }
    }
}

/* marks = href string */
mark {
    position: relative;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0) !important;
    z-index: 1;
}

mark:after {
    content:'\A';
    position:absolute;
    background:#46F1B2;
    top:1.1em;
    bottom:0;
    left:0; 
    width:100%;
    height: 0.2em;
    z-index: -1;
}

mark:hover:after {
    content:'\A';
    position:absolute;
    background:#46F1B2;
    top:0.5em;
    bottom:0;
    left:0; 
    width:100%;
    height: 0.8em;
    z-index: -1;
}

/* fonts */

.ir-bodyCopy1 {
    font-family: 'Helvetica Neue', Helvetica !important;
}

/* animation transformations */
.slide_left2right {
    position: relative;
    left: 100%;
    background: blue;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
}
      
@media screen and (min-width: 1024px) {

    /* Office Major Container */

    #office-content {
        position: relative;
        display: inline-block;
        width: 100%;
        padding: 4em 0;
    }

    .office-leftCtn {
        position: relative;
        display: inline-block;
        float: left;
        width: 50%;
        padding: 0 80px 0 65px;
    }

    .office-rightCtn {
        position: relative;
        display: inline-block;
        float: right;
        width: 50%;
        padding: 0 65px 0 0;
    }

    .office-rightCtn h3 {
        padding:0 0 50px 0;
    }

    .aboutOffice-location {
        padding: 0 0 35px 0;
        margin: 0;
    }

    .office-centerTitle {
        position: relative;
        display: block;
        text-align: center;
    }

    .office-aboutOffice {
        position: relative;
        display: inline-block;
        width: 100%;
    }

    .office-officeImage {
        position: relative;
        display: inline-block;
        width: 100%;
        margin: 80px 0 0 0;
    }

    .office-officeImage .officeCityScape {
        width: 100%;
    }

    .aboutOffice-gif {
        position: relative;
        display: block;
        height: auto;
        width: 300px;
        float: right;
    }

    .aboutOffice-gif picture {
        height: 100%;
        display: inline-block;
    }

    .office-cityScape {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 400px;
        overflow: hidden;
        margin: 80px 0 0 0;
    }

    .office-cityScape picture {
        position: absolute;
        display: inline-block;
        width: 100%;
        height: auto;
        top: 0;
    }

    .office-cityScape picture img {
        position: relative;
        display: block;
        width: 100%;
    }

    .office-cityDescritption {
        position: relative;
        display: inline-block;
        margin: 60px 0 0 0;
    }

    .office-rebelsRecommend {
        position: relative;
        display: inline-block;
        width: 100%;
        margin: 80px 0 0 0;
        text-align: center;
    }

    .office-rebelsRecommend .office-centerTitle {
        position: relative;
        display: block;
        margin: 0 0 50px 0;
    }

    .office-recCtr {
        position: relative;
        display: inline-block;
    }

    .office-rebsRec {
        position: relative;
        display: inline-block;
    }

    .office-rebsRec picture .ir-image {
        position: relative;
        display: inline-block;
        overflow: hidden;
    }

    .office-rebsRec picture .ir-image {
        width: 100%;
    }

    .office-rebsRec .rebelsRecommend {
        position: relative;
        display: block;
        text-align: center;
        margin: 30px 0 0 0;
    }

    .office-rebelsRecommend .container {
        padding: 0;
    }

    .office-rebelsRecommend .rebelsRecommend-term {
        text-transform: uppercase;
    }

    .office-jobListings {
        position: relative;
        display: inline-block;
        margin: 80px 0 0 0;
        background-color: #EFF1F0;
        width: 100%;
        padding: 60px 0 0;
        text-align: center;
    }

    .office-jobPostings {
        position: relative;
        display: inline-block;
    }

    .office-jobPostings .jobListings {
        position: relative;
        display: inline-block;
        padding: 0;
    }

    .office-jobPostings h9 {
        position: relative;
        display: inline-block;
        width: 100%;
        margin: 0;
    }

    /* Contact Major Container */

    #contact-content {
        position: relative;
        display: inline-block;
        width: 100%;
        // padding: 60px 70px;
    }

    // Services Page

    .page-id-15 {

        .main {
            padding: 0 70px;
        }

        .digitalIcon {
            padding:0;
        }

        .digitalIcons {
            width:100%;
        }

        .digitalIcon_top {
            padding:0;
        }

        .digitalIcon_top img {
            width:50%;
        }

        #servicesTimeline {
            padding: 3em 0;
        }

        .timelineBackground--top {
            position:relative;
            display: inline-block;
            text-align: center;
            color: #B3B3B3;
            font-weight: bold;
            letter-spacing: 0.1em;
            width: 100%;
            color: grey;
            margin: 4em 0 1em 0;
        }

        .serviceItem_imageWrapper picture {
            width: 90%;
            position: relative;
            display: inline-block;
            float: right;
        }

        .serviceItem_secondaryContainer {
            position:relative;
            display:inline-block;
            bottom:0;
            left:0;
        }

        .services__bottomB {
            position: relative;
            display: inline-block;
            width: 100%;
            text-align: center;
            margin: 50px 0;
        }

        #service_anim1 {
            .ir-project-item-description {
                position: absolute;
                left: 10%;
                top: 50px;
            }
        }

    /*    // Services Page - Vertical element trickery
        // $index++ is counting 2 per each 'article' element starting from index 0*/

    /*    // animation trigger 1
        // #service_trig1 {
        //     position: relative;
        //     display:inline-block;
        //     width:100%;
        //     opacity: 0.1;
        // }*/

        #trig_0 {
            position: relative;
            display: inline-block;
        }

        #anim_1 {
            // height: 200vh;
        }

    /*    // .parallaxParent {
        //     height: 100vh;
        //     // overflow: hidden;
        // }
        // .parallaxParent > * {
        //     height: 200%;
        //     position: relative;
        //     top: -100%;
        // }*/

        .service__item-0 {
            margin-top: 5em;
        }

        .service__item-0 .serviceItem_descriptionWrapper {
            position: relative;
            display: inline-block;
            text-align: right;
            padding: 1em 5em 2em;
            .serviceItem_iconCTN {
                img {
                    right: -10%;
                    top: 0;
                }
            }
            .serviceItem_name {
                margin-top: -40px;
                font-family: 'Larsseit Bold';
            }
        }

        .service__item-0 .serviceItem_imageWrapper picture {
            width: 75%;
            margin-bottom:2em; 
        }

        .service__item-0 .service__keywords-1 {
            position: absolute;
            display: inline-block;
            text-align: left;
            padding: 1em 5em 0em;
        }

        .service__item-2 , .service__item-3, .service__item-4, .service__item-5, .service__item-6 {
            position: relative;
            display:inline-block;
            padding: 0 100px;
        }

        .service__item-2 .serviceItem_name {
            padding-top: 0px;
        }

        .service__item-2 .serviceItem_imageWrapper picture {
            width: 100%;
        }

        .service__keywords-3 {
            position: relative;
            display: block;
            top: -4em;
            padding: 0 5em;
        }

        .service__keywords-3 .serviceItem_secondaryImageWrapper {
            position: relative;
            display: inline-block;
            float: right;
            padding-left: 1em;
        }

        .service__keywords-3 .serviceItem_listingsWrapper {
            position: relative;
            display: inline-block;
            float: left;
            /*// padding: 10%;*/
            text-align: right;
        }

        .service__keywords-2 {
            position: relative;
        }

        .service__keywords-3 {
            position: relative;
        }

        .service__item-4 .serviceItem_descriptionWrapper {
            position: relative;
            display: inline-block;
            float: left;
            text-align: left;
            padding: 2em 8em 2em 2em;
        }

        .service__item-4 .serviceItem_icon {
            width: 5em;
            height: auto;
            margin-bottom: -2em;
        }

        .service__item-4 .serviceItem_imageWrapper {
            position: relative;
            display: inline-block;
            float: right;
            width: 50%;
            right: 0;
            overflow: visible;
        }

        .service__item-4 .serviceItem_imageWrapper picture {
            width: 130%;
            position: relative;
            display: inline-block;
            float: right;
        }

        .service__keywords-5 {
            position:relative;
            display: inline-block;
        }

        .service__keywords-5 .serviceItem_listingsWrapper {
            position:relative;
            display: inline-block;
            float: right;
            padding: 0 5em;
        }

         .service__item-6 {
            padding: 4em;
         }

        .service__item-6 .serviceItem_descriptionWrapper {
            position: relative;
            display: inline-block;
            float: right;
            text-align: left;
            padding: 1em 6em 2em;
        }

        .service__item-6 .serviceItem_imageWrapper picture {
            overflow: visible;
        }

        .service__item-6 .serviceItem_imageWrapper picture .ir-image {
            min-width: 115%;
        }

        .service__item-6 .serviceItem_descriptionWrapper .serviceItem_name {
            padding-top: 1em;
        }

        .service__keywords-7 .serviceItem_listingsWrapper {
            position: absolute;
            display: inline-block;
            float: right;
            text-align: right;
            padding: 0 5em;
            right: 0;
            bottom: -5em;
        }

        .timelineBackground-startTime__lineTop {
            position: absolute;
            width: 2px;
            height: 2000px;
            background-color: #ccc;
            left: 50%;
            z-index: -1;
          
          @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
          }
          
          @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
            display:none;
          }
          
          @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
            display:none;
          }
        }

        .timelineBackground-startTime__lineEnd {
            position: absolute;
            width: 2px;
            height: 2000px;
            background-color: #ccc;
            left: 50%;
            z-index: -1;
            bottom: 0;
          
          @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
          }
          
          @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
            display:none;
          }
          
          @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
            display:none;
          }
        }

        .timelineBackground-startTime, .timelineBackground-endTime {
            position: relative;
            width: 3em;
            height: 2px;
            background-color: #ccc;
            z-index: -1;
            margin: auto;
          
          @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
          }
          
          @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
            display:none;
          }
          
          @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
            display:none;
          }
        }

        .timelineBackground--bottom {
            position: relative;
            display: inline-block;
            width: 100%;
            text-align: center;
          
          @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
          }
          
          @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
            display:none;
          }
          
          @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
            display:none;
          }
        }

        .services__seeWork {
          
          @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
          }
          
          @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
          }
        }

        .services__seeWork {
            text-align: center;
            margin: 4em;
        }

    /*    // Services ANIMATIONS

        // .ir-project-item-description {
        //     display: none;
        // }*/
    }

    /*// Contact page*/

    .contact-getInTouch {
        position: relative;
        display: inline-block;
        width: 100%;
    }

    .contactGetInTouch-left {
        position: relative;
        display: inline-block;
        float: left;
        padding: 2em 2em 2em 5em;
        width:50%;
    }

    .contactGetInTouch-left h2 {
        font-size: 1.1em;
    }

    .contactGetInTouch-Right {
        position: relative;
        display: inline-block;
        float: right;
        width:50%;
        padding: 3.5em 0;
    }

    .contact_genTitle {
        font-size: 0.9em;
        text-transform: uppercase;
    }

    .contact_genMail {
        padding: 0 0 1.5em 0;
        position: relative;
        display: inline-block;
    }


    .contact_genMail a {
        color: black;
    }

    .contactOffice {
        position: relative;
        display: block;
        text-align: center;
    }

    .contact-ourOffices {
        position: relative;
        display: block;
        padding: 3em 0 0;
        margin: 3em 0;
        background-color: #eff1f0;
        text-align: center;
    }

    .contact-ourOffices h4 {
        font-size: 1em;
        text-transform: uppercase;
        color: gray;
    }

    .contactOffice__details {
        margin: 2em 0 4em 0;
    }

    .contactOffice-address {
        font-family: baskerville-urw;
        font-size: 1em;
        font-style: italic;
        list-style: none;
        padding: 0;
        margin-bottom: 2em;
    }

    // Labs

    .labPost__container {
        position: absolute;
        display: block;
        left: 50%;
        top: 0;
        width: 100%;
        height: 100%;
    }

    // Careers

    .careersOfficePicker {
        position: relative;
        text-align: center;
        margin: 3em;
    }

    .jobListing {
        position: relative;
        text-align: center;
        margin: 5em;
    }

    .jobTitle h3:hover {
        text-decoration: underline;
    }

    /*// Job posting*/

    .jobpost {
        position: relative;
        margin: 3em 0;
    }

    .jobpost-footer {
        position: relative;
        text-align: center;
        margin: 5em;
    }



    /*// Work Pages

    

    /* Work Converse */

    #page-id-236 {
        .ir-project-background-container {
            .ir-project-background-description {
                padding: 90px 0 120px 70px;
                max-width: 420px;
            }
            .ir-project-background-image {
                height: auto;
                position: absolute;
                display: inline-block;
                float: right;
                right: 0;
            }
        }
        .converse-2-item {
            padding-bottom: 0 !important;
            #service_anim1 {
                display: inline-block;
                position: relative;
                height: 350px;
                width: 100%;
                z-index: 1;
                    .ir-project-item-description {
                        width: 220px;
                        position: absolute;
                        display: inline-block;
                        top: 50px;
                        left: 15%;
                        z-index: 2;
                    }
                    .ir-project-item-image {
                        position: absolute;
                        display: inline-block;
                        right: 0;
                        top: 0;
                        height: auto;
                        z-index: 1;
                    }
            }
            .ir-project-result-container{
                position: relative;
                display: block;
                width: 112%;
                left: -6%;
                top: 100px;
            }
            .tool-collaboration {
                width: 112%;
                position: relative;
                display: inline-block;
                left: -6%;
            }
        }
    }

    /*// Work BMW-VR*/

    #page-id-179 {
        .ir-project-background-container {
            .ir-project-background-description {
                padding: 40px 0 0 0;
                max-width: 310px;
                z-index: 1;
                float: left;
                margin-left: 150px;
            }
            .ir-project-background-image {
                height: auto;
                position: absolute;
                display: inline-block;
                float: right;
                right: 0;
                padding: 0 70px 0 0;
            }
        }
        .ir-project-idea-container {
            padding: 130px 70px 0 70px;
            .ir-project-idea-description {
                position: relative;
                display: inline-block;
                width: 420px;   
                padding: 0;
                float: right;
                left: 0;
                z-index: 2;
            }
            .ir-project-idea-image {
                padding: 0;
                right: 0;
            }
        }
        .jp_container {
            padding: 0px 70px;
        }
        .ir-project-result-container {
            .ir-project-result-description {
                padding: 0px;
                width: 430px;
                .ir-fixed-width-button {
                    margin-top: 2em;
                }
            }
            .ir-project-result-image {            
                position: relative;
                display: inline-block;
                float: right;
                width: 50%;
            }
        }
    }

    /*// Work 7-11 *** CURRENTLY NOT PUBLISHED TO PUBLIC - 2016, Friday... THE THIRTEENTH BWWOOOHAAAHHAAAAAAA*/

    #page-id-278 {
        .ir-content-padding {
            padding: 80px 70px 0 70px;
            .ir-main {
                .ir-project-background-container {
                    padding: 0px 0px;
                    .ir-project-background-description {
                        position: relative;
                        display: inline-block;
                        width: 340px;
                        float: right;
                        top: 110px;
                        left: -20%;
                        z-index: 1;
                    }
                    .ir-project-background-image {
                        position: relative;
                        display: inline-block;
                        width: auto;
                        float: left;
                        left: 0;
                    }
                }
            }
        }
    }

    /*// Work Arcteryx*/

    #page-id-246 {
        .ir-content-padding {
            padding: 0;
            .ir-project-page-container {
                .ir-project-background-container {
                    .ir-project-background-description {
                        position: relative;
                        display: block;
                        width: 50%;
                        margin: 0;
                        float: left;
                        z-index: 1;
                        padding: 15px 0 15px 60px;
                    }
                    .ir-project-background-image {
                        position: relative;
                        display: inline-block;
                        float: right;
                        padding: 0;
                    }
                }
                .arcteryx-1-item {
                    padding-bottom: 70px;
                    margin: 0 70px 70px 70px;
                    position: relative;
                    display: inline-block;
                    width: 87%;
                }
            }
        }
    }

    /* Pick and Play */

    #page-id-247 {
        .ir-content {
            padding: 0;
            .ir-project-background-container {
                padding: 100px  120px 170px 130px;
                .ir-project-background-description {
                    position: relative;
                    display: inline-block;
                    float: left;
                    width:380px;
                }
                .ir-project-background-image {
                    position: relative;
                    display: inline-block;
                    float: right;
                    width: 375px;
                }
            }
            .ir-project-idea-container {
                position: relative;
                display: inline-block;
                padding: 0 0 60px 70px;
                margin: 0;
                .ir-project-idea-description {
                    position: relative;
                    display: inline-block;
                    float: right;
                    z-index: 1;
                    padding: 0 70px 0 20px;
                    left: 0;
                    width: 475px;
                    right: 0;
                }
                .ir-project-idea-image {
                    position: relative;
                    display: inline-block;
                    float: left;
                    z-index: 0;
                    padding: 50px;
                    line-height: 0;
                    right: 0;
                    left: 0;
                    width:60%;
                }
            }
        }
    }

    #page-id-248 {
        .ir-content {
            padding: 0;
            .ir-project-background-container {
                .ir-project-background-description {
                    width: 300px;
                    z-index: 1;
                }
                .ir-project-background-image {
                    right: 25%;
                }
            }
            .ir-project-idea-container {
                .ir-project-idea-description {
                    padding: 0;
                }
            }
            .yokohama-1-item {
                .ir-project-item-description {
                    z-index: 1;
                    width:320px;
                }
                #service_anim1 {
                    position: relative;
                    left: 0;
                    right: 0;
                    margin-left: 70px;
                    .ir-project-item-image {
                        text-align: left;
                        padding-left: 70px;
                        padding-bottom: 80px;
                        .ir-section-image {
                            width: 110%;
                        }
                    }
                }
                .yokohama-img-1-item {
                    text-align: center;
                    .ir-project-item-image {
                        position: relative;
                        display: inline-block;
                        left: 0;
                    }
                }
                .yokohama-img-2-item {
                    text-align: center;
                    .ir-project-item-image {
                        position: relative;
                        display: inline-block;
                        left: 0;
                    }
                }
                .ir-project-result-container {
                    width: 120%;
                    left: -10%;
                }
            }
        }
    }

    #page-id-251 {
        padding: 0;
        .ir-project-background-container { 
            padding: 100px 70px 75px 130px;
        }
        .ir-project-idea-container {
            padding: 0 70px 60px 70px;            
        }
        .fox-idol-iphone-1-item {
            padding: 0px 70px 60px 70px;
        }
        .fox-idol-iphone-2-item {
            padding: 0px 70px 60px 70px;
        }
    }

}