@media screen and (min-width: 321px) and (max-width: 768px) {

    mark {
        padding: 0.2em;
    }

    .header-ir-titlebox {
        position: absolute;
        left: -50%;
        top: -50%;
        background-color: #FFFFFF;
        padding: 25px 50px;
        text-align: center;
        display: inline-block;
        min-width: 100px;
        max-width: 516px;
        width: 280px;
        margin: 0 auto;
        font-size: 18px;
        h1 {
            font-size: 28px;
        }
    }

    /* Contact */

    #page-id-833 {
        .contact-getInTouch {
            position: relative;
            display: inline-block;
            width: 100%;
            .contactGetInTouch-left {
                position: relative;
                display: inline-block;
                float: left;
                width: 50%;
                padding: 40px;
                h2 {
                    margin: 0;
                }
            }
            .contactGetInTouch-Right {
                position: relative;
                display: inline-block;
                float: right;
                padding: 40px;
            }

        }
        .contact-ourOffices {
            position: relative;
            display: inline-block;
            width: 100%;
        }

        .contact-getInTouch {
            position: relative;
            display: inline-block;
            width: 100%;
        }

        .contactGetInTouch-left {
            position: relative;
            display: inline-block;
            float: left;
            padding: 2em 2em 2em 5em;
            width:50%;
        }

        .contactGetInTouch-left h2 {
            font-size: 1.1em;
        }

        .contactGetInTouch-Right {
            position: relative;
            display: inline-block;
            float: right;
            width:50%;
            padding: 3.5em 0;
        }

        .contact_genTitle {
            font-size: 0.9em;
            text-transform: uppercase;
        }

        .contact_genMail {
            padding: 0 0 1.5em 0;
            position: relative;
            display: inline-block;
        }


        .contact_genMail a {
            color: black;
        }

        .contactOffice {
            position: relative;
            display: inline-block;
            text-align: center;
        }

        .contact-ourOffices {
            position: relative;
            display: inline-block;
            padding: 3em 0 0;
            margin: 3em 0;
            background-color: #eff1f0;
            text-align: center;
        }

        .contact-ourOffices h4 {
            font-size: 1em;
            text-transform: uppercase;
            color: gray;
        }

        .contactOffice__details {
            margin: 2em 0 4em 0;
        }

        .contactOffice-address {
            font-family: baskerville-urw;
            font-size: 1em;
            font-style: italic;
            list-style: none;
            padding: 0;
            margin-bottom: 2em;
        }
    }

    #slick-carousel-position-0 {
        .ir__homeVideo_header {
            position: absolute;
            display:none;
            top: 0;
            z-index: 1;
            video {
                position: relative;
                display: block;
                height: 100vh;
                width: auto;
                left:-5%;
            }
        }
    }

    #page-id-7 {

        .ir-main {
            max-width: 768px;
            margin: 0 auto;
            .home-cta {
                line-height: 1em;
            }
        }
        #home_master {
            position: relative;
            display: inline-block;
            width: 100%;
            text-align: center;
            #home_workNav {                
                position: absolute;
                display: block;
                top: 141px;
                left: 20px;
                height: 93px;
                width: 10px;
                z-index: 1;
                opacity: 0;
                #nav1:hover, #nav2:hover, #nav3:hover, #nav4:hover {
                    height:50px;
                    margin-top:-25px;
                }
                #nav1, #nav2, #nav3, #nav4 {
                    position: absolute;
                    display: block;
                    height: 2px;
                    width: 100%;
                    background-color: grey;
                    -webkit-transition: all .3s ease;
                    -moz-transition: all .3s ease;
                    -ms-transition: all .3s ease;
                    -o-transition: all .3s ease;
                }
                #nav1 {
                    top: 0;
                }
                #nav2 {
                    top: 33%;
                }
                #nav3 {
                    top: 66%;
                }
                #nav4 {
                    bottom: 0;
                }
            }
            #fullpage {
                position: relative;
                display: inline-block;
                width: 100%;
                height: 350px;
                overflow: hidden;
                #home_workItems {
                    position: relative;
                    display: inline-block;
                    overflow: hidden;
                    height: 350px;
                    .section {
                        display: inline-block;
                        height: 350px;
                        width: 100%;
                        .ir-work-section {
                            position: relative;
                            display: inline-block;
                            height: 350px;
                            width: 100%;
                            padding: 0;
                            z-index: 0;
                            picture {
                                position: relative;
                                display: inline-block;
                                height: 350px;
                                width: 60%;
                                float: left;
                                z-index: 0;
                                margin-left: 50px;
                                padding: 0;
                                img {
                                    width: 100%;
                                }
                            }
                            .ir_workTitle {
                                height: 350px;
                                .ir-work-section-titlebox {
                                    position: relative;
                                    display: block;
                                    float: left;
                                    width: 30%;
                                    padding: 30px;
                                    margin: 0;
                                    z-index: 2;
                                    left: -40px;
                                    top: 40%;
                                    transform: translateY(-50%);
                                    right: 0;
                                    opacity: 1;
                                    text-align: left;
                                    color: black;
                                    background-color: rgba(255, 255, 255, 0);
                                    .ir_workTitle_featured {
                                        position: relative;
                                        display: block;
                                        margin-bottom: 20px;
                                        color: #b3b3b3;
                                        font-family: 'Karla-Bold';
                                    }
                                    h3 {
                                        padding: 0;
                                    }
                                    .ir-work-section-excerpt {
                                        display: none;
                                    }
                                }

                            }
                        }
                    }
                }
            }
            #home_cultureMaster {
                position: relative;
                display: inline-block;
                width: 100%;
                height: auto;
                margin: 100px 0 20px;
                .cult_container {
                    position: relative;
                    display: inline-block;
                    width: 100%;
                    height: auto;
                    padding: 0;
                    text-align: left;
                    .cult_bg {
                        position: absolute;
                        display: block;
                        width: 75%;
                        background-color: #e8e8e8;
                        height: 80%;
                        top: 0;
                        left: 12%;
                        margin: 0 auto;
                    }
                    .cult_img {
                        position: relative;
                        display: inline-block;
                        width: 50%;
                        height: auto;
                        float: right;
                        margin-top: 30px;
                        padding: 0 55px 0 0;
                        img {
                            position: relative;
                            display: inline-block;
                            width: 100%;
                            height: auto;
                        }
                    }
                    .cult_copy {
                        position: relative;
                        display: block;
                        float: left;
                        width: 39%;
                        left: 0;
                        padding: 30px 0 30px 55px;
                        .cult_title {
                            position: relative;
                            display: inline-block;
                        }
                        .cult_content {
                            position: relative;
                            display: inline-block;
                        }
                    }
                }
            }
            #home_postsRow {
                position: relative;
                display: inline-block;
                width: 100%;
                padding: 30px;
                .homeNews_title {
                    width: 90%;
                }
                h4 {
                    font-family: 'Karla',"Larsseit Bold", Arial, "sansserif";
                    color:grey;
                    text-transform: uppercase;
                    font-size: 0.8em;
                    letter-spacing: 0.1em;
                    margin: 0 0 20px 0;
                }
                div { 
                    padding: 0;
                    margin: 0;                    
                    font-size: 1em;
                    font-family: "Larsseit Bold", Arial, "sansserif";
                    h3 {
                        text-align: left;
                        a {color:black;}
                    }
                }
                .homeNews_date {
                    font-family: 'serif';
                    font-size: 0.9em;
                    font-style: italic;
                }
                .home_postsRow4 { display: none !important; }
            }
            #home_postsRow {
                #homeNews_title {
                    width: 90%;
                }
            }
        }
    }
    
    /* Work BMW-VR */

    #page-id-179 {
        .post-179 {
            position: relative;
            display: block;
            margin: 0 auto;
            width: 768px;
            .bmw-bg {
                position: relative;
                display: block;
                margin: 138px 0 0;
                padding: 0;
                height: 400px;
                width: 768px;
                .ir-project-background-description {
                    position: absolute;
                    display: block;
                    margin: 0;
                    padding: 0;
                    width: 40%;
                    top: 33px;
                    left: 55px;
                    z-index: 1;
                }
                .ir-project-background-image {
                    position: absolute;
                    display: block;
                    margin: 0;
                    padding: 0;
                    right: 55px;
                    width: 383px;
                    z-index: 0;
                }
            }
            .ir-project-idea-container {
                position: relative;
                display: block;
                height: 580px;
                margin: 0;
                padding: 0;
                .ir-project-idea-description {
                    position: absolute;
                    display: block;
                    height: auto;
                    width: 450px;
                    top: 328px;
                    left: 95px;
                    text-align: left;
                }
                .ir-project-idea-image {
                    position: absolute;
                    display: block;
                    margin: 0;
                    padding: 0;
                    height: 175px;
                    width: 393px;
                    top: 75px;
                    left: 55px;
                }
            }
            .jp-container {
                position: relative;
                display: block;
                padding: 95px 55px 0;
            }
            .ir-project-result-container {
                position: relative;
                display: inline-block;
                margin: -85px 0 0 0;
                padding: 164px 0px 0 130px;
                float: none;
                height: 540px;
                .ir-project-result-description {
                    position: relative;
                    display: block;
                    margin: 0;
                    padding: 0;
                    width: 405px;
                }
            }
            .tool-collaboration {
                position: relative;
                display: block;
                margin: 0;
                padding: 0;
                top: -10px;
            }
        }
    }

    /* Infinity */
    #page-id-190 {
        .ir-content {
            position: relative;
            display: block;
            width: 768px;
            margin: 0 auto;
            padding: 0;
            .ir-project-background-container {
                position: relative;
                display: block;
                height: 430px;
                margin: 0 auto;
                padding: 79px 58px;
                float: none;
                .ir-project-background-description {
                    position: absolute;
                    top: 120px;
                    right: 60px;
                    width: 313px;
                    float: none;
                    z-index: 1;
                }
                .ir-project-background-image {
                    position: absolute;
                    margin: 0;
                    top: 90px;
                    left: 60px;
                    right: inherit;
                    width: 374px;
                    height: 230px;
                    float: none;
                    z-index: 0;
                    overflow: hidden;
                }
            }
            .ir-project-idea-container {
                position: relative;
                display: block;
                margin: -100px 60px 0 0;
                padding: 0;
                top: 0;
                height: 200px;
                width: 400px;
                float: right;
                .ir-project-idea-description {
                    position: relative;
                    display: block;
                    margin: 0;
                    padding: 0;
                    width: auto;
                    right: 0;
                    left: 0;
                    float: none;
                    text-align: right;
                }
                .ir-project-background-image {
                    position: relative;
                    display: block;
                    right: inherit;
                    width: 100%;
                    float: none;
                }
            }
            .ir-floating-container {
                position: relative;
                display: block;
                padding: 0;
                .ir-floating-item, .ir-floating-item-mobile {
                    display: none;
                }
                .jp-container {
                    padding: 30px 60px;
                }
                .ir-project-result-container {
                    padding: 200px 110px 25px 110px;
                    margin: -150px 0 0 0;
                    .ir-project-result-description {
                        padding: 0;
                        float: none;
                        .ir-fixed-width-button {
                            width: 250px;
                            padding: 10px 0;
                        }
                    }
                    .ir-project-result-image {
                        position: absolute;
                        display: block;
                        float: none;
                        top: 415px;
                        right: 50px;
                        margin: 0;
                        padding: 0;
                        .ir-award-container {
                            position: relative;
                            top: 0;
                            margin-bottom: -110px;
                        }
                    }
                }
                .ir-tool-wrapper {
                    margin-top: 80px;
                    margin-bottom: 60px;
                }
            }
            .infiniti-1-item-image {
                position: relative;
                display: block;
                margin: 0px 0 0 60px;
                width: 320px;
                float: none;
                height: 225px;
                picture {
                    position: absolute;
                    display: block;
                    margin: 0;
                    top: -80px;
                }
            }
            .post_slug-item-image {
                display: block;
                position: relative;
                float: none;
                right: 0;
                height: 300px;
                width: 100%;
                margin: 50px 60px 0 0;
                picture {
                    position: relative;
                    display: block;
                    float: right;
                    right: 0;
                    height: 250px;
                    width: 450px;
                    margin: 0 60px;
                }
            }
            .infiniti-result {
                padding: 230px 70px 25px 70px;
                margin: -130px 0 0 0;
            }
        }
    }

    /* Ideas/labs */
    #page-id-17 {
        .buttonGroup_btn {
            padding: 10px 25px;
            margin: 10px;
            min-width: 110px;
            line-height: 1.2;
            letter-spacing: 0.01em;
        }
    }

    /* Main Work Page */

    #page-id-9 {
        #home_postsRow { display: none; }
        .ir-work-section {
            position: relative;
            display: inline-block;
            height: 240px;
            width: 100%;
            picture {
                display: none;
            }
        }
        .ir-content {
            padding: 0;
            .ir-work-section {
                position: relative;
                display: block;
                height: 280px;
                .ir_workTitle:hover {
                    display:block;
                }
                .ir_workTitle {
                    position: relative;
                    display:none;
                    height: 280px;
                    width: 100%;
                    top: 0;
                    .ir-work-section-titlebox {
                        position: relative;
                        display: block;
                        width: 50%;
                        margin: 0 auto;
                        z-index: 1;
                        .ir_workTitle_featured {
                            display: none;

                        }
                        h3 {
                            font-size: 14px;
                            padding: 0;
                            a {color:black;}
                        }
                        .ir-work-section-subtitle {
                            display: none;
                        }
                    }
                }
            }
            .ir-work-section:hover {
                .ir_workTitle {
                    display: block;
                }
            }
        }
    }

    #page-id-19 {
        .careersOfficePicker {
            a {
                margin: 2px 20px !important;
            }
        }
        .jobListings {
            padding: 0;
        }
    }
    
    .footer-office-item {
        padding: 15px;
        .footer-office-edge-text {
            font-size: 14px;
            .ir-footer-office-item {
                font-size: 30px;
            }
        }
    }

    /* Work Arcteryx */

    #page-id-246 {
        .ir-main {
            width: 768px;
            margin: 0 auto;
        }
        .ir-content {
            padding: 0;
        }
        .ir-content-padding {
            padding: 0;
            .post-246 {
                display: block;
                width: 768px;
                margin: 0 auto;
            }
            .ir-project-page-container {
                .ir-project-background-container {
                    padding: 0;
                    height: 515px;
                    width: 768px;
                    margin: 0 auto;
                    float: none;
                    .ir-project-background-description {
                        position: absolute;
                        display: block;
                        left: 395px;
                        top: 100px;
                        width: 317px;
                        margin: 0;
                        padding: 0;
                        float: none;
                        z-index: 1;
                    }
                    .ir-project-background-image {
                        position: absolute;
                        display: block;
                        float: none;
                        width: 330px;
                        top: 110px;
                        left: 53px;
                        margin: 0;
                        padding: 0;
                    }
                }
                .ir-project-idea-container {
                    position: relative;
                    display: block;
                    height: 600px;
                    width: 768px;
                    margin: 0 auto;
                    float: none;
                    .ir-project-idea-description {
                        position: absolute;
                        width: 462px;
                        top: 53px;
                        left: 153px;
                        right: initial;
                        margin: 0;
                        padding: 0;
                        float: none;
                        z-index: 1;
                    }
                    .ir-project-background-image {
                        width: 40%;
                        right: 0;
                        position: relative;
                        display: inline-block;
                        float: right;
                    }
                    .ir-project-idea-image {
                        position: relative;
                        top: 280px;
                        left: 10px;
                        right: initial;
                        height: 360px;
                        width: 590px;
                        margin: 0;
                        padding: 0;
                        float: none;
                        z-index: 0;
                        picture {
                            float: none;
                            left: initial;
                            right: initial;
                            img {
                                max-width: none;
                                width: auto;
                                height: 420px;
                            }
                        }
                    }
                }
                .arcteryx-1-item {
                    position: relative;
                    display: block;
                    width: 768px;
                    margin: 0 auto;
                    float: none;
                    padding: 20px 55px;
                    .ir-project-item-image {
                        position: relative;
                        display: block;
                        float: none;
                        top: 95px;
                        width: 660px;
                        margin: 0 auto 70px;
                        padding: 70px;
                        background-color: #EFF1F0;
                    }
                }
                .arcteryx-2-item {
                    position: relative;
                    display: block;
                    width: 660px;
                    margin: 0 auto;
                    padding: 0;
                    float: none;
                    .ir-project-item-image {
                        margin: 0 auto;
                        padding: 0;
                        width: 660px;
                        picture {
                            width: 660px;
                        }
                    }
                }
                .ir_work_arc_idea_imgs {
                    position: relative;
                    display: block;
                    width: 100%;
                    margin: 0 auto;
                    float: none;
                    .ir_work_arc_idea_img1 {
                        position: absolute;
                        z-index: 2;
                        width: auto;
                        height: 400px;
                        margin-left: 5%;                
                    }
                    .ir_work_arc_idea_img2 {
                        position: relative;
                        display: block;
                        width: 45%;
                        margin-left: 20%;
                        margin-top: 10px;
                    }
                }
                .ir-project-result-container {
                    padding: 150px 55px 80px 113px;
                    .ir-project-result-description {
                        width: 534px;
                        padding: 0;
                    }
                }
            }
        }
    }

    /* Yokohama */
    #page-id-248 {
        .ir-content {
            padding: 0;
        }
        .ir-project-idea-container {
            padding: 0 50px;
            .ir-project-idea-image {
                margin-right: 90px;
                right: initial;
                left: initial;
                float: none;
                picture {
                    right: 60px;
                }
            }
            .ir-project-idea-description {
                position: relative;
                display: block;
                height: 600px;
                h3 {
                    padding: 0 0 0 60px;
                }
                .ir_yoko_idea {
                    position: relative;
                    display: block;
                    width: 470px;
                    padding: 0 0 0 60px;
                }
                .ir-background-fill-yokohama {
                    position: absolute;
                    display: block;
                    margin: 0;
                    float: none;
                    top: -140px;
                    right: 0;
                    left: initial;
                    height: 430px;
                    width: 546px;
                }
                .yokohama-1-item {
                    position: relative;
                    display: inline-block;
                    height: 320px;
                    width: 100%;
                    margin: 0;
                    padding: 0;
                    float: none;
                    .ir-project-item-description {
                        position: absolute;
                        display: inline-block;
                        width: 42%;
                        right: 0;
                        top: 100px;
                        margin-left: 0;
                        z-index: 2;
                    }
                    .ir-project-item-image {
                        position: relative;
                        display: inline-block;
                        float: left;
                        width: 80%;
                        left: 0;
                        text-align: left;
                    }
                }
                .yoko-1-mobile-item-image {
                    display: none;
                }
            }
            .yokohama-img-1-item {
                margin-bottom: 25px;
                padding: 0;
                float: none;
            }
            .ir__yoko_imageContainer {
                position: relative;
                display: block;
                float: none;
                margin: 0;
                height: 450px;
                width: 658px;
                background-color: #AC1E34;
                z-index: 1;
                .yokohama-img-2-item {
                    position: absolute;
                    display: block;
                    float: none;
                    margin: 0;
                    padding: 0;
                    top: 55px;
                    left: 246px;
                    height: auto;
                    width: 468px;
                    .ir-project-item-image {
                        position: relative;
                        height: auto;
                        width: 350px;
                        left: 0;
                        img {
                            height: auto;
                            width: 350px;
                        }
                    }
                }
                .yokohama-img-3-item {
                    position: absolute;
                    display: block;
                    float: none;
                    margin: 0;
                    padding: 0;
                    height: auto;
                    width: 350px;
                    top: 180px;
                    left: 60px;
                    .ir-project-item-image {
                        position: relative;
                        height: auto;
                        width: 350px;
                        left: 0;
                        img {
                            height: auto;
                            width: 350px;
                        }
                    }
                }
            }
            .ir-project-result-container {
                width: 120%;
                left: -10%;
            }
        }
    }

    /* Converse */
    #page-id-236 {
        .ir-content-padding {
            position: relative;
            display: block;
            width: 100vw;
            margin:0 auto;
            padding: 0;
            .ir-project-background-container {            
                position: relative;
                display: block;
                width: 100%;
                margin: 0;
                padding: 70px 0 80px 85px;
            }
            .ir-converse-chucks {
                .ir-converse-chucks-inner {
                    position: relative;
                    display: block;
                    width: 100%;
                    padding: 0 0 40px 0;
                    .ir-converse-shoe-icon {
                        border-width: 2px;
                        border-style: solid;
                        border-radius: 50%;
                    }
                    .ir-converse-content {
                        padding: 0 0 40px 0;
                        .ir-converse-content-inner {
                            h5 {
                                font-size: 16px;
                                margin-top: 30px;
                                margin-bottom: 5px;
                            }
                            font-size: 16px;
                        }
                    }
                    h5 {
                        font-size: 16px;
                        margin-top: 30px;
                        margin-bottom: 5px;
                    }
                    .body-copy-2 {
                        font-style: italic;
                    }
                    .ir-converse-shoe-container {
                        position: relative;
                        display: block;
                        margin: 0 auto;
                        width: 50%;
                    }
                }
            }
            .ir-project-idea-container {
                position: relative;
                display: block;
                width: 658px;
                margin: 0 auto;
                padding: 70px auto 80px;
                float: none;
                .ir-project-idea-description {
                    margin: 50px 0;
                    padding: 0 0 0 85px;
                    max-width: 65%;
                    text-align: left;
                    float: none;
                }
                .ir-project-idea-image {
                    padding-bottom: 80px;
                    .ir-vr-hover {
                        position: relative;
                        display: block;
                        margin: 0 auto;
                        padding: 0;
                        width: 658px;
                    }
                }
            }
            .ir-project-item-container {
                padding-bottom: 80px;
            }
            .converse-2-item {
                #service_anim1 {
                    position: relative;
                    display: block;
                    width: 100%;
                    height: 420px;
                    .ir-project-item-description {
                        position: relative;
                        display: block;
                        z-index: 10;
                        margin-top: 60px;
                        margin-left: 80px;
                        width: 210px;
                    }
                    .ir-project-item-image {
                        position: absolute;
                        display: block;
                        margin: 0;
                        padding: 0;
                        width: auto;
                        height: auto;
                        z-index: -1;
                        right: 40px;
                    }
                }
            }
            .ir-project-result-container {
                position: relative;
                display: block;
                z-index: -2;
            }
        }
    }

    /* Rogers */
    #page-id-247 {
        position: relative;
        display: block;
        margin: 0;
        padding: 0;
        .ir-content-padding {
            position: relative;
            display: block;
            margin: 0 auto;
            padding: 0;
            .ir-project-background-container {
                position: relative;
                display: block;
                height: 438px;
                width: 100%;
                margin: 0;
                padding: 0;
                .ir-project-background-description {
                    position: absolute;
                    display: block;
                    top: 137px;
                    right: 54px;
                    width: 344px;
                    z-index: 1;
                    float: none;
                }
                .ir-project-background-image {
                    position: absolute;
                    top: 120px;
                    left: 50px;
                }
            }
            .ir-project-idea-container {
                position: relative;
                display: block;
                margin: 0 auto;
                padding: 0;
                height: 800px;
                width: 100%;
                .ir-project-idea-description {
                    position: absolute;
                    display: block;
                    width: 468px;
                    top: 92px;
                    left: 100px;
                    margin: 0 auto;
                    padding: 0;
                    text-align: left;
                }
                .ir-project-idea-image {
                    position: relative;
                    display: block;
                    height: 422px;
                    width: 660px;
                    margin: 0 auto;
                    padding: 110px 80px;
                    top: 390px;
                    left: 55px;
                }
            }
            .rogers-1-item {
                position: relative;
                display: block;
                margin: 50px auto 0;
                width: 100%;
                height: 760px;
                .ir-project-item-image {
                    position: relative;
                    display: block;
                    float: none;
                    z-index: auto;
                    padding: 37px 72px;
                    margin: 0 auto;
                    background-color: #9AB7CC;
                    width: 660px;
                }
            }
            .rogers-2-item {
                position: relative;
                display: block;
                margin: 0 auto;
                #service_anim1 {
                    position: relative;
                    display: block;
                    margin: 50px auto -80px;
                    width: 660px;
                    height: 420px;
                    z-index: 1;
                    .ir-align-right {
                        position: absolute;
                        display: block;
                        height: 428px;
                        width: 362px;
                        padding: 40px 64px;
                        right: 0;
                        left: initial;
                        background-color: #9AB7CC;
                    }
                    .ir-align-left {
                        position: absolute;
                        display: block;
                        height: 428px;
                        width: 276px;
                        left: 0;
                        background-color: #9AB7CC;
                        padding: 80px 77px;
                    }
                }
                .ir-project-result-container {
                    margin-top: -20px;
                    padding: 0;
                    height: 445px;
                    .ir-project-result-description {
                        position: absolute;
                        display: block;
                        width: 250px;
                        margin: 0;
                        padding: 0;
                        top: 174px;
                        left: 125px;
                    }
                    .ir-project-result-image {
                        position: absolute;
                        display: block;
                        height: 190px;
                        width: 187px;
                        top: 174px;
                        right: 98px;
                    }
                }
            }
        }
    }

    /* QuickSilver Kelly */
    #page-id-249 {
        .ir-content {
            display: block;
            padding: 0;
            width: 768px;
            margin: 0 auto;
            .ir-project-background-container {
                position: relative;
                display: block;
                height: 446px;
                float: none;
                .ir-project-background-description {
                    position: absolute;
                    display: block;
                    top: 90px;
                    left: 52px;
                    width: 282px;
                    z-index: 1;
                }
                .ir-project-background-image {
                    position: absolute;
                    display: block;
                    right: 56px;
                    top: 78px;
                    z-index: 0;
                    height: 368px;
                    width: 405px;
                }
            }
            .ir-project-idea-container {
                position: relative;
                display: block;
                height: 569px;
                width: 100%;
                margin: 130px auto 0;
                padding:0;
                float: none;
                .ir-project-idea-description {
                    position: absolute;
                    display: block;
                    top: 50px;
                    right: 78px;
                    height: 350px;
                    width: 278px;
                    padding: 0;
                }
                .ir-project-idea-image {
                    position: absolute;
                    display: block;
                    top: 0;
                    left: 113px;
                    height: 472px;
                    width: 210px;
                    padding: 0;
                }
            }
            .quiksilver-kelly-1-item {
                position: relative;
                display: block;
                margin: 0 auto;
                padding: 51px 68px;
                width: 660px;
                background-color: #EBEDEC;
                float: none;
            }
            .quiksilver-kelly-2-item {
                position: relative;
                display: block;
                margin: 60px auto 0;
                padding: 0;
                width: 660px;
                background-color: #EBEDEC;
                float: none;
            }
            .ir-project-result-container {
                position: relative;
                display: block;
                height: 470px;
                margin: -140px auto 0;
                padding: 0;
                float: none;
                .ir-project-result-description {
                    position: absolute;
                    display: block;
                    top: 186px;
                    left: 122px;
                    width: 330px;
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }

    /* FOX */
    #page-id-251 { 
        .ir-content {
            padding: 0;
            width: 768px;
            .ir-project-background-container {
                padding: 80px 117px;
                float: none;
                .ir-project-background-description {
                    position: relative;
                    display: inline-block;
                    padding: 0 0 60px;
                    z-index: 1;
                    text-align: left;
                }
                .ir-project-background-image {
                    position: relative;
                    display: block;
                    padding: 0;
                }
            }
            .ir-project-idea-container {
                position: relative;
                display: block;
                margin: 0 auto 30px;
                padding: 0;
                float: none;
                .ir-project-idea-description {
                    position: relative;
                    display: block;
                    width: 530px;
                    margin: 0 auto 50px;
                    padding: 0;
                    top: 0;
                    left: 0;
                    float: none;
                }
                .ir-project-idea-image {
                    position: relative;
                    display: block;
                    margin: 0 auto;
                    padding: 0;
                    top: 0;
                    left: 0;
                    width: 660px;
                    float: none;
                    right: 0;              
                }
            }
            .fox-idol-iphone-1-item {
                display: block;
                width: 660px;
                margin: 0 auto;
                padding: 0;
                float: none;
               .ir-project-item-description {
                    position: relative;
                    display: block;
                    margin: 0 auto;
                    height: 357px;
                    float: none;
                    left: 0;
                   .ir-item-image {
                       padding: 0;
                   }
                }
            }
            .fox-idol-desktop-1-item {
                margin: 54px auto 0;
                width: 660px;
                left: 0;
                padding: 0;
                float: none;
            }
            .fox-idol-desktop-2-item {
                margin: 30px auto 0;
                width: 660px;
                left: 0;
                padding: 0;
                float: none;
            }
            .ir-project-result-container {
                display: block;
                height: 470px;
                margin-top: -140px;
                padding: 203px 130px;
            }
        }
    }

    /* About Us page-id-13 */

    #page-id-13 {
        position: relative;
        display: block;
        .banner {
            position: relative;
            display: inline-block;
        }
        .ir-button {
            font-size: 1em;
            letter-spacing: 0.1em;
            width: 80%;
        }
        .ir-content {
            position: relative;
            display: block;
            float: none;
            width: 768px;
            margin: 0 auto;
            .ir-section-item-inner {
                .ir-anchor {
                    height: auto;
                    padding: 10px 5%;
                    color: white;
                    font-family: 'Karla-Bold';
                    font-size: 1em;
                    font-weight: bold;
                    text-align: center;
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                    background-color: black;
                }
            }
            .paperless-mobile-item-image {
                display: none;
            }
            .paperless-item-image {
                position: relative;
                display: block;
                float: right;
                margin: -200px 100px 90px 0;
                padding: 0;
                width: 150px;
                img {
                    width: 150px;
                }
            }
            .ir-about-paperless-section {
                position: relative;
                display: block;
                float: none;
                height: 339px;
                width: 100%;
                padding: 0 205px 0 150px;
                .ir-section-item-inner {
                    position: relative;
                    display: block;
                    margin: 0;
                    padding: 0;
                    width: 400px;
                    max-width: none;
                }
            }
        }
    }
}