@media screen and (max-width: 320px) {

    mark {
        padding: 0.2em;
    }

    /* Home */

    #slick-carousel-position-0 {
        .ir__homeVideo_header {
            position: absolute;
            display:none;
            top: 0;
            z-index: 1;
            video {
                position: relative;
                display: block;
                height: 100vh;
                width: auto;
                left:-5%;
            }
        }
    }

    #page-id-7 {
        .home-cta {
            margin: 60px auto;
        }

        #home_master {
            position: relative;
            display: inline-block;
            width: 100%;
            text-align: center;
            color: black;
            #home_workNav {
                position: absolute;
                display: block;
                top: 130px;
                left: 20px;
                height: 100px;
                width: 10px;
                z-index: 1;
                opacity: 0;
                #nav1:hover, #nav2:hover, #nav3:hover, #nav4:hover {
                    height:50px;
                    margin-top:-25px;
                }
                #nav1, #nav2, #nav3, #nav4 {
                    position: absolute;
                    display: block;
                    height: 2px;
                    width: 100%;
                    background-color: grey;
                    -webkit-transition: all .3s ease;
                    -moz-transition: all .3s ease;
                    -ms-transition: all .3s ease;
                    -o-transition: all .3s ease;
                }
                #nav1 {
                    top: 0;
                }
                #nav2 {
                    top: 33%;
                }
                #nav3 {
                    top: 66%;
                }
                #nav4 {
                    bottom: 0;
                }
            }
            #fullpage {
                position: relative;
                display: inline-block;
                width: 100%;
                height: 240px;
                margin: 50px 0;
                overflow: hidden;
                #home_workItems {
                    position: relative;
                    display: inline-block;
                    overflow: hidden;
                    height: 240px;
                    .section {
                        display: inline-block;
                        height: 240px;
                        width: 100%;
                        .ir-work-section {
                            position: relative;
                            display: inline-block;
                            height: 240px;
                            width: 100%;
                            padding: 0;
                            z-index: 0;
                            picture {
                                position: relative;
                                display: inline-block;
                                height: 240px;
                                width: 165px;
                                float: left;
                                z-index: 0;
                                margin-left: 50px;
                                padding: 0;
                                img {
                                    width: 100%;
                                }
                            }
                            .ir_workTitle {
                                position: relative;
                                display: block;
                                height: 240px;
                                width: 15%;
                                float: left;
                                margin-left: -10px;
                                .ir-work-section-titlebox {
                                    position: relative;
                                    display: block;
                                    float: left;
                                    width: 100%;
                                    margin: 0;
                                    padding: 0;
                                    z-index: 2;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    right: 0;
                                    opacity: 1;
                                    text-align: left;
                                    color: black;
                                    background-color: rgba(255, 255, 255, 0);
                                    .ir_workTitle_featured {
                                        position: relative;
                                        display: block;
                                        margin-bottom: 20px;
                                        color: #b3b3b3;
                                        font-size: 12px;
                                        font-family: 'Karla-Bold';
                                    }
                                    h3 {
                                        padding: 0;
                                    }
                                    .ir-work-section-excerpt, .ir-work-section-subtitle {
                                        display: none;
                                    }
                                }

                            }
                        }
                    }
                }
            }
            #home_cultureMaster {
                position: relative;
                display: inline-block;
                width: 100%;
                height: 400px;
                margin: 100px 0;
                .cult_container {
                    position: relative;
                    display: inline-block;
                    width: 100%;
                    height: 450px;
                    padding: 50px;
                    text-align: left;
                    .cult_bg {
                        position: absolute;
                        width: 100%;
                        background-color: #e8e8e8;
                        height: 105%;
                        left: 0;
                        margin: 0;
                    }
                    .cult_img {
                        position: absolute;
                        width: 100%;
                        left: 0;
                        margin-top: -100px;
                        padding: 0 20px;
                        img {
                            position: relative;
                            display: inline-block;
                            width: 100%;
                            height: auto;
                        }
                    }
                    .cult_copy {
                        position: absolute;
                        display: block;
                        float: left;
                        width: 100%;
                        left: 0;
                        margin-top: 230px;
                        padding: 0 20px;
                        .cult_title {
                            position: relative;
                            display: inline-block;
                        }
                        .cult_content {
                            position: relative;
                            display: inline-block;
                        }
                    }
                }
            }
            #home_postsRow {
                position: relative;
                display: inline-block;
                width: 100%;
                padding: 50px 30px;
                .homeNews_title {
                    width: 90%;
                }
                h4 {
                    font-family: 'Karla',"Larsseit Bold", Arial, "sansserif";
                    color:grey;
                    text-transform: uppercase;
                    font-size: 0.8em;
                    letter-spacing: 0.1em;
                    margin: 0 0 20px 0;
                }
                div { 
                    padding: 0;
                    margin: 0;                    
                    font-size: 1em;
                    font-family: "Larsseit Bold", Arial, "sansserif";
                    h3 {
                        text-align: left;
                        a {color:black;}
                    }
                }
                .homeNews_date {
                    font-family: 'serif';
                    font-size: 0.9em;
                    font-style: italic;
                }
                .home_postsRow1 {
                    margin-top: 20px;
                }
                .home_postsRow2 { display: none !important; }
                .home_postsRow3 { display: none !important; }
                .home_postsRow4 { display: none !important; }
            }
        }
    }
    
    .ir-work-section {
        .ir-work-section { /* todo: get height of parent and place center line in buffer positioner */
            .ir-work-section-titlebox {
                position: absolute;
                background-color: rgba(255, 255, 255, 0.9);
                right: 10px;
                top: 20%;
                h3 {
                    padding: 0;
                }
                .ir-work-section-subtitle {
                    display: none;

                }
            }
        }
    }

    /* Contact */

    #page-id-833 {
        .ir-content {
            padding:0;
        }

        .contact-getInTouch {
            position: relative;
            display: inline-block;
            width: 100%;
            padding: 30px;
            .contactGetInTouch-left {
                position: relative;
                display: inline-block;
                width: 100%;
                padding: 0;
            }
            .contactGetInTouch-Right {
                position: relative;
                display: inline-block;
                width: 100%;
                padding: 0;
            }

        }
        .contact-ourOffices {
            position: relative;
            display: inline-block;
            padding: 3em 0 0;
            margin: 0 30px 3em 30px;
            background-color: #eff1f0;
            text-align: center;
            width: 80%;
        }

        .contact-getInTouch {
            position: relative;
            display: inline-block;
            width: 100%;
        }

        .contactGetInTouch-left {
            position: relative;
            display: inline-block;
            float: left;
            padding: 2em 2em 2em 5em;
            width:50%;
        }

        .contactGetInTouch-left h2 {
            font-size: 1.1em;
        }

        .contactGetInTouch-Right {
            position: relative;
            display: inline-block;
            float: right;
            width:50%;
            padding: 3.5em 0;
        }

        .contact_genTitle {
            font-size: 0.9em;
            text-transform: uppercase;
        }

        .contact_genMail {
            padding: 0 0 1.5em 0;
            position: relative;
            display: inline-block;
        }


        .contact_genMail a {
            color: black;
        }

        .contactOffice {
            position: relative;
            display: inline-block;
            text-align: center;
        }

        .contact-ourOffices h4 {
            font-size: 1em;
            text-transform: uppercase;
            color: gray;
        }

        .contactOffice__details {
            margin: 2em 0 4em 0;
        }

        .contactOffice-address {
            font-family: baskerville-urw;
            font-size: 1em;
            font-style: italic;
            list-style: none;
            padding: 0;
            margin-bottom: 2em;
        }
    }
    

    /* Office Major Container */

    #page-id-140 {
        padding: 0;
        .ir-content-padding {
            padding: 0 2em;
        }
    }

    #office-content {
        position: relative;
        display: inline-block;
        width: 100%;
        padding: 0;
    }
    .office-leftCtn {
        position: relative;
        display: inline-block;
        float: right;
        padding: 20px 0;
    }

    .office-rightCtn {
        position: relative;
        display: inline-block;
        float: left;
        padding: 0;
        h3 {
            padding:0;
        }
    }

    .office-aboutOffice {
        position: relative;
        display: inline-block;
        width: 100%;
    }

    .office-cityScape {
        position: relative;
        display: inline-block;
        width: 100%;
        overflow: hidden;
        margin: 0;
    }

    .office-cityDescritption {
        position: relative;
        display: inline-block;
        margin: 50px 0 0 0;
    }

    .office-rebelsRecommend {
        position: relative;
        display: inline-block;
        width: 100%;
        margin: 0;
        text-align: center;
         .office-centerTitle {
            position: relative;
            display: block;
            text-align: center;
        }
        .rebelsRecommend {
            position: relative;
            display: block;
            text-align: center;
            margin: 30px 0 0 0;
        }
        .office-rebsRec {
            padding: 20px 0;
        }
    }

    .office-officeImage {
        position: relative;
        display: inline-block;
        width: 100%;
        margin: 0 0 50px 0;
        .officeCityScape {
            width: 100%;
            picture {
                position: absolute;
                display: inline-block;
                width: 100%;
                height: auto;
                top: 0;
            }

            img {
                position: relative;
                display: block;
                width: 100%;
            }
        }
    }

    .office-jobListings {
        position: relative;
        display: inline-block;
        margin: 0;
        background-color: #EFF1F0;
        width: 100%;
        padding: 50px 0 0;
        margin-bottom: 50px;
        text-align: center;
    }

    .office-jobPostings {
        position: relative;
        display: inline-block;
        margin: 0;
        background-color: #EFF1F0;
        width: 100%;
        padding: 50px 0 0;
        text-align: center;
        .jobListings {
            position: relative;
            display: inline-block;
            padding: 0;
            .job {
                margin: 2em .5em 3em .5em;
            }
        }
        h9 {
            position: relative;
            display: inline-block;
            width: 100%;
            margin: 0;
        }
    }

    /* About Us page-id-13 */

    #page-id-13 {
        position: relative;
        display: inline-block;
        .banner {
            position: relative;
            display: inline-block;
        }
        .ir-button {
            padding: 15px;
            font-size: 1em;
            letter-spacing: 0.1em;
            width: 80%;
        }
        .ir-section-item-inner {
            .ir-anchor {
                height: auto;
                width: 90%;
                padding: 10px;
                color: white;
                font-family: 'Karla';
                font-size: 1em;
                font-weight: bold;
                text-align: center;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                background-color: black;
            }
        }
    }

    /* Services Page */

    .page-id-15 {

        .col-xs-12 {
            float: none;
        }
        .post-15 {
            .ir-content {
                position: relative;
                display: block;
                width: 320px;
                margin: 0 auto;
                padding: 0;
                float: none;
                .ir-project-item-container {
                    position: relative;
                    display: block;
                    float: none;
                    padding: 0;
                    #service_anim1 {
                        position: relative;
                        display: block;
                        z-index: 1;
                        .ir-project-item-description {
                            position: relative;
                            display: block;
                            margin: 37px 30px;
                        }
                        .ir-project-item-image {
                            position: relative;
                            display: block;
                            float: none;
                            right: -40px;
                        }
                    }
                    #anim__1{
                        position: relative;
                        display: block;
                        top: -25px;
                        z-index: 0;
                        .digitalIcons {
                            height: 670px;
                            margin: 0;
                            padding: 43px 0;
                            .digitalIcon {
                                position: relative;
                                display: block;
                                margin: 0;
                                .digitalIcon_top {
                                    img {
                                        width: 62px;
                                    }
                                }
                                .digitalIcon_bottom {
                                    padding: 25px 0 0 0;
                                }
                                .digitalIcon_name {
                                    font-size: 12px;
                                }
                            }
                        }
                    }                
                }
            }
        }
        #section__container {
            position: relative;
            display: block;
            float: none;
            width: 320px;
            margin: 0 auto;
            #servicesTimeline {
                position: relative;
                display: block;
                float: none;
                padding: 0;
                margin: 0;
                .timelineBackground {
                    position: relative;
                    display: block;
                    width: 100%;
                    text-align: center;
                    color: #999;
                    font-family: 'Karla-Bold';
                    font-size: 12px;
                    margin: 20px 0 0 0;
                }
                .timelineBackground-startTime {
                    display: none;
                }
                .timelineBackground-startTime__lineTop {
                    position: absolute;
                    display: block;
                    margin: 0 auto;
                    left: 160px;
                    height: 1000px;
                    width: 3px;
                    background-color: #ccc;
                }
            }
            #services_timeItems {
                position: relative;
                display: block;
                z-index: 1;
                .serviceItem_strategy {
                    .serviceItem_descriptionWrapper {
                        position: relative;
                        display: block;
                        margin: 20px auto;
                        padding: 20px 0 5px 0;
                        width: 270px;
                        float: none;
                        background-color: white;
                        .serviceItem_icon {
                            width: 150px;
                            height: 150px;
                            position: relative;
                            margin-bottom: -50px;
                            top: -40px;
                            z-index: 1;
                        }
                        .serviceItem_name {
                            margin: -50px 0 0 0;
                        }
                        h3 {
                            position: relative;
                            z-index: 2;
                            font-weight: bold;
                        }
                        .serviceItem_description {
                            background-color: rgba(0, 0, 0, 0);
                            top: -50px;
                            padding: 0;
                        }
                    }
                    .serviceItem_imageWrapper {
                        margin: 0 auto;
                        width: 280px;
                        float: none;
                        padding: 0;
                    }
                    .service__keywords-1 {
                        margin: 20px 0;
                    }
                }
            }
        }

        #para_0, #para_1, #para_2, #para_3 {
            position: relative;
            display: block;
            float: none;
        }

        #anim_0, #anim_1, #anim_2, #anim_3 {
            padding: 100px 0;
            float: none;
        }
    }

    /* Contact page*/

    .contact-getInTouch {
        position: relative;
        display: inline-block;
        width: 100%;
    }

    .contactGetInTouch-left {
        position: relative;
        display: inline-block;
        float: left;
        padding: 2em 2em 2em 5em;
        width:50%;
    }

    .contactGetInTouch-left h2 {
        font-size: 1.1em;
    }

    .contactGetInTouch-Right {
        position: relative;
        display: inline-block;
        float: right;
        width:50%;
        padding: 3.5em 0;
    }

    .contact_genTitle {
        font-size: 0.9em;
        text-transform: uppercase;
    }

    .contact_genMail {
        padding: 0 0 1.5em 0;
        position: relative;
        display: inline-block;
    }


    .contact_genMail a {
        color: black;
    }

    .contactOffice {
        position: relative;
        display: inline-block;
        text-align: center;
    }

    .contact-ourOffices {
        position: relative;
        display: inline-block;
        padding: 3em 0 0;
        margin: 3em 0;
        background-color: #eff1f0;
        text-align: center;
    }

    .contact-ourOffices h4 {
        font-size: 1em;
        text-transform: uppercase;
        color: gray;
    }

    .contactOffice__details {
        margin: 2em 0 4em 0;
    }

    .contactOffice-address {
        font-family: baskerville-urw;
        font-size: 1em;
        font-style: italic;
        list-style: none;
        padding: 0;
        margin-bottom: 2em;
    }

    // Labs

    .labPost__container {
        position: absolute;
        display: block;
        left: 50%;
        top: 0;
        width: 100%;
        height: 100%;
    }

    // Careers

    .careersOfficePicker {
        position: relative;
        text-align: center;
        margin: 3em;
    }

    .jobListing {
        position: relative;
        text-align: center;
        margin: 5em;
    }

    .jobTitle h3:hover {
        text-decoration: underline;
    }

    /*// Job posting*/

    .jobpost {
        position: relative;
        margin: 3em 0;
    }

    .jobpost-footer {
        position: relative;
        text-align: center;
        margin: 5em;
    }



    /* Work Pages */

    /* Infinity */
    #page-id-190 {
        .ir-content {
            position: relative;
            display: block;
            width: 320px;
            margin: 0 auto;
            padding: 0;
            .ir-project-background-container {
                position: relative;
                display: block;
                padding: 0 30px;
                margin: 30px auto 0;
                float: none;
                .ir-project-background-image {
                    position: relative;
                    display: block;
                    margin: 50px auto 0;
                }
            }
            .ir-project-idea-container {
                position: relative;
                display: block;
                .ir-project-idea-description {
                    position: relative;
                    display: block;
                    width: 262px;
                    margin: 38px auto 0;
                    float: none;
                    text-align: left;
                }
                .ir-project-background-image {
                    position: relative;
                    display: block;
                    width: 262px;
                    margin: 38px auto 0;
                    float: none;
                }
            }
            .ir-floating-container {
                position: relative;
                display: block;
                margin: 0 auto;
            }
            .post_slug-item-image {
                position: relative;
                display: none;
            }
            .infiniti-1-item-image {
                position: relative;
                display: none;
            }
        }
    }

    /* Work Converse*/
    #page-id-236 {
        .ir-content-padding {
            position: relative;
            display: block;
            padding: 0;
        }
        .ir-project-background-container {
            position: relative;
            display: block;
            margin: 0;
            padding: 45px 0;
            .ir-project-background-description {
                position: relative;
                display: block;
                margin: 0;
                padding: 0 28px;
            }
            .ir-project-background-image {
                height: auto;
                position: relative;
                display: inline-block;
                float: right;
                right: 0;
            }
        }
        .ir-converse-chucks {
            .ir-converse-shoe-container {
                padding: 15px 0;
                margin: 0 10px;
                width: 125px;
                .ir-converse-shoe-icon {
                    border-width: 2px;
                    border-style: solid;
                    border-radius: 50%;
                }
            }
            .ir-converse-content-inner {
                h5 {
                    font-size: 13px;
                    margin-top: 30px;
                    margin-bottom: 5px;
                }
                .body-copy-2 {
                    font-style: italic;
                }
            }
        }
        .ir-project-idea-container {
            position: relative;
            display: block;
            margin: 0;
            padding: 25px 28px;
            text-align: left;
            .ir-project-idea-description {
                position: relative;
                display: block;
                margin: 0 0 40px;
                padding: 0;
                text-align: left;
            }
            .ir-vr-hover {
                padding:0;
            }
        }
        .converse-1-item {
            .ir-project-item-image {
                position: relative;
                display: block;
                width: 264px;
                margin: 30px auto;
            }
        }
        .converse-2-item {
            position: relative;
            display: block;
            margin: 0;
            padding: 0 25px;
            #service_anim1 {
                position: relative;
                display: block;
                height: auto;
                width: auto;
                margin: 0;
                padding: 0;
                text-align: left;
                    .ir-project-item-description {
                        position: relative;
                        display: block;
                        height: auto;
                        width: auto;
                        left: 0;
                        margin: 0;
                        padding: 0 0 50px;
                        text-align: left;
                    }
                    .ir-project-item-image {
                        position: relative;
                        display: inline-block;
                        right: 0;
                        top: 0;
                        height: auto;
                        z-index: 1;
                    }
            }
            .ir-project-result-container{
                position: relative;
                display: block;
                width: 112vw;
                left: -10vw;
                top: 100px;
                padding-top: 100px;
                margin-top: -170px;
                .ir-project-result-description {
                    padding-right: 0;
                    width: 85vw;
                    .button {
                        padding: 10px 10px;
                        height: 40px;
                    }
                }
                .ir-project-result-image {
                    width: 264px;
                }
            }
            .tool-collaboration {
                position: relative;
                display: inline-block;
                width: 112%;
                left: -6%;
                margin-top: 100px;
            }
        }
    }

    /* Work BMW-VR */

    #page-id-179 {
        .ir-project-background-container {
            .ir-project-background-description {
                text-align: left;
                z-index: 1;
            }
            .ir-project-background-image {
                display: inline-block;
                padding-bottom: 30px;
                margin-top: -50px;
                right: -30px;
                width: 80%;
                float: right;
                z-index: 0;
            }
        }
        .ir-project-idea-container {
            padding: 0 20px;
            .ir-project-idea-description {
                margin: 0;
                position: relative;
                display: inline-block;
                padding: 0;
                text-align: left;
            }
            .ir-project-idea-image {
                padding: 0;
                right: 0;
            }
        }
        .jp_container {
            padding: 0px 70px;
        }
        .ir-project-result-container {
            .ir-project-result-description {
                padding: 0px;
                .ir-fixed-width-button {
                    margin-top: 2em;
                }
            }
            .ir-project-result-image {            
                position: relative;
                display: inline-block;
            }
        }
    }

    /* Work 7-11 *** CURRENTLY NOT PUBLISHED TO PUBLIC - 2016, Friday... THE THIRTEENTH BWWOOOHAAAHHAAAAAAA*/

    #page-id-278 {
        .ir-content-padding {
            padding: 80px 70px 0 70px;
            .ir-main {
                .ir-project-background-container {
                    padding: 0px 0px;
                    .ir-project-background-description {
                        position: relative;
                        display: inline-block;
                        width: 340px;
                        float: right;
                        top: 110px;
                        left: -20%;
                        z-index: 1;
                    }
                    .ir-project-background-image {
                        position: relative;
                        display: inline-block;
                        width: auto;
                        float: left;
                        left: 0;
                    }
                }
            }
        }
    }

    /* Work Arcteryx */

    #page-id-246 {
        .ir-content-padding {
            padding: 0;
            width: 320px;
            .ir-project-page-container {
                .ir-project-background-container {
                    padding: 38px 20px;
                    .ir-project-background-description {
                        position: relative;
                        display: block;
                        width: 100%;
                        margin: 0;
                        float: left;
                        z-index: 1;
                        padding: 0 0 40px 0;
                    }
                    .ir-project-background-image {
                        position: relative;
                        display: inline-block;
                        width: 280px;
                        margin: 0 auto;
                        padding: 0;
                    }
                }
                .ir-project-idea-container {
                    position: relative;
                    display: block;
                    margin: 20px;
                    .ir-project-idea-description {                    
                        position: relative;
                        display: block;
                        width: 90%;
                        left: 0;
                        padding: 0;
                        margin: 0;
                    }
                    .ir-project-background-image {
                        width: 40%;
                        right: 0;
                        position: relative;
                        display: inline-block;
                        float: right;
                    }
                    .ir-project-idea-image {
                        position: relative;
                        display: block;
                        top: 0;
                        padding: 40px 0;
                        float: left;
                        left: 0;
                        right: 0;
                        width: 280px;
                        z-index: 0;
                        margin: 0;
                    }
                }
                .ir_work_arc_idea_imgs {
                    position: relative;
                    display: inline-block;
                    width: 100%;
                    margin: 50px 0;
                    .ir_work_arc_idea_img1 {
                        position: absolute;
                        display: block;
                        margin-left: -50px;
                        width: 60%;
                        z-index: 2;
                    }
                    .ir_work_arc_idea_img2 {
                        position: relative;
                        display: block;
                        width: 100%;
                        margin: 20px 0;
                    }
                }
                .arcteryx-1-item {
                    background-color: #EFF1F0;
                    padding-bottom: 30px;
                    padding-top: 30px;
                    position: relative;
                    display: inline-block;
                    .ir-project-item-image {
                        position: relative;
                        display: block;
                        margin: 0 auto;
                        padding: 60px;
                        width: 320px;
                        background-color: #EDEFEE;
                    }
                }
                .arcteryx-2-item {
                    .ir-project-item-image {
                        width: 280px;
                        margin: 40px auto -40px;
                        picture {
                            width: 280px;
                        }
                    }
                }
                .ir-project-result-container {
                    margin-top: 0;
                    .ir-project-result-description {
                        padding: 0 0 20px;
                    }
                    .ir-project-item-image {
                        width: 280px;
                        margin: 40px auto -40px;
                    }
                }
            }
        }
    }

    /* Pick and Play */

    #page-id-247 {
        .ir-content {
            padding: 0;
            .ir-project-background-container {
                padding: 38px 28px;
                .ir-project-background-description {
                    position: relative;
                    display: inline-block;
                    float: left;
                }
                .ir-project-background-image {
                    position: relative;
                    display: inline-block;
                    float: right;
                }
            }
            .ir-project-idea-container {
                position: relative;
                display: inline-block;
                padding: 0 28px;
                margin: 0;
                .ir-project-idea-description {
                    position: relative;
                    display: inline-block;
                    float: right;
                    z-index: 1;
                    padding: 0;
                    left: 0;
                    right: 0;
                    text-align: left;
                }
                .ir-project-idea-image {
                    position: relative;
                    display: inline-block;
                    float: left;
                    z-index: 0;
                    padding: 20px;
                    line-height: 0;
                    right: 0;
                    left: 0;
                }
            }
            .rogers-1-item {
                position: relative;
                display: inline-block;
                background-color: #9BB7CC;
                padding: 20px;
                margin: 20px;
                left: 0%;
                width: auto;
            }
            .rogers-2-item {
            position: relative;
            display: inline-block;
            padding: 0 20px;
                #service_anim1 {
                    position: relative;
                    display: inline-block;
                    width: 100%;
                    .ir-project-item-description {
                        position: relative;
                        display: inline-block;
                        float: right;
                        left: 0;
                        z-index: 1;
                        .ir-image {
                            width: auto;
                            float: right;
                        }
                    }
                    .ir-project-item-image {
                        position: relative;
                        display: inline-block;
                        margin-bottom: -50px;
                        padding: 20px 0;
                        float: left;
                        left: 0;
                        z-index: 1;
                        text-align: center;
                        picture {
                            background-color: #9BB7CC;
                            position: relative;
                            display: block;
                            img {
                                width:auto;
                            }
                        }            
                    }
                }
            }
            .ir-project-result-container {
                position: relative;
                display: inline-block;
                left: -10%;
                width: 120%;
                margin: 0;
                .ir-project-result-image img {
                    width: 190px;
                    margin: 20px 0;
                }
            }
        }
    }


    /* Careers? */
    #page-id-19 {
        .careersOfficePicker {
             a {
                margin: 2px 20px !important;
            }
        }
        .jobListings {
            padding: 0;
        }
    }

    /* Yokohama */
    #page-id-248 {
        .ir-content {
            padding: 0;
            .yokohama-bg {
                padding: 20px !important;
                .ir-project-background-description {
                    padding: 20px 0;
                    z-index: 1;
                }
                .ir-project-background-image {
                }
            }
            .ir-project-idea-container {
                .ir-project-idea-description {
                    .yoko-1-mobile-item-image {
                        padding: 50px 0 0 0;
                    }
                }
            }
            .yokohama-idea {
                padding: 0;
                .ir-project-idea-description {
                    padding: 0 20px;
                }
                .yokohama-img-1-item {
                    padding: 0 20px 40px;
                    text-align: center;
                    .ir-project-item-image {
                        position: relative;
                        display: inline-block;
                        padding: 0;
                        left: 0;
                    }
                }
                .yokohama-img-2-item {
                    padding: 0 20px;
                    text-align: center;
                    .ir-project-item-image {
                        position: relative;
                        display: inline-block;
                        padding: 0;
                        left: 0;
                    }
                }
            }

            .yokohama-1-item {
                padding: 0;
                .ir-project-item-description {
                    z-index: 1;
                }
                #service_anim1 {
                    position: relative;
                    padding: 0;
                    left: 0;
                    right: 0;
                    .ir-project-item-image {
                        .ir-section-image {
                            padding: 20px 0;
                        }
                    }
                }
                .ir-project-result-container {
                    width: 120%;
                    left: -10%;
                }
            }
        }
    }

    /* QuickSilver Kelly */
    #page-id-249 {
        .ir-content {
            padding: 0;
            width: 320px;
            .quiksilver-kelly-bg {
                position: relative;
                display: inline-block;
                padding: 20px;
                .ir-project-background-description {
                    position: relative;
                    display: inline-block;
                    padding: 20px 0 50px 0;
                    z-index: 1;
                    text-align: left;
                }
                .ir-project-background-image {
                    position: relative;
                    display: inline-block;
                    float: right;
                }
            }
            .quiksilver-kelly-idea {
                position: relative;
                display: inline-block;
                padding: 0;
                .ir-project-idea-description {
                    width: 100%;
                    padding: 40px 20px 0;
                    text-align: left;               
                }
                .ir-project-idea-image {
                    position: relative;
                    display: block;
                    padding: 0;
                    margin: 0 auto;
                    width: 205px;
                    float: none;               
                }
            }
            .quiksilver-kelly-1-item {
               padding: 30px 20px;
            }
            .quiksilver-kelly-2-item {
                padding: 0px 20px 50px 20px;
            }
        }
    }

    /* FOX */
    #page-id-251 {
        .ir-content {
            padding: 0;
            width: 320px;
            .ir-project-background-description {
                position: relative;
                display: inline-block;
                padding: 20px 0 50px 0;
                z-index: 1;
                text-align: left;
            }
            .ir-project-background-image {
                position: relative;
                display: inline-block;
            }
            .ir-project-idea-container {
                position: relative;
                display: inline-block;
                padding: 0;
                .ir-project-idea-description {
                    width: 100%;
                    padding: 40px 20px 0;
                    text-align: left;
                    float: none;
                }
                .ir-project-idea-image {
                    position: relative;
                    display: block;
                    padding: 0;
                    margin: 40px auto 0;
                    width: 265px;
                    float: none;              
                }
            }
            .fox-idol-iphone-1-item {
               padding: 30px 20px;
               .ir-item-image {
                   padding: 20px 0;
               }
            }
            .fox-idol-desktop-1-item {
                padding: 0px 20px 50px 20px;
            }
            .fox-idol-desktop-2-item {
                padding: 0px 20px 50px 20px;
            }
            .ir-project-result-container {
                margin-top: -100px;
                padding-top: 100px;
            }
        }
    }

    /* Labs/Ideas */
    #page-id-17 {
        .buttonGroup_btn {
            margin: 15px;
        }
        .labPosts {
            overflow: hidden;
        }
    }

    /* Work page */
    #page-id-9 {
        .ir-content {
            padding: 0;
            #home_master {
                position: relative;
                display: inline-block;
                width: 100%;
                text-align: center;
                #home_workNav {                
                    display: none;
                }
                #fullpage {
                    position: relative;
                    display: inline-block;
                    width: 100%;
                    #home_workItems {
                        position: relative;
                        display: inline-block;
                        overflow: hidden;
                        .section {
                            position: relative;
                            display: inline-block;
                            height: 240px;
                            width: 100%;
                            overflow: hidden;
                            .ir-work-section {
                                position: relative;
                                display: inline-block;
                                z-index: 0;
                                overflow: hidden;
                                width: 100%;
                                height: 240px;
                                .ir_workTitle {
                                    position: relative;
                                    display: block;
                                    left: 0;
                                    padding: 0;
                                    top: calc(50% - 40px);
                                    margin: 0 auto;
                                }
                                picture {
                                    position: relative;
                                    display: none;
                                }
                                .ir-work-section-titlebox {
                                    position: relative;
                                    display: inline-block;
                                    z-index: 2;
                                    margin: 0 auto;
                                    width: 275px;
                                    text-align: center;
                                    color: black;
                                    background-color: #ffffff;
                                    .ir_workTitle_featured {
                                        display: none;
                                    }
                                    h3 {
                                        padding: 0;
                                        a {color: black;}
                                    }
                                    .ir-work-section-subtitle {
                                        display: none;
                                    }
                                    .ir-work-section-excerpt {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
                #home_cultureMaster {
                    display: none;
                }
                #home_postsRow {
                    display: none;
                }
            }
        }
    }

    footer {
        position: relative;
        z-index:1000;
        .footer-office-item {
            padding: 15px 40px;
            .footer-office-edge-text {
                font-size: 14px;
                .ir-footer-office-item {
                    font-size: 30px;
                }
            }
        }

        .footer-office .row {
            padding: 0 1em;
        }
        .footer-offices-inner {
            width: auto;
        }
        .footer-office-time {
            position: absolute;
            width: 105%;
            left: 40%;
            padding-left: 41%;
            text-align: left;
            /* FF Chrome Opera etc */
            -webkit-transform: rotate(90deg); 
            -moz-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            /* IE */
            filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
        }
        .footer-office-weather {
            position: absolute;
            padding-left: 42%;
            left: -42%;
            width: 100%;
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
        }
    }

    /* Media Kit */
    .page-id-6419 {
        .banner {
            height: 50vh;
            .header-ir-image-full {
                height: 50vh !important;
                .header-ir-titlebox {
                    top: calc(25% - 46.5px) !important;
                }
            }
        }
        #ir__mediaKit {
            .ir__mk_intro {
                position: relative;
                display: block;
                h2 {
                    margin: 90px 0 65px 0;
                }
                h2 a {
                    color: black;
                    font-size: 20px;
                }
            }
            .ir__mk_logos {
                position: relative;
                display: block;
                background-color: #EFF1F0;
                text-align: center;
                .ir__mk_logosTitle {
                    position: relative;
                    display: block;
                    margin: 15px;
                    color: #B3B3B3;
                    font-size: 14px;
                    font-family: 'Karla-Bold';
                }
                .ir__mk_logosAssets {
                    position: relative;
                    display: block;
                    .ir__mk_logosAssetsCopy {
                        position: relative;
                        margin: 15px;
                        font-family: 'Karla-Bold';
                        font-size: 14px;
                    }
                    .ir__mk_logosBtns {
                        position: relative;
                        display: block;
                        a {
                            position: relative;
                            display: block;
                            width: 80%;
                            margin: 20px auto;
                            padding: 10px 35px;
                            background-color: black;
                            color: white;
                        }
                    }
                }
            }
        }
    }
}