@media screen and (min-width: 769px) and (max-width: 1024px) {

    /* Home */

    #page-id-7 {
        #home_master {
            position: relative;
            display: inline-block;
            width: 100%;
            text-align: center;
            #home_workNav {
                position: absolute;
                display: block;
                top: 125px;
                left: 20px;
                height: 250px;
                width: 20px;
                z-index: 1;
                opacity: 0;
                #nav1:hover, #nav2:hover, #nav3:hover {
                    height:50px;
                    margin-top:-25px;
                }
                #nav1, #nav2, #nav3 {
                    position: absolute;
                    display: block;
                    height: 2px;
                    width: 100%;
                    background-color: grey;
                    -webkit-transition: all .3s ease;
                    -moz-transition: all .3s ease;
                    -ms-transition: all .3s ease;
                    -o-transition: all .3s ease;
                }
                #nav1 {
                    top: 0;
                }
                #nav2 {
                    top: 33%;
                }
                #nav3 {
                    top: 66%;
                }
            }
            #fullpage {
                position: relative;
                display: inline-block;
                width: 768px;
                height: 450px;
                overflow: hidden;
                .section {
                    display: inline-block;
                    height:450px;
                    .ir-work-section {
                        position: relative;
                        display: inline-block;
                        padding: 50px 0 0 10px;
                        z-index: 0;
                        picture {
                            position: relative;
                            display: inline-block;
                            width: 70%;
                            float: left;
                            z-index: 0;
                            padding: 0 0 0 35px;
                        }
                        .ir-work-section-titlebox {
                            position: relative;
                            display: inline-block;
                            float: right;
                            width: 30%;
                            padding: 30px;
                            margin: 20px 0;
                            z-index: 2;
                            left: -40px;
                            right: 0;
                            opacity: 1;
                            text-align: left;
                            color: black;
                            background-color: rgba(255, 255, 255, 0.8);
                            .ir-work-section-subtitle {
                                margin-bottom: 30px;
                            }
                            .ir-work-section-excerpt {
                            }
                        }
                    }
                }
            }
            .cult_container {
                position: relative;
                display: inline-block;
                width: 100%;
                padding: 30px;
                .cult_bg {
                    position: absolute;
                    width: 80%;
                    background-color: #e8e8e8;
                    height: 80%;
                    margin: -30px 40px 30px 50px;
                }
                .cult_img {
                    position: relative;
                    display: inline-block;
                    float: right;
                    width: 60%;
                    img {
                        position: relative;
                        display: inline-block;
                        width: 100%;
                        height: auto;
                    }
                }
                .cult_copy {
                    position: relative;
                    display: inline-block;
                    float: left;
                    width: 40%;
                    padding: 0 20px 0 0;
                    .cult_title {
                        position: relative;
                        display: inline-block;
                    }
                    .cult_content {
                        position: relative;
                        display: inline-block;
                    }
                }
            }
        }
        .footer-offices {
            padding: 0 30px;
        }            
    }

    /* Office Major Container */

    #page-id-140 {
        padding: 0;
        .ir-content-padding {
            padding: 0 2em;
        }
    }

    #office-content {
        position: relative;
        display: inline-block;
        width: 100%;
        padding: 4em 0;
    }
    .office-leftCtn {
        position: relative;
        display: inline-block;
        float: left;
        width: 50%;
        padding: 0 80px 0 65px;
    }

    .office-rightCtn {
        position: relative;
        display: inline-block;
        float: right;
        width: 50%;
        padding: 0 65px 0 0;
        h3 {
            padding:0 0 50px 0;
        }
    }

    .office-aboutOffice {
        position: relative;
        display: inline-block;
        width: 100%;
    }

    .office-cityScape {
        position: relative;
        display: inline-block;
        width: 100%;
        overflow: hidden;
        margin: 80px 0 0 0;
    }

    .office-cityDescritption {
        position: relative;
        display: inline-block;
        margin: 60px 0 0 0;
    }

    .office-rebelsRecommend {
        position: relative;
        display: inline-block;
        width: 100%;
        margin: 50px 0;
        text-align: center;
         .office-centerTitle {
            position: relative;
            display: block;
            text-align: center;
        }
        .rebelsRecommend {
            position: relative;
            display: block;
            text-align: center;
            margin: 30px 0 0 0;
        }
    }

    .office-officeImage {
        position: relative;
        display: inline-block;
        width: 100%;
        margin: 80px 0 0 0;
        .officeCityScape {
            width: 100%;
            picture {
                position: absolute;
                display: inline-block;
                width: 100%;
                height: auto;
                top: 0;
            }

            img {
                position: relative;
                display: block;
                width: 100%;
            }
        }
    }

    .office-jobListings {
        position: relative;
        display: inline-block;
        margin: 80px 0 0 0;
        background-color: #EFF1F0;
        width: 100%;
        padding: 60px 0 0;
        text-align: center;
    }

    .office-jobPostings {
        position: relative;
        display: inline-block;
        .jobListings {
            position: relative;
            display: inline-block;
            padding: 0;
        }
        h9 {
            position: relative;
            display: inline-block;
            width: 100%;
            margin: 0;
        }
    }
        

    /* About Us page-id-13 */

    .page-id-13 {
        .banner {
            position: relative;
            display: inline-block;
        }
    }

    #page-id-13 {
        position: relative;
        display: inline-block;

    }

    /* Services Page */

    /* Services Page */

    .page-id-15 {

        .main {
            padding: 0;
        }

        #service_anim1 {
            z-index: 1;
            position: relative;
            display: inline-block;
        }

        .timelineBackground-startTime__lineTop {
            position: absolute;
            width: 2px;
            height: 2000px;
            background-color: #ccc;
            left: 50%;
            z-index: -1;
        }

        .timelineBackground-startTime__lineEnd {
            position: absolute;
            width: 2px;
            height: 3000px;
            background-color: #ccc;
            left: 50%;
            z-index: -1;
            bottom: 0;
        }

        .timelineBackground-startTime, .timelineBackground-endTime {
            position: relative;
            width: 3em;
            height: 2px;
            background-color: #ccc;
            z-index: -1;
            margin: auto;
        }

        .timelineBackground--bottom {
            position: relative;
            display: inline-block;
            width: 100%;
            text-align: center;
        }

        .digitalIcon {
            padding:0;
            margin: 0 !important;
        }

        .digitalIcons {
            position: relative;
            display: inline-block;
            margin-left: 0;
            margin-right: 0;
            width:100%;
        }

        .digitalIcon_top {
            padding:0;
        }

        .digitalIcon_top img {
            width:30%;
        }

        #servicesTimeline {
            padding: 3em 0;
        }

        .timelineBackground--top {
            position:relative;
            display: inline-block;
            text-align: center;
            width: 100%;
            color: grey;
            margin: 4em 0 1em 0;
        }

        #service_trig1 {
            padding: 80px 0 80px 0;
        }

        #para_0, #para_1, #para_2, #para_3 {
            position: relative;
            display: inline-block;
        }

        #anim_0, #anim_1, #anim_2, #anim_3 {
            padding: 100px 0;
        }

        .serviceItem_iconCTN {
            overflow: hidden;
        }
        .serviceItem_descriptionWrapper {
            padding: 0;
            p {
                padding: 0 20px;
            }
        }

        #service_anim1 {
            z-index: 1;
            position: relative;
            display: inline-block;
            .ir-project-item-description {
                position: relative;
                display: inline-block;
                float: left;
                width: 40%;
                margin-left: 50px;
            }
            .ir-project-item-image {
                position: relative;
                display: inline-block;
                float: right;
                width: 50%;
                margin-top: 50px;
                picture {
                    margin-left: 30px;
                }
            }
        }

        #anim_0 {            
            .serviceItem_descriptionWrapper {
                position: relative;
                display: inline-block;
                float: left;
                width: 50%;
                padding-left: 50px;
                text-align: right;
                background-color: rgba(255, 255, 255, 0);
                .serviceItem_name {
                    padding-right: 20px;
                }
                .serviceItem_name, .serviceItem_description {
                    background-color: rgba(255, 255, 255, 0);
                }
                .serviceItem_iconCTN {
                    .serviceItem_icon {
                        height: auto;
                        margin: -50px 0;
                        position: relative;
                        display: inline-block;
                    }
                }
            }
            .serviceItem_imageWrapper {
                position: relative;
                display: inline-block;
                float: right;
                overflow: visible;
                padding: 0;
                margin: 0 50px 0 0;
                width: 40%;
                margin-top: 10em;
                picture {
                    width: 100%;
                    position: relative;
                    display: block;
                    margin-left: -33%;
                    img {
                        width:130%;
                        max-width: 130%;
                    }
                }
            }
                .serviceItem_secondaryContainer {
                    position: relative;
                    display: inline-block;
                    width: 50%;
                    text-align: left;
                    padding-left: 5%;
                    margin-top: 150px;
                    background-color: rgba(255, 255, 255, 0);
                    .service__keywords-1 {
                        margin: 0;
                    }
                }
        }

        #anim_1 {
            .serviceItem_descriptionWrapper {
                position: relative;
                display: inline-block;
                float: right;
                width: 45%;
                top: 20px;
                left: 0;
                text-align: left;
                margin-top: 0;
                background-color: rgba(255, 255, 255, 0);
                .serviceItem_name {
                    padding-left: 20px;
                }
                .serviceItem_name, .serviceItem_description {
                    background-color: rgba(255, 255, 255, 0);
                }
                .serviceItem_iconCTN {
                    .serviceItem_icon {
                        height: auto;
                        margin: -50px 0;
                        position: relative;
                        display: inline-block;
                    }
                }
            }
            .serviceItem_imageWrapper {
                position: relative;
                display: inline-block;
                float: left;
                overflow: visible;
                padding: 0;
                margin: 0;
                left: 50px;
                width: 50%;
                margin-top: 0;
                picture {
                    min-width: 120%;
                    padding: 20%;
                    position: relative;
                    display: block;
                    background-color: #E9EFE4; 
                    img {
                    }
                }
            }

            .serviceItem_secondaryContainer {
                position: relative;
                display: inline-block;
                margin: 0;
                margin-top: -4em;
                margin-left: -2em;
                right: 20px;
                .serviceItem_secondaryImageWrapper {
                    width: 50%;
                    position: relative;
                    display: inline-block;
                    float: right;
                    picture {
                        min-width: 100%;
                    }
                }
                .serviceItem_listingsWrapper {
                    float: left;
                    position: relative;
                    display: inline-block;
                    width: 45%;
                    text-align: right;
                    background-color: rgba(255, 255, 255, 0);
                }
            }
            .service__keywords-1 {
                margin: 0;
            }
        }

        #anim_2 {
            .serviceItem_descriptionWrapper {
                position: relative;
                display: inline-block;
                float: left;
                width: 60%;
                text-align: left;
                margin-left: 50px;
                padding: 0 20% 0 0;
                overflow: visible;
                background-color: #E9EFE4;
                .serviceItem_name {
                    padding-left: 20px;
                }
                .serviceItem_name, .serviceItem_description {
                    background-color: rgba(255, 255, 255, 0);
                }
                .serviceItem_iconCTN {
                    overflow: hidden;
                    margin-bottom: -75px;
                    .serviceItem_icon {
                        height: auto;
                        top: -50px;
                        margin: 0;
                        position: relative;
                        display: inline-block;
                    }
                }
            }
            .serviceItem_imageWrapper {
                position: absolute;
                display: inline-block;
                right: 0;
                top: -10%;
                overflow: visible;
                padding: 0 10% 0 0;
                margin: 0;
                width: 50%;
                left: auto;
                margin-top: 0;
                margin-right: 20px;
                picture {
                    position: relative;
                    display: block;
                    min-width: 120%;
                    width: 120%;
                    padding: 0 20%;
                    text-align: center;
                    img {
                    }
                }
            }

            .serviceItem_secondaryContainer {
                position: relative;
                display: inline-block;
                margin: 0;
                margin-top: 0px;
                padding-right: 10%;
                top: 0;
                .serviceItem_secondaryImageWrapper {
                    width: 50%;
                    position: relative;
                    display: inline-block;
                    float: right;
                    picture {
                        min-width: 100%;
                    }
                }
                .serviceItem_listingsWrapper {
                    float: right;
                    position: relative;
                    display: inline-block;
                    width: 45%;
                    margin-top: 0px;
                    text-align: right;
                    background-color: rgba(255, 255, 255, 0);
                }
            }
            .service__keywords-1 {
                margin: 0;
            }
        }

        #para_3 {
            margin-top:20%;
        }

        #anim_3 {
            margin: 0;
            padding: 0;
            .serviceItem_descriptionWrapper {
                position: relative;
                display: inline-block;
                float: right;
                width: 50%;
                text-align: left;
                margin-top: -50px;
                padding: 0;
                background-color: rgba(255, 255, 255, 0);
                .serviceItem_name {
                    padding-left: 20px;
                }
                .serviceItem_name, .serviceItem_description {
                    background-color: rgba(255, 255, 255, 0);
                }
                .serviceItem_iconCTN {
                    .serviceItem_icon {
                        height: auto;
                        margin: -50px 0;
                        position: relative;
                        display: inline-block;
                    }
                }
            }
            .serviceItem_imageWrapper {
                position: relative;
                display: inline-block;
                float: left;
                overflow: visible;
                padding: 0;
                margin: 0;
                width: 35%;
                margin-left: 50px;
                margin-top: 0;
                picture {
                    min-width: 120%;
                    position: relative;
                    display: block;
                    img {
                    }
                }
            }

            .serviceItem_secondaryContainer {
                position: relative;
                display: inline-block;
                margin: 0;
                margin-top: 3em;
                top:0;
                .serviceItem_secondaryImageWrapper {
                    width: 50%;
                    position: relative;
                    display: inline-block;
                    float: right;
                    picture {
                        min-width: 100%;
                    }
                }
                .serviceItem_listingsWrapper {
                    float: right;
                    position: relative;
                    display: inline-block;
                    width: 45%;
                    margin-right: 5%;
                    text-align: right;
                    margin-top: -50px;
                    background-color: rgba(255, 255, 255, 0);
                }
            }
            .service__keywords-1 {
                margin: 0;
            }
        }
    }

    /* Contact page*/

    .contact-getInTouch {
        position: relative;
        display: inline-block;
        width: 100%;
    }

    .contactGetInTouch-left {
        position: relative;
        display: inline-block;
        float: left;
        padding: 2em 2em 2em 5em;
        width:50%;
    }

    .contactGetInTouch-left h2 {
        font-size: 1.1em;
    }

    .contactGetInTouch-Right {
        position: relative;
        display: inline-block;
        float: right;
        width:50%;
        padding: 3.5em 0;
    }

    .contact_genTitle {
        font-size: 0.9em;
        text-transform: uppercase;
    }

    .contact_genMail {
        padding: 0 0 1.5em 0;
        position: relative;
        display: inline-block;
    }


    .contact_genMail a {
        color: black;
    }

    .contactOffice {
        position: relative;
        display: inline-block;
        text-align: center;
    }

    .contact-ourOffices {
        position: relative;
        display: inline-block;
        padding: 3em 0 0;
        margin: 3em 0;
        background-color: #eff1f0;
        text-align: center;
    }

    .contact-ourOffices h4 {
        font-size: 1em;
        text-transform: uppercase;
        color: gray;
    }

    .contactOffice__details {
        margin: 2em 0 4em 0;
    }

    .contactOffice-address {
        font-family: baskerville-urw;
        font-size: 1em;
        font-style: italic;
        list-style: none;
        padding: 0;
        margin-bottom: 2em;
    }

    // Labs

    .labPost__container {
        position: absolute;
        display: block;
        left: 50%;
        top: 0;
        width: 100%;
        height: 100%;
    }

    // Careers

    .careersOfficePicker {
        position: relative;
        text-align: center;
        margin: 3em;
    }

    .jobListing {
        position: relative;
        text-align: center;
        margin: 5em;
    }

    .jobTitle h3:hover {
        text-decoration: underline;
    }

    /*// Job posting*/

    .jobpost {
        position: relative;
        margin: 3em 0;
    }

    .jobpost-footer {
        position: relative;
        text-align: center;
        margin: 5em;
    }



    /*// Work Pages

    // Infinity*/
    .post-190 {

        .hidden-xs {
            display: block !important;
        }
        .main {
            padding: 0 70px;
        }

        .infiniti-bg {
            .post_slug-item-image {
                position: relative;
                display: inline-block;
                float:right;
            }
        }

        .post_slug-item-image {
            position: relative;
            display: inline-block;
            float: right;
            width: 50%;
            .ir-image {
                width: 150%;
                right: 100px;
                max-width: 150%;
                position: relative;
                display: block;
            }
       
        }

        #service_trig1 {
            padding-bottom: 0;
        }
        .infiniti-1-item-image  {
            position: relative;
            display: inline-block;
            float: left;
            width: 50%;
            .ir-image {
                position: relative;
                display: block;
                width: 50%;
                right: 0px;
                bottom: -350px;
                float: right;
            }
        }

        .infiniti-idea {
            margin-top: 50px;
            margin-bottom: 0;
        }

        .infiniti-320-overlap {
            padding-top:0;
        }

        .ir-floating-container {
            display: block !important;
            #service_anim1 {
                display: none;
                position: relative;
                .ir-project-item-description {
                    display: block;
                    position: relative;
                    width: 100%;
                        .ir-project-item-image {
                            display: none !important;
                        }
                    
                }
        
                .infin_dsc1 {
                    display: inline-block;
                    position: absolute;
                    float: left;
                    width: 50%;
                    picture {
                        top: 125px;
                        width: 100%;
                        height: auto;
                        position: absolute;
                        left: 0;
        
                        .ir-image {
                            width: 100%;
                        }
                    }
                }
        
                .infin_dsc2 {
                    display: inline-block;
                    float: right;
                }
            }

            .ir-project-idea-container {    
                padding-top: 130px !important;
                padding-bottom:  0px !important;
                .ir-project-idea-description {
                    padding: 0 60px 0 15% !important;
                }
            }

            .jp-container {
                padding-top: 80px !important;
            }

            .ir-project-result-container {
                margin-top: -160px !important;
                padding-bottom: 100px;
                width: 120%;
                left: -10%;
            }

            .ir-project-result-description {
                padding-bottom: 0px;
            }

            .tool-collaboration {
                width: 120%;
                left: -10%;
            }

            .ir-tool-wrapper {
                margin-top: 0 !important;
            }
        }
    }

    /*// Work Converse*/

    #page-id-236 {
        .ir-project-background-container {
            .ir-project-background-description {
                padding: 90px 0 120px 70px;
                max-width: 420px;
            }
            .ir-project-background-image {
                height: auto;
                position: absolute;
                display: inline-block;
                float: right;
                right: 0;
            }
        }
        .converse-2-item {
            padding-bottom: 0 !important;
            #service_anim1 {
                display: inline-block;
                position: relative;
                height: 350px;
                width: 100%;
                z-index: 1;
                    .ir-project-item-description {
                        width: 220px;
                        position: absolute;
                        display: inline-block;
                        top: 50px;
                        left: 5%;
                        z-index: 2;
                    }
                    .ir-project-item-image {
                        position: absolute;
                        display: inline-block;
                        right: 0;
                        top: 0;
                        height: auto;
                        z-index: 1;
                    }
            }
            .ir-project-result-container{
                position: relative;
                display: block;
                width: 112%;
                left: -6%;
            }
            .tool-collaboration {
                width: 112%;
                position: relative;
                display: inline-block;
                left: -6%;
            }
        }
    }

    /*// Work BMW-VR*/

    #page-id-179 {
        .ir-project-background-container {
            overflow: visible;
            margin-bottom: 75px;    
            .ir-project-background-description {
                padding: 40px 0 0 0;
                max-width: 310px;
                z-index: 1;
                float: left;
                margin-left: 50px;
            }
            .ir-project-background-image {
                height: auto;
                position: absolute;
                display: inline-block;
                float: right;
                right: 0;
                padding: 0 70px 0 0;
            }
        }
        .ir-project-idea-container {
            padding: 30px 70px 0 70px;
            .ir-project-idea-description {
                position: relative;
                display: inline-block;
                width: 420px;   
                padding: 0;
                float: right;
                left: 0;
                z-index: 2;
            }
            .ir-project-idea-image {
                padding: 0;
                right: 0;
            }
        }
        .jp_container {
            padding: 0px 70px;
        }
        .ir-project-result-container {
            .ir-project-result-description {
                padding: 0px;
                width: 430px;
                .ir-fixed-width-button {
                    margin-top: 2em;
                }
            }
            .ir-project-result-image {            
                position: relative;
                display: inline-block;
                float: right;
                width: 50%;
            }
        }
    }

    /*// Work 7-11 *** CURRENTLY NOT PUBLISHED TO PUBLIC - 2016, Friday... THE THIRTEENTH BWWOOOHAAAHHAAAAAAA*/

    #page-id-278 {
        .ir-content-padding {
            padding: 80px 70px 0 70px;
            .ir-main {
                .ir-project-background-container {
                    padding: 0px 0px;
                    .ir-project-background-description {
                        position: relative;
                        display: inline-block;
                        width: 340px;
                        float: right;
                        top: 110px;
                        left: -20%;
                        z-index: 1;
                    }
                    .ir-project-background-image {
                        position: relative;
                        display: inline-block;
                        width: auto;
                        float: left;
                        left: 0;
                        width: 50%;
                    }
                }
            }
        }
    }

    /*// Work Arcteryx*/

    #page-id-246 {
        .ir-content-padding {
            padding: 0;
            .ir-project-page-container {
                .ir-project-background-container {
                    padding: 70px;
                    .ir-project-background-description {
                        position: relative;
                        display: block;
                        width: 50%;
                        margin: 0;
                        float: left;
                        z-index: 1;
                        padding: 15px 0 15px 60px;
                    }
                    .ir-project-background-image {
                        position: relative;
                        display: inline-block;
                        float: right;
                        padding: 0;
                        width: 49%;
                    }
                }
                .ir-project-idea-container {
                    position: relative;
                    display: block;
                    margin: 0 70px;
                    width: 87%;
                    background-color: #EFF1F0;
                    .ir-project-idea-description {                    
                        position: relative;
                        display: inline-block;
                        width: 50%;
                        left: 0;
                        float: right;
                        padding: 150px 15px 0 0;
                        margin: 0;
                    }
                    .ir-project-background-image {
                        width: 40%;
                        right: 0;
                        position: relative;
                        display: inline-block;
                        float: right;
                    }
                    .ir-project-idea-image {
                        position: relative;
                        display: inline-block;
                        float: left;
                        top: -100px;
                        left: 0;
                        width: 50%;
                        z-index: 0;
                        margin: 0;
                    }
                }
                .arcteryx-1-item {
                    background-color: #EFF1F0;
                    padding-bottom: 70px;
                    margin: 0 70px 70px 70px;
                    position: relative;
                    display: inline-block;
                    width: 87%;
                }
            }
        }
    }

    /* Pick and Play */

    #page-id-247 {
        .ir-content {
            padding: 0;
            .ir-project-background-container {
                padding: 100px  50px 170px 50px;
                .ir-project-background-description {
                    position: relative;
                    display: inline-block;
                    float: left;
                    width:50%;
                }
                .ir-project-background-image {
                    position: relative;
                    display: inline-block;
                    float: right;
                    width: 50%;
                }
            }
            .ir-project-idea-container {
                position: relative;
                display: inline-block;
                padding: 0 0 60px 70px;
                margin: 0;
                .ir-project-idea-description {
                    position: relative;
                    display: inline-block;
                    float: right;
                    z-index: 1;
                    padding: 0 70px 0 20px;
                    left: 0;
                    width: 40%;
                    right: 0;
                    text-align: left;
                }
                .ir-project-idea-image {
                    position: relative;
                    display: inline-block;
                    float: left;
                    z-index: 0;
                    padding: 50px;
                    line-height: 0;
                    right: 0;
                    left: 0;
                    width:60%;
                }
            }
            .rogers-1-item {
                position: relative;
                display: inline-block;
                background-color: #9BB7CC;
                padding: 60px 70px;
                margin: 0 70px;
                width: 87%;
                left: 0%;
            }
            .rogers-2-item {
            position: relative;
            display: inline-block;
            padding: 60px 50px 25px 50px;
                #service_anim1 {
                    position: relative;
                    display: inline-block;
                    width: 100%;
                    .ir-project-item-description {
                        position: relative;
                        display: inline-block;
                        float: right;
                        left: 0;
                        z-index: 1;
                        width: 50.5%;
                        .ir-image {
                            height: auto;
                            width: auto;
                            float: right;
                        }
                    }
                    .ir-project-item-image {
                        position: relative;
                        display: inline-block;
                        float: left;
                        left: 0;
                        height: auto;
                        z-index: 1;
                        text-align: center;
                        width: 40%;
                        picture {
                            background-color: #9BB7CC;
                            position: relative;
                            display: block;
                            margin-right: 30px;
                            img {
                                height: auto;
                                width:auto;
                            }
                        }            
                    }
                }
            }
            .ir-project-result-container {
                position: relative;
                display: inline-block;
                left: -10%;
                top: 25px;
                width: 120%;
                text-align: center;
                .ir-project-result-image img {
                    margin-top:50px;
                    width:50vw;
                }
            }
        }
    }

    #page-id-248 {
        .ir-content {
            padding: 0;
            .ir-project-background-container {
                padding: 125px 110px 180px 110px !important;
                .ir-project-background-description {
                    width: 300px;
                    z-index: 1;
                }
                .ir-project-background-image {
                    right: 25%;
                }
            }
            .ir-project-idea-container {
                padding: 0 70px 80px 130px !important;
                .ir-project-idea-description {
                    padding: 0;
                }
            }
            .yokohama-1-item {
                padding: 0 70px !important;
                .ir-project-item-description {
                    z-index: 1;
                    width:320px;
                }
                #service_anim1 {
                    position: relative;
                    padding: 0 !important;
                    left: 0;
                    right: 0;
                    margin-left: 70px;
                    .ir-project-item-image {
                        text-align: left;
                        padding-left: 70px;
                        padding-bottom: 80px;
                        .ir-section-image {
                            max-width: 110% !important;
                            width: 110%;
                        }
                    }
                }
                .yokohama-img-1-item {
                    padding: 0 !important;
                    text-align: center;
                    .ir-project-item-image {
                        position: relative;
                        display: inline-block;
                        padding: 0 0 60px 0 !important;
                        left: 0;
                    }
                }
                .yokohama-img-2-item {
                    padding: 0 !important;
                    text-align: center;
                    .ir-project-item-image {
                        position: relative;
                        display: inline-block;
                        padding: 0 !important;
                        left: 0;
                    }
                }
                .ir-project-result-container {
                    width: 120%;
                    left: -10%;
                }
            }
        }
    }

    #page-id-249 {
        .ir-content {
            padding: 0;
            .ir-project-background-container {
                position: relative;
                display: inline-block;
                padding: 125px 70px 180px 70px;
                .ir-project-background-description {
                    position: relative;
                    display: inline-block;
                    float: left;
                    width: 280px;
                    top: 60px;
                    left: 25%;
                    z-index: 1;
                }
                .ir-project-background-image {
                    position: relative;
                    display: inline-block;
                    float: right;
                }
            }
            .ir-project-idea-container {
                position: relative;
                display: inline-block;
                padding: 0;
                .ir-project-idea-description {
                    position: relative;
                    display: inline-block;                
                }
                .ir-project-idea-image {
                    position: relative;
                    display: inline-block;
                    top: -80px;
                    right: 340px;
                    z-index: 0;
                    width: 30%;
                    padding: 0;                
                }
            }
            .quiksilver-kelly-1-item {
               padding: 40px 70px 60px 70px;
            }
            .quiksilver-kelly-2-item {
                padding: 0px 70px;
            }
        }
    }

    #page-id-251 {
        padding: 0;
        .ir-project-background-container { 
            padding: 100px 70px 75px 130px;
        }
        .ir-project-idea-container {
            padding: 0 70px 60px 70px;
            .ir-floating-item {
                padding-top: 80px;
            }
        }
        .fox-idol-iphone-1-item {
            padding: 0px 70px 60px 70px;
        }
        .fox-idol-iphone-2-item {
            padding: 0px 70px 60px 70px;
        }
    }

    #page-id-17 {
        .careersOfficePicker {
            a {
                margin: 2px 20px !important;
            }
        }
    }
}



@media screen and (min-width: 1024px) {

    /* Home */

    #page-id-7 {
        #home_master {
            position: relative;
            display: inline-block;
            width: 100%;
            text-align: center;
            #home_workNav {
                position: absolute;
                display: block;
                top: 125px;
                left: 20px;
                height: 250px;
                width: 20px;
                z-index: 1;
                opacity: 0;
                #nav1:hover, #nav2:hover, #nav3:hover {
                    height:50px;
                    margin-top:-25px;
                }
                #nav1, #nav2, #nav3 {
                    position: absolute;
                    display: block;
                    height: 2px;
                    width: 100%;
                    background-color: grey;
                    -webkit-transition: all .3s ease;
                    -moz-transition: all .3s ease;
                    -ms-transition: all .3s ease;
                    -o-transition: all .3s ease;
                }
                #nav1 {
                    top: 0;
                }
                #nav2 {
                    top: 33%;
                }
                #nav3 {
                    top: 66%;
                }
            }
            #fullpage {
                position: relative;
                display: inline-block;
                width: 768px;
                height: 600px;
                overflow: hidden;
                .section {
                    display: inline-block;
                    height:600px;
                    .ir-work-section {
                        position: relative;
                        display: inline-block;
                        padding: 50px 0 0 10px;
                        z-index: 0;
                        picture {
                            position: relative;
                            display: inline-block;
                            width: 70%;
                            float: left;
                            z-index: 0;
                            padding: 0 0 0 35px;
                        }
                        .ir-work-section-titlebox {
                            position: relative;
                            display: inline-block;
                            float: right;
                            width: 30%;
                            padding: 30px;
                            margin: 20px 0;
                            z-index: 2;
                            left: -40px;
                            right: 0;
                            opacity: 1;
                            text-align: left;
                            color: black;
                            background-color: rgba(255, 255, 255, 0.8);
                            .ir-work-section-subtitle {
                                margin-bottom: 30px;
                            }
                            .ir-work-section-excerpt {
                            }
                        }
                    }
                }
            }            
            .cult_container {
                position: relative;
                display: inline-block;
                width: 100%;
                padding: 30px;
                .cult_bg {
                    position: absolute;
                    width: 80%;
                    background-color: #e8e8e8;
                    height: 80%;
                    margin: -30px 40px 30px 50px;
                }
                .cult_img {
                    position: relative;
                    display: inline-block;
                    float: right;
                    width: 60%;
                    img {
                        position: relative;
                        display: inline-block;
                        width: 100%;
                        height: auto;
                    }
                }
                .cult_copy {
                    position: relative;
                    display: inline-block;
                    float: left;
                    width: 40%;
                    padding: 0 20px 0 0;
                    .cult_title {
                        position: relative;
                        display: inline-block;
                    }
                    .cult_content {
                        position: relative;
                        display: inline-block;
                    }
                }
            }
        }

        .footer-offices {
            padding: 0 30px;
        }
    }

    /* Office Major Container */

    #page-id-140 {
        padding: 0;
        .ir-content-padding {
            padding: 0 2em;
        }
    }

    #office-content {
        position: relative;
        display: inline-block;
        width: 100%;
        padding: 4em 0;
    }
    .office-leftCtn {
        position: relative;
        display: inline-block;
        float: left;
        width: 50%;
        padding: 0 80px 0 65px;
    }

    .office-rightCtn {
        position: relative;
        display: inline-block;
        float: right;
        width: 50%;
        padding: 0 65px 0 0;
        h3 {
            padding:0 0 50px 0;
        }
    }

    .office-aboutOffice {
        position: relative;
        display: inline-block;
        width: 100%;
    }

    .office-cityScape {
        position: relative;
        display: inline-block;
        width: 100%;
        overflow: hidden;
        margin: 80px 0 0 0;
    }

    .office-cityDescritption {
        position: relative;
        display: inline-block;
        margin: 60px 0 0 0;
    }

    .office-rebelsRecommend {
        position: relative;
        display: inline-block;
        width: 100%;
        margin: 50px 0;
        text-align: center;
         .office-centerTitle {
            position: relative;
            display: block;
            text-align: center;
        }
        .rebelsRecommend {
            position: relative;
            display: block;
            text-align: center;
            margin: 30px 0 0 0;
        }
    }

    .office-officeImage {
        position: relative;
        display: inline-block;
        width: 100%;
        margin: 80px 0 0 0;
        .officeCityScape {
            width: 100%;
            picture {
                position: absolute;
                display: inline-block;
                width: 100%;
                height: auto;
                top: 0;
            }

            img {
                position: relative;
                display: block;
                width: 100%;
            }
        }
    }

    .office-jobListings {
        position: relative;
        display: inline-block;
        margin: 80px 0 0 0;
        background-color: #EFF1F0;
        width: 100%;
        padding: 60px 0 0;
        text-align: center;
    }

    .office-jobPostings {
        position: relative;
        display: inline-block;
        .jobListings {
            position: relative;
            display: inline-block;
            padding: 0;
        }
        h9 {
            position: relative;
            display: inline-block;
            width: 100%;
            margin: 0;
        }
    }
        

    /* About Us page-id-13 */

    .page-id-13 {
        .banner {
            position: relative;
            display: inline-block;
        }
    }

    #page-id-13 {
        position: relative;
        display: inline-block;

    }

    /* Services Page */

    .page-id-15 {

        .main {
            padding: 0;
        }

        #service_anim1 {
            z-index: 1;
            position: relative;
            display: inline-block;
        }

        .timelineBackground-startTime__lineTop {
            position: absolute;
            width: 2px;
            height: 2000px;
            background-color: #ccc;
            left: 50%;
            z-index: -1;
        }

        .timelineBackground-startTime__lineEnd {
            position: absolute;
            width: 2px;
            height: 3000px;
            background-color: #ccc;
            left: 50%;
            z-index: -1;
            bottom: 0;
        }

        .timelineBackground-startTime, .timelineBackground-endTime {
            position: relative;
            width: 3em;
            height: 2px;
            background-color: #ccc;
            z-index: -1;
            margin: auto;
        }

        .timelineBackground--bottom {
            position: relative;
            display: inline-block;
            width: 100%;
            text-align: center;
        }

        .digitalIcon {
            padding:0;
            margin: 0 !important;
        }

        .digitalIcons {
    position: relative;
    display: inline-block;
    padding: 8%!important;
    /* margin: 0 !important; */
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    margin-top: -4% !important;
        }

        .digitalIcon_top {
            padding:0;
        }

        .digitalIcon_top img {
            width:30%;
        }

        #servicesTimeline {
            padding: 3em 0;
        }

        .timelineBackground--top {
            position:relative;
            display: inline-block;
            text-align: center;
            width: 100%;
            color: grey;
            margin: 4em 0 1em 0;
        }

        #service_trig1 {
            padding: 100px 0 80px 0;
            padding-left: 0;
            padding-right: 0;
        }

        #para_0, #para_1, #para_2, #para_3 {
            position: relative;
            display: inline-block;
        }

        #anim_0, #anim_1, #anim_2, #anim_3 {
            padding: 100px 0;
        }

        .serviceItem_iconCTN {
            overflow: hidden;
        }
        .serviceItem_descriptionWrapper {
            padding: 0;
            p {
                padding: 0 20px;
            }
        }

        #service_anim1 {
            position: relative;
            display: inline-block;
            width: 100%;
            z-index: 1;
            .ir-project-item-description {
                position: relative;
                display: inline-block;
                float: left;
                width: 50%;
            }
            .ir-project-item-image {
                position: relative;
                display: inline-block;
                float: right;
                width: 50%;
                picture {
                    margin-left: 30px;
                }
            }
            .serviceItem_imageWrapper {
                position: relative;
                display: inline-block;
                float: right;
                overflow: visible;
                padding: 0;
                margin: 0;
                width: 50%;
                margin-top: 0;
            }
        }

        #anim_0 {
            height: auto;
            .serviceItem_descriptionWrapper {                
                position: relative;
                display: inline-block;
                float: left;
                width: 40%;
                margin-left: 50px;
                padding: 0;
                text-align: right;
                background-color: rgba(255, 255, 255, 0);
                .serviceItem_name {
                    padding-right: 20px;
                }
                .serviceItem_name, .serviceItem_description {
                    background-color: rgba(255, 255, 255, 0);
                }
                .serviceItem_iconCTN {
                    .serviceItem_icon {
                        height: auto;
                        margin: -50px 0;
                        position: relative;
                        display: inline-block;
                    }
                }
            }
            .serviceItem_imageWrapper {                
                position: relative;
                display: inline-block;
                float: right;
                overflow: visible;
                padding: 0;
                margin: 0;
                width: 55%;
                margin-top: 12em;
                picture {
                    width: 100%;
                    position: relative;
                    display: block;
                    margin-left: -33%;
                    img {
                        width:100%;
                        max-width: 130%;
                        margin-left: -10%;
                    }
                }
            }
                .serviceItem_secondaryContainer {
                    position: relative;
                    display: inline-block;
                    width: 45%;
                    text-align: left;
                    padding: 0 0 0 100px;
                    margin: 5em 0em;
                    background-color: rgba(255, 255, 255, 0);
                    .service__keywords-1 {
                        margin: 0;
                    }
                }
        }

        #anim_1 {
            height: auto;
            .serviceItem_descriptionWrapper {
                position: relative;
                display: inline-block;
                float: right;
                width: 50%;
                text-align: left;
                padding: 0px 80px;
                margin-top: 0;
                left: 0;
                background-color: rgba(255, 255, 255, 0);
                .serviceItem_name {
                    padding-left: 20px;
                }
                .serviceItem_name, .serviceItem_description {
                    background-color: rgba(255, 255, 255, 0);
                }
                .serviceItem_iconCTN {
                    .serviceItem_icon {
                        height: auto;
                        margin: -50px 0;
                        margin-left: -30px;
                        margin-bottom: -30px;
                        position: relative;
                        display: inline-block;
                    }
                }
            }
            .serviceItem_imageWrapper {
                position: relative;
                display: inline-block;
                float: left;
                overflow: visible;
                padding: 0;
                margin: 0;
                width: 50%;
                left:0;
                margin-top: 0;
                picture {
                    min-width: 110%;
                    padding: 15%;
                    position: relative;
                    display: block;
                    margin-top: -75px;
                    margin-right: -150px;
                    background-color: #E9EFE4;
                    img {
                    }
                }
            }

            .serviceItem_secondaryContainer {
                position: relative;
                display: inline-block;
                margin: 0;
                margin-top: -4em;
                margin-left: -2em;
                .serviceItem_secondaryImageWrapper {
                    width: 50%;
                    position: relative;
                    display: inline-block;
                    float: right;
                    picture {
                        min-width: 100%;
                    }
                }
                .serviceItem_listingsWrapper {
                    float: left;
                    position: relative;
                    display: inline-block;
                    width: 45%;
                    text-align: right;
                    padding-right: 8em;
                    background-color: rgba(255, 255, 255, 0);
                }
            }
            .service__keywords-1 {
                margin: 0;
            }
        }

        #anim_2 {
            height: auto;
            .serviceItem_descriptionWrapper {
                position: relative;
                display: inline-block;
                float: left;
                width: 65%;
                text-align: left;
                padding: 0 20% 0 0;
                overflow: visible;
                background-color: #E9EFE4;
                z-index: 0;
                height: 300px;
                .serviceItem_name {
                    padding-left: 20px;
                }
                .serviceItem_name {
                    background-color: rgba(255, 255, 255, 0);
                    width: 75%;
                    margin-top:-50px;
                    padding-top: 25px;
                }
                .serviceItem_description {
                    background-color: rgba(255, 255, 255, 0);
                    width: 75%;
                    margin-top:0px;
                }
                .serviceItem_iconCTN {
                    margin-bottom: -75px;
                    margin-top: -120px;
                    overflow: visible;
                    .serviceItem_icon {
                        width: 50%;
                        top: 0;
                        margin: 0 0 0 -60px;
                        position: relative;
                        display: inline-block;
                        overflow: visible;
                    }
                }
            }
            .serviceItem_imageWrapper {
                position: absolute;
                display: inline-block;
                right: 0;
                top: -10%;
                overflow: visible;
                padding: 0 5% 0 0;
                margin: 0;
                width: 45%;
                left: auto;
                margin-top: 0;
                margin-right: 20px;
                z-index: 1;
                picture {
                    position: relative;
                    display: block;
                    min-width: 120%;
                    width: 120%;
                    text-align: center;
                    img {
                    }
                }
            }

            .serviceItem_secondaryContainer {
                position: relative;
                display: inline-block;
                margin: 0;
                padding-right: 10%;
                .serviceItem_secondaryImageWrapper {
                    width: 50%;
                    position: relative;
                    display: inline-block;
                    float: right;
                    picture {
                        min-width: 100%;
                    }
                }
                .serviceItem_listingsWrapper {
                    float: right;
                    position: relative;
                    display: inline-block;
                    width: 45%;
                    margin-top: 60px;
                    text-align: right;
                    background-color: rgba(255, 255, 255, 0);
                }
            }
            .service__keywords-1 {
                margin: 0;
            }
        }

        #para_3 {
            position: relative;
            display: inline-block;
            width: 100%;
        }

        #anim_3 {
            margin: 0;
            padding: 0;
            height:auto;
            .serviceItem_descriptionWrapper {
                position: absolute;
                right: 0;
                width: 50%;
                margin: 5% 0 0 0;
                padding: 0 50px;
                left: 50%;
                z-index: 1;
                .serviceItem_name {
                    padding-left: 20px;
                }

                .serviceItem_description {
                    position: relative;
                    display: inline-block;
                    background-color: rgba(255, 255, 255, 0);
                }
                .serviceItem_name {
                    position: relative;
                    display: inline-block;
                    background-color: rgba(255, 255, 255, 0);
                }
                .serviceItem_iconCTN {
                    .serviceItem_icon {
                        height: auto;
                        margin: 0 0 -50px -50px;
                        position: relative;
                        display: inline-block;
                    }
                }
            }
            .serviceItem_imageWrapper {
                position: relative;
                display: inline-block;
                float: left;
                overflow: visible;
                padding: 0;
                margin: 0 0 0 100px;
                width: 40%;
                margin-top: 0;
                picture {
                    position: relative;
                    display: block;
                    min-width: 100%;
                    img {
                    }
                }
            }

            .serviceItem_secondaryContainer {
                position: absolute;
                margin: 0;
                margin-top: 3em;
                top: 60%;
                .serviceItem_secondaryImageWrapper {
                    width: 50%;
                    position: relative;
                    display: inline-block;
                    float: right;
                    picture {
                        min-width: 100%;
                    }
                }
                .serviceItem_listingsWrapper {
                    float: right;
                    position: relative;
                    display: inline-block;
                    width: 45%;
                    margin-right: 5%;
                    text-align: right;
                    margin-top: -50px;
                    background-color: rgba(255, 255, 255, 0);
                }
            }
            .service__keywords-1 {
                margin: 0;
            }
        }
    }

    /* Contact page*/

    .contact-getInTouch {
        position: relative;
        display: inline-block;
        width: 100%;
    }

    .contactGetInTouch-left {
        position: relative;
        display: inline-block;
        float: left;
        padding: 2em 2em 2em 5em;
        width:50%;
    }

    .contactGetInTouch-left h2 {
        font-size: 1.1em;
    }

    .contactGetInTouch-Right {
        position: relative;
        display: inline-block;
        float: right;
        width:50%;
        padding: 3.5em 0;
    }

    .contact_genTitle {
        font-size: 0.9em;
        text-transform: uppercase;
    }

    .contact_genMail {
        padding: 0 0 1.5em 0;
        position: relative;
        display: inline-block;
    }


    .contact_genMail a {
        color: black;
    }

    .contactOffice {
        position: relative;
        display: inline-block;
        text-align: center;
    }

    .contact-ourOffices {
        position: relative;
        display: inline-block;
        padding: 3em 0 0;
        margin: 3em 0;
        background-color: #eff1f0;
        text-align: center;
    }

    .contact-ourOffices h4 {
        font-size: 1em;
        text-transform: uppercase;
        color: gray;
    }

    .contactOffice__details {
        margin: 2em 0 4em 0;
    }

    .contactOffice-address {
        font-family: baskerville-urw;
        font-size: 1em;
        font-style: italic;
        list-style: none;
        padding: 0;
        margin-bottom: 2em;
    }

    // Labs

    .labPost__container {
        position: absolute;
        display: block;
        left: 50%;
        top: 0;
        width: 100%;
        height: 100%;
    }

    // Careers

    .careersOfficePicker {
        position: relative;
        text-align: center;
        margin: 3em;
    }

    .jobListing {
        position: relative;
        text-align: center;
        margin: 5em;
    }

    .jobTitle h3:hover {
        text-decoration: underline;
    }

    /*// Job posting*/

    .jobpost {
        position: relative;
        margin: 3em 0;
    }

    .jobpost-footer {
        position: relative;
        text-align: center;
        margin: 5em;
    }



    /*// Work Pages

    // Infinity*/
    .post-190 {

        .hidden-xs {
            display: block !important;
        }
        .main {
            padding: 0 70px;
        }
        .ir-project-page-container {
        }

        .infiniti-bg {
            .post_slug-item-image {
                position: relative;
                display: inline-block;
                float:right;
            }
        }

        .post_slug-item-image {
            position: relative;
            display: inline-block;
            float: right;
            width: 50%;
            .ir-image {
                width: 150%;
                right: 100px;
                max-width: 150%;
                position: relative;
                display: block;
            }
       
        }
        .infiniti-1-item-image  {
            position: relative;
            display: inline-block;
            float: left;
            width: 50%;
            .ir-image {
                position: relative;
                display: block;
                width: 75%;
                right: 0px;
                bottom: -350px;
                float: right;
            }
        }

        #service_trig1 {
            padding-bottom: 0;
        }

        .infiniti-idea {
            margin-top: 50px;
            margin-bottom: 0;
        }

        .infiniti-320-overlap {
            padding-top:0;
        }

        .ir-floating-container {
            display: block !important;
            #service_anim1 {
                display: none;
                position: relative;
                .ir-project-item-description {
                    display: block;
                    position: relative;
                    width: 100%;
                        .ir-project-item-image {
                            display: none !important;
                        }
                    
                }
        
                .infin_dsc1 {
                    display: inline-block;
                    position: absolute;
                    float: left;
                    width: 50%;
                    picture {
                        top: 125px;
                        width: 100%;
                        height: auto;
                        position: absolute;
                        left: 0;
        
                        .ir-image {
                            width: 100%;
                        }
                    }
                }
        
                .infin_dsc2 {
                    display: inline-block;
                    float: right;
                }
            }

            .ir-project-idea-container {    
                padding-top: 130px !important;
                padding-bottom:  0px !important;
                .ir-project-idea-description {
                    padding: 0 60px 0 15% !important;
                }
            }

            .jp-container {
                padding-top: 80px !important;
            }

            .ir-project-result-container {
                margin-top: -160px !important;
                padding-bottom: 100px;
                width: 120%;
                left: -10%;
            }

            .ir-project-result-description {
                padding-bottom: 0px;
            }

            .tool-collaboration {
                width: 120%;
                left: -10%;
            }

            .ir-tool-wrapper {
                margin-top: 0 !important;
            }
        }
    }

    /*// Work Converse*/

    #page-id-236 {
        .ir-project-background-container {
            .ir-project-background-description {
                padding: 90px 0 120px 70px;
                max-width: 420px;
            }
            .ir-project-background-image {
                height: auto;
                position: absolute;
                display: inline-block;
                float: right;
                right: 0;
            }
        }
        .converse-2-item {
            padding-bottom: 0 !important;
            #service_anim1 {
                display: inline-block;
                position: relative;
                height: 350px;
                width: 100%;
                z-index: 1;
                    .ir-project-item-description {
                        width: 220px;
                        position: absolute;
                        display: inline-block;
                        top: 50px;
                        left: 15%;
                        z-index: 2;
                    }
                    .ir-project-item-image {
                        position: absolute;
                        display: inline-block;
                        right: 0;
                        top: 0;
                        height: auto;
                        z-index: 1;
                    }
            }
            .ir-project-result-container{
                position: relative;
                display: block;
                width: 112%;
                left: -6%;
            }
            .tool-collaboration {
                width: 112%;
                position: relative;
                display: inline-block;
                left: -6%;
            }
        }
    }

    /*// Work BMW-VR*/

    #page-id-179 {
        .ir-project-background-container {
            overflow: visible;
            margin-bottom: 75px;    
            .ir-project-background-description {
                padding: 40px 0 0 0;
                max-width: 310px;
                z-index: 1;
                float: left;
                margin-left: 50px;
            }
            .ir-project-background-image {
                height: auto;
                position: absolute;
                display: inline-block;
                float: right;
                right: 0;
                padding: 0 70px 0 0;
            }
        }
        .ir-project-idea-container {
            padding: 30px 70px 0 70px;
            .ir-project-idea-description {
                position: relative;
                display: inline-block;
                width: 420px;   
                padding: 0;
                float: right;
                left: 0;
                z-index: 2;
            }
            .ir-project-idea-image {
                padding: 0;
                right: 0;
            }
        }
        .jp_container {
            padding: 0px 70px;
        }
        .ir-project-result-container {
            .ir-project-result-description {
                padding: 0px;
                width: 430px;
                .ir-fixed-width-button {
                    margin-top: 2em;
                }
            }
            .ir-project-result-image {            
                position: relative;
                display: inline-block;
                float: right;
                width: 50%;
            }
        }
    }

    /*// Work 7-11 *** CURRENTLY NOT PUBLISHED TO PUBLIC - 2016, Friday... THE THIRTEENTH BWWOOOHAAAHHAAAAAAA*/

    #page-id-278 {
        .ir-content-padding {
            padding: 80px 70px 0 70px;
            .ir-main {
                .ir-project-background-container {
                    padding: 0px 0px;
                    .ir-project-background-description {
                        position: relative;
                        display: inline-block;
                        width: 340px;
                        float: right;
                        top: 110px;
                        left: -20%;
                        z-index: 1;
                    }
                    .ir-project-background-image {
                        position: relative;
                        display: inline-block;
                        width: auto;
                        float: left;
                        left: 0;
                        width: 50%;
                    }
                }
            }
        }
    }

    /*// Work Arcteryx*/

    #page-id-246 {
        .ir-content-padding {
            padding: 0;
            .ir-project-page-container {
                .ir-project-background-container {
                    padding: 70px;
                    .ir-project-background-description {
                        position: relative;
                        display: block;
                        width: 50%;
                        margin: 0;
                        float: left;
                        z-index: 1;
                        padding: 15px 0 15px 60px;
                    }
                    .ir-project-background-image {
                        position: relative;
                        display: inline-block;
                        float: right;
                        padding: 0;
                    }
                }
                .ir-project-idea-container {
                    position: relative;
                    display: block;
                    margin: 0 70px;
                    width: 87%;
                    background-color: #EFF1F0;
                    .ir-project-idea-description {                    
                        position: relative;
                        display: inline-block;
                        width: 50%;
                        left: 0;
                        float: right;
                        padding: 150px 15px 0 0;
                        margin: 0;
                    }
                    .ir-project-background-image {
                        width: 40%;
                        right: 0;
                        position: relative;
                        display: inline-block;
                        float: right;
                    }
                    .ir-project-idea-image {
                        position: relative;
                        display: inline-block;
                        float: left;
                        top: -100px;
                        left: 0;
                        width: 50%;
                        z-index: 0;
                        margin: 0;
                    }
                }
                .arcteryx-1-item {
                    background-color: #EFF1F0;
                    padding-bottom: 70px;
                    margin: 0 70px 70px 70px;
                    position: relative;
                    display: inline-block;
                    width: 87%;
                }
            }
        }
    }

    /* Pick and Play */

    #page-id-247 {
        .ir-content {
            padding: 0;
            .ir-project-background-container {
                padding: 100px  50px 170px 50px;
                .ir-project-background-description {
                    position: relative;
                    display: inline-block;
                    float: left;
                    width:50%;
                }
                .ir-project-background-image {
                    position: relative;
                    display: inline-block;
                    float: right;
                    width: 50%;
                }
            }
            .ir-project-idea-container {
                position: relative;
                display: inline-block;
                padding: 0 0 60px 70px;
                margin: 0;
                .ir-project-idea-description {
                    position: relative;
                    display: inline-block;
                    float: right;
                    z-index: 1;
                    padding: 0 70px 0 20px;
                    left: 0;
                    width: 40%;
                    right: 0;
                    text-align: left;
                }
                .ir-project-idea-image {
                    position: relative;
                    display: inline-block;
                    float: left;
                    z-index: 0;
                    padding: 50px;
                    line-height: 0;
                    right: 0;
                    left: 0;
                    width:60%;
                }
            }
            .rogers-1-item {
                position: relative;
                display: inline-block;
                background-color: #9BB7CC;
                padding: 60px 70px;
                margin: 0 70px;
                width: 87%;
                left: 0%;
            }
            .rogers-2-item {
            position: relative;
            display: inline-block;
            padding: 60px 50px 25px 50px;
                #service_anim1 {
                    position: relative;
                    display: inline-block;
                    width: 100%;
                    .ir-project-item-description {
                        position: relative;
                        display: inline-block;
                        float: right;
                        left: 0;
                        z-index: 1;
                        width: 50.5%;
                        .ir-image {
                            height: auto;
                            width: auto;
                            float: right;
                        }
                    }
                    .ir-project-item-image {
                        position: relative;
                        display: inline-block;
                        float: left;
                        left: 0;
                        height: auto;
                        z-index: 1;
                        text-align: center;
                        width: 40%;
                        picture {
                            background-color: #9BB7CC;
                            position: relative;
                            display: block;
                            margin-right: 30px;
                            img {
                                height: auto;
                                width:auto;
                            }
                        }            
                    }
                }
            }
            .ir-project-result-container {
                position: relative;
                display: inline-block;
                left: -10%;
                top: 25px;
                width: 120%;
                text-align: center;
                .ir-project-result-image img {
                    margin-top:50px;
                    width:50vw;
                }
            }
        }
    }

    #page-id-248 {
        .ir-content {
            padding: 0;
            .ir-project-background-container {
                padding: 125px 110px 180px 110px !important;
                .ir-project-background-description {
                    width: 300px;
                    z-index: 1;
                }
                .ir-project-background-image {
                    right: 25%;
                }
            }
            .ir-project-idea-container {
                padding: 0 70px 80px 130px !important;
                .ir-project-idea-description {
                    padding: 0;
                }
            }
            .yokohama-1-item {
                padding: 0 70px !important;
                .ir-project-item-description {
                    z-index: 1;
                    width:320px;
                }
                #service_anim1 {
                    position: relative;
                    padding: 0 !important;
                    left: 0;
                    right: 0;
                    margin-left: 70px;
                    .ir-project-item-image {
                        text-align: left;
                        padding-left: 70px;
                        padding-bottom: 80px;
                        .ir-section-image {
                            max-width: 110% !important;
                            width: 110%;
                        }
                    }
                }
                .yokohama-img-1-item {
                    padding: 0 !important;
                    text-align: center;
                    .ir-project-item-image {
                        position: relative;
                        display: inline-block;
                        padding: 0 0 60px 0 !important;
                        left: 0;
                    }
                }
                .yokohama-img-2-item {
                    padding: 0 !important;
                    text-align: center;
                    .ir-project-item-image {
                        position: relative;
                        display: inline-block;
                        padding: 0 !important;
                        left: 0;
                    }
                }
                .ir-project-result-container {
                    width: 120%;
                    left: -10%;
                }
            }
        }
    }

    #page-id-249 {
        .ir-content {
            padding: 0;
            .ir-project-background-container {
                position: relative;
                display: inline-block;
                padding: 125px 70px 180px 70px;
                .ir-project-background-description {
                    position: relative;
                    display: inline-block;
                    float: left;
                    width: 280px;
                    top: 60px;
                    left: 25%;
                    z-index: 1;
                }
                .ir-project-background-image {
                    position: relative;
                    display: inline-block;
                    float: right;
                }
            }
            .ir-project-idea-container {
                position: relative;
                display: inline-block;
                padding: 0;
                .ir-project-idea-description {
                    position: relative;
                    display: inline-block;                
                }
                .ir-project-idea-image {
                    position: relative;
                    display: inline-block;
                    top: -80px;
                    right: 340px;
                    z-index: 0;
                    width: 30%;
                    padding: 0;                
                }
            }
            .quiksilver-kelly-1-item {
               padding: 40px 70px 60px 70px;
            }
            .quiksilver-kelly-2-item {
                padding: 0px 70px;
            }
        }
    }

    #page-id-251 {
        padding: 0;
        .ir-project-background-container { 
            padding: 100px 70px 75px 130px;
        }
        .ir-project-idea-container {
            padding: 0 70px 60px 70px;
            .ir-floating-item {
                padding-top: 80px;
            }
        }
        .fox-idol-iphone-1-item {
            padding: 0px 70px 60px 70px;
        }
        .fox-idol-iphone-2-item {
            padding: 0px 70px 60px 70px;
        }
    }

    #page-id-19 {
        .careersOfficePicker {
            a {
                margin: 2px 20px !important;
            }
        }
        .jobListings {
            padding: 0;
        }
    }
    #page-id-9 {        
        .ir_workTitle:hover {
            display: block;
        }
        .ir_workTitle {
            display: none;
        }
    }
}