@media screen and (min-width: 769px) {
    
    footer {
        position: relative;
        display: block;
        width: 1024px;
        margin: 0 auto;
    }

    mark {
        padding: 0.2em;
    }

    /* Home */

    #slick-carousel-position-0 {
        .ir__homeVideo_header {
            position: relative;
            display:block;
            top: 0;
            z-index: 1;
            background-color: black;
            video {
                position: relative;
                display: block;
                height: 100vh;
                width: auto;
                margin: 0 auto;
            }
        }
    }
    .header-ir-titlebox .header-ir-titlebox-home {
        z-index:10;
    }

    #page-id-7 {
        .ir-main {
            max-width: 1024px;
            margin: 0 auto;
            .home-cta {
                width: 60%;
                line-height: 1em;
                font-size: 24px;
                font-family: 'Larsseit Bold';
            }
        }
        #home_master {
            position: relative;
            display: inline-block;
            width: 100%;
            text-align: center;
            #home_workNav {
                position: absolute;
                display: block;
                top: 175px;
                left: 35px;
                height: 175px;
                width: 10px;
                z-index: 1;
                opacity: 0;
                #nav1:hover, #nav2:hover, #nav3:hover, #nav4:hover {
                    height:50px;
                    margin-top:-25px;
                }
                #nav1, #nav2, #nav3, #nav4 {
                    position: absolute;
                    display: block;
                    height: 2px;
                    width: 100%;
                    background-color: grey;
                    -webkit-transition: all .3s ease;
                    -moz-transition: all .3s ease;
                    -ms-transition: all .3s ease;
                    -o-transition: all .3s ease;
                }
                #nav1 {
                    top: 0;
                }
                #nav2 {
                    top: 33%;
                }
                #nav3 {
                    top: 66%;
                }
                #nav4 {
                    bottom: 0;
                }
            }
            #fullpage {
                position: relative;
                display: inline-block;
                width: 100%;
                height: 514px;
                margin-bottom: 0;
                overflow: hidden;
                #home_workItems {
                    position: relative;
                    display: inline-block;
                    overflow: hidden;
                    height: 514px;
                    width: 100%;
                    .section {
                        display: inline-block;
                        height:514px;
                        width: 100%;
                        .ir-work-section {
                            position: relative;
                            display: inline-block;
                            height: 514px;
                            width: 100%;
                            padding: 0;
                            z-index: 0;
                            picture {
                                position: relative;
                                display: inline-block;
                                height: 514px;
                                width: 685px;
                                float: left;
                                z-index: 0;
                                margin-left: 75px;
                                img {
                                    width: 100%;
                                }
                            }
                            .ir_workTitle {
                                height: 514px;
                                .ir-work-section-titlebox {
                                    position: absolute;
                                    display: block;
                                    float: none;
                                    width: 30%;
                                    padding: 30px;
                                    margin: 0;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    z-index: 2;
                                    left: initial;
                                    right: 0;
                                    opacity: 1;
                                    text-align: left;
                                    color: black;
                                    background-color: rgba(255, 255, 255, 0.8);
                                    .ir-work-section-subtitle {
                                        margin-bottom: 30px;
                                    }
                                    .ir-work-section-excerpt {
                                    }
                                }

                            }
                        }
                    }
                }
            }
            #home_cultureMaster {
                position: relative;
                display: inline-block;
                width: 100%;
                margin-top: 50px;
                .cult_container {
                    position: relative;
                    display: inline-block;
                    width: 100%;
                    padding: 70px;
                    .cult_bg {
                        position: absolute;
                        display: block;
                        width: 802px;
                        background-color: #e8e8e8;
                        height: 75%;
                        margin: 0 auto;
                        margin-top: -30px;
                        margin-left: 40px;
                    }
                    .cult_img {
                        position: relative;
                        display: inline-block;
                        float: right;
                        width: 60%;
                        img {
                            position: relative;
                            display: inline-block;
                            width: 100%;
                            height: auto;
                        }
                    }
                    .cult_copy {
                        position: relative;
                        display: inline-block;
                        float: left;
                        width: 250px;
                        padding: 45px 0 0 0;
                        text-align: left;
                        .cult_title {
                            position: relative;
                            display: inline-block;
                        }
                        .cult_content {
                            position: relative;
                            display: inline-block;
                        }
                    }
                }
            }
            #home_postsRow {
                position: relative;
                display: inline-block;
                width: 100%;
                text-align: left;
                padding: 0 50px 50px;
                .homeNews_title {
                    width: 90%;
                }
                h4 {
                    font-family: 'Karla',"Larsseit Bold", Arial, "sansserif";
                    color:grey;
                    text-transform: uppercase;
                    font-size: 0.8em;
                    letter-spacing: 0.1em;
                    margin: 0 0 20px 0;
                }
                div { 
                    padding: 0;
                    margin: 0;                    
                    font-size: 1em;
                    font-family: "Larsseit Bold", Arial, "sansserif";
                    text-align: left;
                    a {color:black;}
                }
                .homeNews_date {
                    font-family: 'serif';
                    font-size: 0.9em;
                    font-style: italic;
                }
                .home_postsRow4 {
                     display: none;
                 }
            }
        }
        .footer-offices {
            padding: 0 30px;
        }            
    }

    /* Office Major Container */

    #page-id-140 {
        padding: 0;
        .ir-content-padding {
            padding: 0 2em;
        }
    }

    #office-content {
        position: relative;
        display: inline-block;
        width: 100%;
        padding: 4em 0;
    }
    .office-leftCtn {
        position: relative;
        display: inline-block;
        float: left;
        width: 50%;
        padding: 0 80px 0 65px;
    }

    .office-rightCtn {
        position: relative;
        display: inline-block;
        float: right;
        width: 50%;
        padding: 0 65px 0 0;
        h3 {
            padding:0 0 50px 0;
        }
    }

    .office-aboutOffice {
        position: relative;
        display: inline-block;
        width: 100%;
    }

    .office-cityScape {
        position: relative;
        display: inline-block;
        width: 100%;
        overflow: hidden;
        margin: 80px 0 0 0;
    }

    .office-cityDescritption {
        position: relative;
        display: inline-block;
        margin: 60px 0 0 0;
    }

    .office-rebelsRecommend {
        position: relative;
        display: inline-block;
        width: 100%;
        margin: 50px 0;
        text-align: center;
         .office-centerTitle {
            position: relative;
            display: block;
            text-align: center;
        }
        .rebelsRecommend {
            position: relative;
            display: block;
            text-align: center;
            margin: 30px 0 0 0;
        }
    }

    .office-officeImage {
        position: relative;
        display: inline-block;
        width: 100%;
        margin: 80px 0 0 0;
        .officeCityScape {
            width: 100%;
            picture {
                position: absolute;
                display: inline-block;
                width: 100%;
                height: auto;
                top: 0;
            }

            img {
                position: relative;
                display: block;
                width: 100%;
            }
        }
    }

    .office-jobListings {
        position: relative;
        display: inline-block;
        margin: 80px 0 0 0;
        background-color: #EFF1F0;
        width: 100%;
        padding: 60px 0 0;
        text-align: center;
    }

    .office-jobPostings {
        position: relative;
        display: inline-block;
        .jobListings {
            position: relative;
            display: inline-block;
            padding: 0;
        }
        h9 {
            position: relative;
            display: inline-block;
            width: 100%;
            margin: 0;
        }
    }

    /* About Us page-id-13 */

    #page-id-13 {
        position: relative;
        display: block;
        .banner {
            position: relative;
            display: inline-block;
        }
        .ir-button {
            font-size: 1em;
            letter-spacing: 0.1em;
            width: 80%;
        }
        .ir-content {
            position: relative;
            display: block;
            float: none;
            width: 1024px;
            margin: 0 auto;
            .ir-section-item-inner {
                .ir-anchor {
                    height: auto;
                    padding: 10px 5%;
                    color: white;
                    font-family: 'Karla-Bold';
                    font-size: 1em;
                    font-weight: bold;
                    text-align: center;
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                    background-color: black;
                }
            }
            .paperless-mobile-item-image {
                display: none;
            }
            .paperless-item-image {
                position: relative;
                display: block;
                float: none;
                margin: -150px 100px -20px 0;
                padding: 0;
            }
            .ir-about-paperless-section {
                height: 339px;
                width: 830px;
                position: relative;
                display: block;
                float: none;
            }
        }
    }

    /* Services Page */

    .page-id-15 {

        .main {
            padding: 0;
        }

        #service_anim1 {
            z-index: 1;
            position: relative;
            display: inline-block;
        }

        .timelineBackground-startTime__lineTop {
            position: absolute;
            width: 2px;
            height: 2000px;
            background-color: #ccc;
            left: 50%;
            z-index: -1;
        }

        .timelineBackground-startTime__lineEnd {
            position: absolute;
            width: 2px;
            height: 3000px;
            background-color: #ccc;
            left: 50%;
            z-index: -1;
            bottom: 0;
        }

        .timelineBackground-startTime, .timelineBackground-endTime {
            position: relative;
            width: 3em;
            height: 2px;
            background-color: #ccc;
            z-index: -1;
            margin: auto;
        }

        .timelineBackground--bottom {
            position: relative;
            display: inline-block;
            width: 100%;
            text-align: center;
        }

        .digitalIcon {
            padding:0;
            margin: 0 !important;
        }

        .digitalIcons {
            position: relative;
            display: inline-block;
            margin-left: 0;
            margin-right: 0;
            width:100%;
        }

        .digitalIcon_top {
            padding:0;
        }

        .digitalIcon_top img {
            width:30%;
        }

        #servicesTimeline {
            padding: 3em 0;
        }

        .timelineBackground--top {
            position:relative;
            display: inline-block;
            text-align: center;
            width: 100%;
            color: grey;
            margin: 4em 0 1em 0;
        }

        #service_trig1 {
            padding: 80px 0 80px 0;
        }

        #para_0, #para_1, #para_2, #para_3 {
            position: relative;
            display: inline-block;
        }

        #anim_0, #anim_1, #anim_2, #anim_3 {
            padding: 100px 0;
        }

        .serviceItem_iconCTN {
            overflow: hidden;
        }
        .serviceItem_descriptionWrapper {
            padding: 0;
            p {
                padding: 0 20px;
            }
        }

        #service_anim1 {
            z-index: 1;
            position: relative;
            display: inline-block;
            .ir-project-item-description {
                position: relative;
                display: inline-block;
                float: left;
                width: 40%;
                margin-left: 50px;
            }
            .ir-project-item-image {
                position: relative;
                display: inline-block;
                float: right;
                width: 50%;
                margin-top: 50px;
                picture {
                    margin-left: 30px;
                }
            }
        }

        #anim_1 {
            .serviceItem_descriptionWrapper {
                position: relative;
                display: inline-block;
                float: right;
                width: 45%;
                top: 20px;
                left: 0;
                text-align: left;
                margin-top: 0;
                background-color: rgba(255, 255, 255, 0);
                .serviceItem_iconCTN {
                    .serviceItem_icon {
                        height: auto;
                        margin: -50px 0;
                        position: relative;
                        display: inline-block;
                    }
                }
            }
            .serviceItem_imageWrapper {
                position: relative;
                display: inline-block;
                float: left;
                overflow: visible;
                padding: 0;
                margin: 0;
                left: 50px;
                width: 50%;
                margin-top: 0;
                picture {
                    min-width: 120%;
                    padding: 20%;
                    position: relative;
                    display: block;
                    background-color: #E9EFE4; 
                    img {
                    }
                }
            }

            .serviceItem_secondaryContainer {
                position: relative;
                display: inline-block;
                margin: 0;
                margin-top: -4em;
                margin-left: -2em;
                right: 20px;
                .serviceItem_secondaryImageWrapper {
                    width: 50%;
                    position: relative;
                    display: inline-block;
                    float: right;
                    picture {
                        min-width: 100%;
                    }
                }
                .serviceItem_listingsWrapper {
                    float: left;
                    position: relative;
                    display: inline-block;
                    width: 45%;
                    text-align: right;
                    background-color: rgba(255, 255, 255, 0);
                }
            }
            .service__keywords-1 {
                margin: 0;
            }
        }

        #anim_2 {
            .serviceItem_descriptionWrapper {
                position: relative;
                display: inline-block;
                float: left;
                width: 60%;
                text-align: left;
                margin-left: 50px;
                overflow: visible;
                background-color: #E9EFE4;
                .serviceItem_name {
                    padding-left: 20px;
                }
                .serviceItem_name, .serviceItem_description {
                    background-color: rgba(255, 255, 255, 0);
                }
                .serviceItem_iconCTN {
                    overflow: hidden;
                    margin-bottom: -75px;
                    .serviceItem_icon {
                        height: auto;
                        top: -50px;
                        margin: 0;
                        position: relative;
                        display: inline-block;
                    }
                }
            }
            .serviceItem_imageWrapper {
                position: absolute;
                display: inline-block;
                right: 0;
                top: -25%;
                overflow: visible;
                margin: 0;
                width: 55%;
                left: auto;
                margin-top: 0;
                z-index: 1;
                picture {
                    position: relative;
                    display: block;
                    min-width: 120%;
                    width: 120%;
                    padding: 0 20%;
                    text-align: center;
                    img {
                    }
                }
            }

            .serviceItem_secondaryContainer {
                position: relative;
                display: inline-block;
                margin: 0;
                margin-top: 30px;
                top: 0;
                z-index: 1;
                .serviceItem_secondaryImageWrapper {
                    width: 50%;
                    position: relative;
                    display: inline-block;
                    float: right;
                    picture {
                        min-width: 100%;
                    }
                }
                .serviceItem_listingsWrapper {
                    float: right;
                    position: relative;
                    display: inline-block;
                    width: 45%;
                    margin-top: 0px;
                    text-align: right;
                    background-color: rgba(255, 255, 255, 0);
                }
            }
            .service__keywords-1 {
                margin: 0;
            }
        }

        #para_3 {
            margin-top:20%;
        }

        #anim_3 {
            margin: 0 50px;
            padding: 0;
            .serviceItem_descriptionWrapper {
                position: relative;
                display: inline-block;
                float: right;
                width: 50%;
                text-align: left;
                margin-top: -50px;
                padding: 0;
                background-color: rgba(255, 255, 255, 0);
                .serviceItem_name {
                    padding-left: 20px;
                }
                .serviceItem_name, .serviceItem_description {
                    background-color: rgba(255, 255, 255, 0);
                }
                .serviceItem_iconCTN {
                    .serviceItem_icon {
                        height: auto;
                        margin: -50px 0;
                        position: relative;
                        display: inline-block;
                    }
                }
            }
            .serviceItem_imageWrapper {
                position: relative;
                display: inline-block;
                float: left;
                overflow: visible;
                padding: 0;
                margin: 0;
                width: 35%;
                margin-left: 50px;
                margin-top: 0;
                picture {
                    min-width: 120%;
                    position: relative;
                    display: block;
                    img {
                    }
                }
            }

            .serviceItem_secondaryContainer {
                position: relative;
                display: inline-block;
                margin: 0;
                margin-top: 3em;
                top:0;
                .serviceItem_secondaryImageWrapper {
                    width: 50%;
                    position: relative;
                    display: inline-block;
                    float: right;
                    picture {
                        min-width: 100%;
                    }
                }
                .serviceItem_listingsWrapper {
                    float: right;
                    position: relative;
                    display: inline-block;
                    width: 45%;
                    margin-right: 5%;
                    text-align: right;
                    margin-top: -50px;
                    background-color: rgba(255, 255, 255, 0);
                }
            }
            .service__keywords-1 {
                margin: 0;
            }
        }
    }

    /* Contact */

    #page-id-833 {
        .contact-getInTouch {
            position: relative;
            display: inline-block;
            width: 100%;
            .contactGetInTouch-left {
                position: relative;
                display: inline-block;
                float: left;
                width: 50%;
                padding: 40px;
                h2 {
                    margin: 0;
                }
            }
            .contactGetInTouch-Right {
                position: relative;
                display: inline-block;
                float: right;
                padding: 40px;
            }

        }
        .contact-ourOffices {
            position: relative;
            display: inline-block;
            width: 100%;
        }

        .contact-getInTouch {
            position: relative;
            display: inline-block;
            width: 100%;
        }

        .contactGetInTouch-left {
            position: relative;
            display: inline-block;
            float: left;
            padding: 2em 2em 2em 5em;
            width:50%;
        }

        .contactGetInTouch-left h2 {
            font-size: 1.1em;
        }

        .contactGetInTouch-Right {
            position: relative;
            display: inline-block;
            float: right;
            width:50%;
            padding: 3.5em 0;
        }

        .contact_genTitle {
            font-size: 0.9em;
            text-transform: uppercase;
        }

        .contact_genMail {
            padding: 0 0 1.5em 0;
            position: relative;
            display: inline-block;
        }


        .contact_genMail a {
            color: black;
        }

        .contactOffice {
            position: relative;
            display: inline-block;
            text-align: center;
        }

        .contact-ourOffices {
            position: relative;
            display: inline-block;
            padding: 3em 0 0;
            margin: 3em 0;
            background-color: #eff1f0;
            text-align: center;
        }

        .contact-ourOffices h4 {
            font-size: 1em;
            text-transform: uppercase;
            color: gray;
        }

        .contactOffice__details {
            margin: 2em 0 4em 0;
        }

        .contactOffice-address {
            font-family: baskerville-urw;
            font-size: 1em;
            font-style: italic;
            list-style: none;
            padding: 0;
            margin-bottom: 2em;
        }
    }

    /* Labs */ 

    .labPost__container {
        position: absolute;
        display: block;
        left: 50%;
        top: 0;
        width: 100%;
        height: 100%;
    }

    /* Careers */ 

    .careersOfficePicker {
        position: relative;
        text-align: center;
        margin: 3em;
    }

    .jobListing {
        position: relative;
        text-align: center;
        margin: 5em;
    }

    .jobTitle h3:hover {
        text-decoration: underline;
    }

    /* Job posting */

    .jobpost {
        position: relative;
        margin: 3em 0;
    }

    .jobpost-footer {
        position: relative;
        text-align: center;
        margin: 5em;
    }



    /* Work Pages */

    /* Main Work Page */

    #page-id-9 {
        #home_postsRow { display: none; }
        .ir-content {
            padding: 0;
            .ir-work-section {
                position: relative;
                height: 385px;
                width: 100%;
                picture {
                    display: none;
                }
                .ir_workTitle {
                    position: relative;
                    display: none;
                    float: none;
                    z-index: 10;
                    margin: 0 auto;
                    height:100%;
                    width: 100%;
                    top: 0;
                    .ir-work-section-titlebox {
                        position: relative;
                        display: block;
                        max-width: 50%;
                        margin: 0 auto;
                        z-index: 1;
                        .ir_workTitle_featured {
                            display: none;
                        }
                        a {color:black;}
                        h3 {
                            padding: 0;
                        }
                        .ir-work-section-subtitle {
                            display: none;
                        }
                    }
                }
            }
            .ir-work-section:hover {
                .ir_workTitle {
                    display: block;
                }
            }
        }
    }

    /* Infinity */
    #page-id-190 {
        .ir-content {
            position: relative;
            display: block;
            width: 1024px;
            margin: 0 auto;
            padding: 0;
            .ir-project-background-container {
                position: relative;
                display: block;
                height: 430px;
                margin: 0 auto;
                padding: 79px 58px;
                float: none;
                .ir-project-background-description {
                    position: absolute;
                    top: 120px;
                    right: 60px;
                    width: 375px;
                    float: none;
                    z-index: 1;
                }
                .ir-project-background-image {
                    position: absolute;
                    margin: 0;
                    top: 90px;
                    left: 60px;
                    right: inherit;
                    width: 525px;
                    height: 340px;
                    float: none;
                    z-index: 0;
                    overflow: hidden;
                }
            }
            .ir-project-idea-container {
                position: relative;
                display: block;
                margin: -100px 125px 55px 0;
                padding: 0;
                top: 0;
                height: 200px;
                width: 400px;
                float: right;
                .ir-project-idea-description {
                    position: relative;
                    display: block;
                    margin: 0;
                    padding: 0;
                    width: auto;
                    right: 0;
                    left: 0;
                    float: none;
                    text-align: right;
                }
                .ir-project-background-image {
                    position: relative;
                    display: block;
                    right: inherit;
                    width: 100%;
                    float: none;
                }
            }
            .ir-floating-container {
                position: relative;
                display: block;
                padding: 0;
                .ir-floating-item, .ir-floating-item-mobile {
                    display: none;
                }
                .jp-container {
                    padding: 30px 60px;
                }
                .ir-project-result-container {
                    padding: 200px 110px 25px 110px;
                    margin: -150px 0 0 0;
                    .ir-project-result-description {
                        padding: 0;
                        float: none;
                        .ir-fixed-width-button {
                            width: 250px;
                            padding: 10px 0;
                        }
                    }
                    .ir-project-result-image {
                        position: absolute;
                        display: block;
                        float: none;
                        top: 320px;
                        right: 50px;
                        margin: 0;
                        padding: 0;
                        .ir-award-container {
                            position: relative;
                            top: 0;
                            margin-bottom: -110px;
                        }
                    }
                }
                .ir-tool-wrapper {
                    margin-top: 80px;
                    margin-bottom: 60px;
                }
            }
            .infiniti-1-item-image {
                position: relative;
                display: block;
                margin: 0px 0 0 70px;
                width: 100%;
                float: none;
                height: 225px;
                picture {
                    position: absolute;
                    display: block;
                    margin: 0;
                    top: -120px;
                    width: 388px;
                    img {
                        width: 388px;
                    }
                }
            }
            .post_slug-item-image {
                display: block;
                position: relative;
                float: none;
                right: 0;
                height: 300px;
                width: 100%;
                margin: 50px 60px 0 0;
                picture {
                    position: relative;
                    display: block;
                    float: right;
                    right: 0;
                    height: 250px;
                    width: 545px;
                    margin: 0 60px;
                }
            }
            .infiniti-result {
                padding: 230px 70px 25px 70px;
                margin: -130px 0 0 0;
            }
        }
    }

    /* Converse */
    #page-id-236 {
        .ir-content {
            width: 1024px;
            padding: 0;
        }
        .ir-content-padding {
            position: relative;
            display: block;
            width: 100vw;
            margin:0 auto;
            padding: 0;
            .ir-project-background-container {            
                position: relative;
                display: block;
                width: 100%;
                margin: 0;
                padding: 70px 0 80px 85px;
                float: none;
            }
            .ir-converse-chucks {
                display: block;
                height: 155px;
                margin: 0 auto;
                padding: 0 70px;
                float: none;
                .ir-converse-chucks-inner {
                    position: relative;
                    display: block;
                    width: 50%;
                    padding: 0 0 40px 0;
                    .ir-converse-shoe-container {
                        display: block;
                        height: 155px;
                        width: 155px;
                        margin: 0 50px;
                    }
                    .ir-converse-shoe-icon {
                        position: relative;
                        display: block;
                        height: 155px;
                        width: 155px;
                        border-width: 2px;
                        border-style: solid;
                        border-radius: 50%;
                        z-index: 0;
                    }
                    .ir-converse-content {
                        position: relative;
                        display: none;
                        padding: 10px 10px 0;
                        height: 145px;
                        width: 145px;
                        margin: -150px auto 0;
                        background-color: black;
                        color: white;
                        border-radius: 50%;
                        z-index: 1;
                        .ir-converse-content-inner {
                            position: relative;
                            display: block;
                            height: 155px;
                            width: 155px;
                            h5 {
                                font-size: 16px;
                                margin-top: 30px;
                                margin-bottom: 5px;
                            }
                            font-size: 16px;
                        }
                    }
                    h5 {
                        font-size: 16px;
                        margin-top: 30px;
                        margin-bottom: 5px;
                    }
                    .body-copy-2 {
                        font-style: italic;
                    }
                    .ir-converse-shoe-container {
                        position: relative;
                        display: block;
                        margin: 0 auto;
                        width: 50%;
                    }
                }
            }
            .ir-project-idea-container {
                position: relative;
                display: block;
                height: 440px;
                width: 100%;
                margin: 0 auto;
                padding: 70px auto 80px;
                float: none;
                .ir-project-idea-description {
                    position: absolute;
                    left: inherit;
                    top: 135px;
                    right: 70px;
                    width: 250px;
                    margin: 0;
                    padding: 0;
                    max-width: none;
                    z-index: 1;
                    float: none;
                }
                .ir-project-idea-image {
                    position: absolute;
                    top: 100px;
                    right: 0;
                    left: 70px;
                    padding: 0;
                    margin: 0;
                    width: auto;
                    float: none;
                    z-index: 0;
                    .ir-vr-hover {
                        position: relative;
                        display: block;
                        margin: 0 auto;
                        padding: 0;
                        width: 658px;
                    }
                }
            }
            .ir-project-item-container {
                padding: 142px 0;
                float: none;
            }
            .converse-1 {
                position: relative;
                height: 400px;
                float: none;
            }
            .converse-2-item {
                padding: 0;
                float: none;
                #service_anim1 {
                    position: relative;
                    display: block;
                    width: 100%;
                    height: 420px;
                    .ir-project-item-description {
                        position: relative;
                        display: block;
                        z-index: 10;                        
                        margin: 0 0 0 80px;
                        width: 210px;
                    }
                    .ir-project-item-image {
                        position: absolute;
                        display: block;
                        margin: 0;
                        padding: 0;
                        width: auto;
                        height: auto;
                        z-index: -1;
                        right: 40px;
                    }
                }
            }
            .ir-project-result-container {
                position: relative;
                display: block;
                z-index: -2;
                margin: -250px 0 0 0;
                padding: 200px 70px 0 130px;
            }
        }
    }

    /* Work BMW-VR*/

    #page-id-179 {
        .ir-content {
            padding: 0;
        }
        .ir-project-background-container {
            overflow: visible;
            margin-bottom: 75px;    
            .ir-project-background-description {
                padding: 40px 0 0 0;
                max-width: 310px;
                z-index: 1;
                float: left;
                margin-left: 50px;
            }
            .ir-project-background-image {
                height: auto;
                position: absolute;
                display: inline-block;
                float: right;
                right: 0;
                padding: 0 70px 0 0;
            }
        }
        .ir-project-idea-container {
            padding: 30px 70px 0 70px;
            .ir-project-idea-description {
                position: relative;
                display: inline-block;
                width: 420px;   
                padding: 0;
                margin: 0;
                float: right;
                left: 0;
                z-index: 2;
            }
            .ir-project-idea-image {
                padding: 0;
                margin: 40px 0 0 0;
                right: 0;
            }
        }
        .jp_container {
            padding: 0px 70px;
        }
        .ir-project-result-container {
            .ir-project-result-description {
                padding: 0px;
                width: 430px;
                .ir-fixed-width-button {
                    margin-top: 2em;
                }
            }
            .ir-project-result-image {            
                position: absolute;
                display: inline-block;
                float: right;
                width: 50%;
                margin: 0;
                top: 300px;
            }
        }
    }

    /*// Work 7-11 *** CURRENTLY NOT PUBLISHED TO PUBLIC - 2016, Friday... THE THIRTEENTH BWWOOOHAAAHHAAAAAAA*/

    #page-id-278 {
        .ir-content-padding {
            padding: 80px 70px 0 70px;
            .ir-main {
                .ir-project-background-container {
                    padding: 0px 0px;
                    .ir-project-background-description {
                        position: relative;
                        display: inline-block;
                        width: 340px;
                        float: right;
                        top: 110px;
                        left: -20%;
                        z-index: 1;
                    }
                    .ir-project-background-image {
                        position: relative;
                        display: inline-block;
                        width: auto;
                        float: left;
                        left: 0;
                        width: 50%;
                    }
                }
            }
        }
    }

    /* Arcteryx */

    #page-id-246 {
        .ir-main {
            width: 1024px;
            margin: 0 auto;
        }
        .ir-content-padding {
            padding: 0;
            .post-246 {
                display: block;
                width: 1024px;
                margin: 0 auto;
            }
            .ir-project-page-container {
                max-width: 1024px;
                min-width: 1024px;
                .ir-project-background-container {
                    padding: 0;
                    height: 515px;
                    width: 1024px;
                    margin: 0 auto;
                    float: none;
                    .ir-project-background-description {
                        position: absolute;
                        display: block;
                        left: 150px;
                        top: 100px;
                        width: 381px;
                        margin: 0;
                        padding: 0;
                        float: none;
                        z-index: 1;
                    }
                    .ir-project-background-image {
                        position: absolute;
                        display: block;
                        float: none;
                        width: 330px;
                        top: 100px;
                        right: 104px;
                        margin: 0;
                        padding: 0;
                    }
                }
                .ir-project-idea-container {
                    position: relative;
                    display: block;
                    height: 444px;
                    width: 1024px;
                    margin: 0 auto;
                    float: none;
                    .ir-project-idea-description {   
                        position: absolute;
                        width: 297px;
                        top: 140px;
                        right: 76px;
                        left: initial;
                        margin: 0;
                        padding: 0;
                        float: none;
                        z-index: 1;
                    }
                    .ir-project-background-image {
                        width: 40%;
                        right: 0;
                        position: relative;
                        display: inline-block;
                        float: right;
                    }
                    .ir-project-idea-image {
                        position: relative;
                        top: 65px;
                        left: 10px;
                        right: initial;
                        height: 360px;
                        width: 590px;
                        margin: 0;
                        padding: 0;
                        float: none;
                        z-index: 0;
                        picture {
                            float: none;
                            left: initial;
                            right: initial;
                            img {
                                max-width: none;
                                width: auto;
                                height: 420px;
                            }
                        }
                    }
                }
                .arcteryx-1-item {
                    position: relative;
                    display: block;
                    width: 1024px;
                    margin: 0 auto;
                    float: none;
                    .ir-project-item-image {
                        position: relative;
                        display: block;
                        float: none;
                        top: 95px;
                        width: 877px;
                        margin: 0 auto 70px;
                        padding: 70px;
                        background-color: #EFF1F0;
                    }
                }
                .arcteryx-2-item {
                    position: relative;
                    display: block;
                    width: 1024px;
                    margin: 0 auto;
                    float: none;
                    .ir-project-item-image {
                        margin: 0 auto;
                        padding: 0;
                        width: 877px;
                    }
                }
                .ir_work_arc_idea_imgs {
                    position: relative;
                    display: block;
                    width: 100%;
                    margin: 0 auto;
                    float: none;
                    .ir_work_arc_idea_img1 {
                        position: absolute;
                        z-index: 2;
                        width: auto;
                        height: 400px;
                        margin-left: 5%;                
                    }
                    .ir_work_arc_idea_img2 {
                        position: relative;
                        display: block;
                        width: 45%;
                        margin-left: 20%;
                        margin-top: 10px;
                    }
                }
                .ir-project-result-container {
                    padding: 150px 55px 80px 113px;
                    .ir-project-result-description {
                        width: 534px;
                        padding: 0;
                    }
                }
            }
        }
    }

    /* Rogers */
    #page-id-247 {
        position: relative;
        display: block;
        margin: 0;
        padding: 0;
        .ir-content-padding {
            position: relative;
            display: block;
            margin: 0 auto;
            padding: 0;
            .ir-project-background-container {
                position: relative;
                display: block;
                height: 445px;
                width: 100%;
                margin: 0;
                padding: 0;
                .ir-project-background-description {
                    position: absolute;
                    top: 137px;
                    left: 100px;
                    z-index: 1;
                    width: 358px;
                }
                .ir-project-background-image {
                    position: absolute;
                    right: 100px;
                    left: inherit;
                    top: 50px;
                }
            }
            .ir-project-idea-container {
                position: relative;
                display: block;
                margin: 0 auto;
                padding: 0;
                height: 428px;
                width: 100%;
                .ir-project-idea-description {
                    position: absolute;
                    display: block;
                    top: 0;
                    right: 98px;
                    height: 318px;
                    width: 305px;
                    left: inherit;
                    margin: 0 auto;
                    padding: 0;
                    text-align: left;
                }
                .ir-project-idea-image {
                    position: absolute;
                    display: block;
                    height: 382px;
                    width: 582px;
                    margin: 0 auto;
                    padding: 110px 80px;
                    top: 35px;
                    left: 72px;
                    right: inherit;
                }
            }
            .rogers-1-item {
                position: relative;
                display: block;
                margin: 50px auto 0;
                width: 100%;
                height: 1040px;
                .ir-project-item-image {
                    position: relative;
                    display: block;
                    float: none;
                    z-index: auto;
                    padding: 37px 72px;
                    margin: 0 auto;
                    background-color: #9AB7CC;
                    width: 885px;
                }
            }
            .rogers-2-item {
                position: relative;
                display: block;
                margin: 0 auto;
                #service_anim1 {
                    position: relative;
                    display: block;
                    margin: 50px auto -80px;
                    width: 885px;
                    height: 550px;
                    z-index: 1;
                    .ir-align-right {
                        position: absolute;
                        display: block;
                        width: 485px;
                        height: 590px;
                        padding: 40px 64px;
                        right: 0;
                        left: initial;
                        background-color: #9AB7CC;
                    }
                    .ir-align-left {
                        position: absolute;
                        display: block;
                        width: 368px;
                        height: 590px;
                        padding: 90px 90px;
                        left: 0;
                        background-color: #9AB7CC;
                    }
                }
                .ir-project-result-container {
                    margin-top: -20px;
                    padding: 0;
                    height: 445px;
                    .ir-project-result-description {
                        position: absolute;
                        display: block;
                        width: 450px;
                        margin: 0;
                        padding: 0;
                        top: 174px;
                        left: 125px;
                    }
                    .ir-project-result-image {
                        position: absolute;
                        display: block;
                        height: 190px;
                        width: 187px;
                        top: 174px;
                        right: 150px;
                    }
                }
            }
        }
    }

    /* Yokohama */
    #page-id-248 {
        .ir-content {
            position: relative;
            display: block;
            padding: 0;
            width: 1024px;
            margin: 0 auto;
            float: none;
            .ir-project-background-container {
                position: relative;
                display: block;
                height: 305px;
                width: 100%;
                margin: 125px auto 80px;
                padding: 0;
                float: none;
                .ir-background-fill-yokohama {
                    margin-top: -23%;
                    height: 340px;
                }
                .ir-project-background-description {
                    position: absolute;
                    display: block;
                    margin: 0 auto;
                    padding: 0;
                    top: 40px;
                    height: 225px;
                    width: 373px;
                    float: none;
                    z-index: 1;
                    .ir__yoko_idea {
                        position: relative;
                        display: block;
                        width: 340px;
                    }
                }
                .ir-project-background-image {
                    position: relative;
                    display: block;
                    height: 290px;
                    left: 0;
                    img {
                        max-width: none;
                        width: 310px;
                    }
                }
            }
            .ir-project-idea-container {
                position: relative;
                display: block;
                width: 881px;
                margin: 0 auto;
                float: none;
                padding: 0;
                .ir-project-idea-image {
                    position: absolute;
                    display: block;
                    right: 0;
                    top: 30px;
                    left: inherit;
                }
                .ir-project-idea-description {
                    position: relative;
                    display: block;
                    float: none;
                    width: 822px;
                    height: 550px;
                    margin: 0 60px 0 0;
                    padding: 0 0 0 55px;
                    left: 0;
                    .ir-background-fill-yokohama {
                        position: absolute;
                        display: block;
                        float: none;
                        top: 60px;
                        left: 90px;
                        height: 375px;
                        width: 580px;
                        margin: 0;
                        z-index: -1;
                        background-color: #EDEFEE;
                    }
                    .ir_yoko_idea {
                        position: relative;
                        display: block;
                        width: 340px;
                    }
                    .yoko-1-mobile-item-image {
                        display: none;
                    }
                    .yokohama-1-item {
                        position: relative;
                        display: block;
                        height: 275px;
                        width: 800px;
                        margin: 0;
                        padding: 0;
                        float: none;
                        left: 0;
                        .ir-project-item-description {
                            z-index: 1;
                            width:320px;
                        }
                        #service_anim1 {
                            position: relative;
                            margin: 0;
                            padding: 0;
                            float: none;
                            left: inherit;
                            right: inherit;
                            .ir-project-item-description {
                                position: absolute;
                                top: 50px;
                                right: 0;
                                float: none;
                                margin: 0;
                                padding: 0;
                                width: 370px;
                                left: initial;
                            }
                            .ir-project-item-image {
                                position: absolute;
                                top: 20px;
                                right: initial;
                                left: 0;
                                margin: 0;
                                padding: 0;
                                width: 460px;
                                float: none;
                                .ir-section-image {
                                    max-width: 110%;
                                    width: 460px;
                                }
                            }
                        }
                    }
                }
                .yokohama-img-1-item {
                    padding: 0;
                    text-align: center;
                    float: none;
                    .ir-project-item-image {
                        position: relative;
                        display: inline-block;
                        padding: 0 0 60px 0;
                        left: 0;
                    }
                }
                .ir__yoko_imageContainer {
                    position: relative;
                    display: block;
                    float: none;
                    margin: 0;
                    height: 606px;
                    width: 881px;
                    background-color: #AC1E34;
                    z-index: 1;
                    .yokohama-img-2-item {
                        position: absolute;
                        display: block;
                        float: none;
                        margin: 0;
                        padding: 0;
                        top: 84px;
                        left: 330px;
                        height: 283px;
                        width: 468px;
                        .ir-project-item-image {
                            position: relative;
                            height: 283px;
                            width: 468px;
                            left: 0;
                            img {
                                height: 283px;
                                width: 468px;
                            }
                        }
                    }
                    .yokohama-img-3-item {
                        position: absolute;
                        display: block;
                        float: none;
                        margin: 0;
                        padding: 0;
                        top: 240px;
                        left: 82px;
                        height: 283px;
                        width: 468px;
                        .ir-project-item-image {
                            position: relative;
                            height: 283px;
                            width: 468px;
                            left: 0;
                            img {
                                height: 283px;
                                width: 468px;
                            }
                        }
                    }
                }
                .ir-project-result-container {
                    position: relative;
                    display: block;
                    float: none;
                    height: 410px;
                    margin: -100px 0 0 0;
                    width: 100vw;
                    left: -10vw;
                }
            }
        }
    }

    /* QuickSilver Kelly */
    #page-id-249 {
        .ir-content {
            display: block;
            padding: 0;
            width: 1024px;
            margin: 0 auto;
            .ir-project-background-container {
                position: relative;
                display: block;
                height: 606px;
                float: none;
                .ir-project-background-description {
                    position: absolute;
                    display: block;
                    top: 153px;
                    left: 115px;
                    width: 313px;
                    z-index: 1;
                }
                .ir-project-background-image {
                    position: absolute;
                    display: block;
                    right: 70px;
                    top: 127px;
                    z-index: 0;
                    width: 547px;
                }
            }
            .ir-project-idea-container {
                position: relative;
                display: block;
                height: 589px;
                width: 100%;
                margin: 0 auto;
                padding:0;
                float: none;
                .ir-project-idea-description {
                    position: absolute;
                    display: block;
                    top: 50px;
                    right: 157px;
                    width: 315px;
                    padding: 0;
                }
                .ir-project-idea-image {
                    position: absolute;
                    display: block;
                    top: 0;
                    left: 232px;
                    height: 472px;
                    width: 210px;
                    padding: 0;
                }
            }
            .quiksilver-kelly-1-item {
                position: relative;
                display: block;
                margin: 0 auto;
                padding: 51px 68px;
                width: 886px;
                background-color: #EBEDEC;
                float: none;
            }
            .quiksilver-kelly-2-item {
                position: relative;
                display: block;
                margin: 60px auto 0;
                padding: 0;
                width: 886px;
                background-color: #EBEDEC;
                float: none;
            }
            .ir-project-result-container {
                position: relative;
                display: block;
                height: 470px;
                margin: -140px auto 0;
                padding: 0;
                float: none;
                .ir-project-result-description {
                    position: absolute;
                    display: block;
                    top: 186px;
                    left: 122px;
                    width: 330px;
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }

    /* FOX */
    #page-id-251 { 
        .ir-content {
            padding: 0;
            width: 1024px;
            .ir-project-background-container {
                padding: 80px 117px;
                float: none;
                .ir-project-background-description {
                    position: relative;
                    display: inline-block;
                    width: 575px;
                    padding: 0 0 60px;
                    z-index: 1;
                    text-align: left;
                }
                .ir-project-background-image {
                    position: relative;
                    display: block;
                    width: 540px;
                    margin: 0 auto;
                    padding: 0;
                }
            }
            .ir-project-idea-container {
                position: relative;
                display: block;
                margin: 0 auto 30px;
                padding: 0;
                float: none;
                .ir-project-idea-description {
                    position: absolute;
                    width: 316px;
                    float: none;
                    top: 56px;
                    right: 100px;
                    left: inherit;
                    margin: 0;
                    z-index: 1;
                }
                .ir-project-idea-image {
                    position: relative;
                    display: block;
                    width: 575px;
                    margin: 0;
                    padding: 0;
                    top: 0;
                    left: 70px;
                    right: inherit;
                    float: none;
                    img {
                        width: 100%;
                    }
                }
            }
            .fox-idol-iphone-1-item {
                display: block;
                height: 476px;
                width: 885px;
                margin: 0 auto;
                padding: 50px 0;
                background-color: #EDEFEE;
                float: none;
               .ir-project-item-description {
                    position: relative;
                    display: block;
                    margin: 0 auto;
                    height: 357px;                    
                    width: 660px;
                    float: none;
                    left: 0;
                   .ir-item-image {
                       padding: 0;
                   }
                }
            }
            .fox-idol-desktop-1-item {
                margin: 54px auto 0;
                width: 885px;
                left: 0;
                padding: 0;
                float: none;
            }
            .fox-idol-desktop-2-item {
                margin: 30px auto 0;
                width: 885px;
                left: 0;
                padding: 0;
                float: none;
            }
            .ir-project-result-container {
                display: block;
                height: 470px;
                margin-top: -140px;
                padding: 203px 130px;
            }
        }
    }

    #page-id-19 {
        .careersOfficePicker {
            a {
                margin: 2px 20px !important;
            }
        }
        .jobListings {
            padding: 0;
        }
    }
}