@media screen and (min-width: 1919px) {

    mark {
        padding: 0.2em;
    }

    /* Home */

    #slick-carousel-position-0 {
        .ir__homeVideo_header {
            position: relative;
            display:block;
            top: 0;
            z-index: 1;
            background-color: black;
            video {
                position: relative;
                display: block;
                height: 100vh;
                width: auto;
                margin: 0 auto;
            }
        }
    }
    .header-ir-titlebox .header-ir-titlebox-home {
        z-index:10;
    }

    #page-id-7 {
        .ir-main {
            max-width: 1024px;
            margin: 0 auto;
            .home-cta {
                width: 60%;
                line-height: 1em;
                font-size: 24px;
                font-family: 'Larsseit Bold';
            }
        }
        #home_master {
            position: relative;
            display: inline-block;
            width: 100%;
            text-align: center;
            #home_workNav {
                position: absolute;
                display: block;
                top: 175px;
                left: 35px;
                height: 175px;
                width: 10px;
                z-index: 1;
                opacity: 0;
                #nav1:hover, #nav2:hover, #nav3:hover, #nav4:hover {
                    height:50px;
                    margin-top:-25px;
                }
                #nav1, #nav2, #nav3, #nav4 {
                    position: absolute;
                    display: block;
                    height: 2px;
                    width: 100%;
                    background-color: grey;
                    -webkit-transition: all .3s ease;
                    -moz-transition: all .3s ease;
                    -ms-transition: all .3s ease;
                    -o-transition: all .3s ease;
                }
                #nav1 {
                    top: 0;
                }
                #nav2 {
                    top: 33%;
                }
                #nav3 {
                    top: 66%;
                }
                #nav4 {
                    bottom: 0;
                }
            }
            #fullpage {
                position: relative;
                display: inline-block;
                width: 100%;
                height: 514px;
                margin-bottom: 0;
                overflow: hidden;
                #home_workItems {
                    position: relative;
                    display: inline-block;
                    overflow: hidden;
                    height: 514px;
                    .section {
                        display: inline-block;
                        height:514px;
                        width: 100%;
                        .ir-work-section {
                            position: relative;
                            display: inline-block;
                            height: 514px;
                            width: 100%;
                            padding: 0;
                            z-index: 0;
                            picture {
                                position: relative;
                                display: inline-block;
                                height: 514px;
                                width: 60%;
                                float: left;
                                z-index: 0;
                                margin-left: 75px;
                                img {
                                    width: 100%;
                                }
                            }
                            .ir_workTitle {
                                height: 514px;
                                .ir-work-section-titlebox {
                                    position: relative;
                                    display: block;
                                    float: left;
                                    width: 30%;
                                    padding: 30px;
                                    margin: 0;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    z-index: 2;
                                    left: -40px;
                                    right: 0;
                                    opacity: 1;
                                    text-align: left;
                                    color: black;
                                    background-color: rgba(255, 255, 255, 0.8);
                                    .ir-work-section-subtitle {
                                        margin-bottom: 30px;
                                    }
                                    .ir-work-section-excerpt {
                                    }
                                }

                            }
                        }
                    }
                }
            }
            #home_cultureMaster {
                position: relative;
                display: inline-block;
                width: 100%;
                margin-top: 50px;
                .cult_container {
                    position: relative;
                    display: inline-block;
                    width: 100%;
                    padding: 70px;
                    .cult_bg {
                        position: absolute;
                        display: block;
                        width: 70%;
                        background-color: #e8e8e8;
                        height: 75%;
                        margin: 0 auto;
                        margin-top: -30px;
                        margin-left: 5%;
                    }
                    .cult_img {
                        position: relative;
                        display: inline-block;
                        float: right;
                        width: 60%;
                        img {
                            position: relative;
                            display: inline-block;
                            width: 100%;
                            height: auto;
                        }
                    }
                    .cult_copy {
                        position: relative;
                        display: inline-block;
                        float: left;
                        width: 250px;
                        padding: 45px 0 0 0;
                        text-align: left;
                        .cult_title {
                            position: relative;
                            display: inline-block;
                        }
                        .cult_content {
                            position: relative;
                            display: inline-block;
                        }
                    }
                }
            }
            #home_postsRow {
                position: relative;
                display: inline-block;
                width: 100%;
                text-align: left;
                padding: 0 50px 50px;
                .homeNews_title {
                    width: 90%;
                }
                h4 {
                    font-family: 'Karla',"Larsseit Bold", Arial, "sansserif";
                    color:grey;
                    text-transform: uppercase;
                    font-size: 0.8em;
                    letter-spacing: 0.1em;
                    margin: 0 0 20px 0;
                }
                div { 
                    padding: 0;
                    margin: 0;                    
                    font-size: 1em;
                    font-family: "Larsseit Bold", Arial, "sansserif";
                    text-align: left;
                    a {color:black;}
                }
                .homeNews_date {
                    font-family: 'serif';
                    font-size: 0.9em;
                    font-style: italic;
                }
                .home_postsRow4 { display: none !important; }
            }
        }
        .footer-offices {
            padding: 0 30px;
        }            
    }

    /* Office Major Container */

    #page-id-140 {
        padding: 0;
        .ir-content-padding {
            padding: 0 2em;
        }
    }

    #office-content {
        position: relative;
        display: inline-block;
        width: 100%;
        padding: 4em 0;
    }
    .office-leftCtn {
        position: relative;
        display: inline-block;
        float: left;
        width: 50%;
        padding: 0 80px 0 65px;
    }

    .office-rightCtn {
        position: relative;
        display: inline-block;
        float: right;
        width: 50%;
        padding: 0 65px 0 0;
        h3 {
            padding:0 0 50px 0;
        }
    }

    .office-aboutOffice {
        position: relative;
        display: inline-block;
        width: 100%;
    }

    .office-cityScape {
        position: relative;
        display: inline-block;
        width: 100%;
        overflow: hidden;
        margin: 80px 0 0 0;
    }

    .office-cityDescritption {
        position: relative;
        display: inline-block;
        margin: 60px 0 0 0;
    }

    .office-rebelsRecommend {
        position: relative;
        display: inline-block;
        width: 100%;
        margin: 50px 0;
        text-align: center;
         .office-centerTitle {
            position: relative;
            display: block;
            text-align: center;
        }
        .rebelsRecommend {
            position: relative;
            display: block;
            text-align: center;
            margin: 30px 0 0 0;
        }
    }

    .office-officeImage {
        position: relative;
        display: inline-block;
        width: 100%;
        margin: 80px 0 0 0;
        .officeCityScape {
            width: 100%;
            picture {
                position: absolute;
                display: inline-block;
                width: 100%;
                height: auto;
                top: 0;
            }

            img {
                position: relative;
                display: block;
                width: 100%;
            }
        }
    }

    .office-jobListings {
        position: relative;
        display: inline-block;
        margin: 80px 0 0 0;
        background-color: #EFF1F0;
        width: 100%;
        padding: 60px 0 0;
        text-align: center;
    }

    .office-jobPostings {
        position: relative;
        display: inline-block;
        .jobListings {
            position: relative;
            display: inline-block;
            padding: 0;
        }
        h9 {
            position: relative;
            display: inline-block;
            width: 100%;
            margin: 0;
        }
    }

    /* About Us page-id-13 */

    #page-id-13 {
        position: relative;
        display: inline-block;
        .banner {
            position: relative;
            display: inline-block;
        }
        .ir-button {
            font-size: 1em;
            letter-spacing: 0.1em;
            width: 80%;
        }

        .ir-section-item-inner {
            .ir-anchor {
                height: auto;
                padding: 10px 5%;
                color: white;
                font-family: 'Karla-Bold';
                font-size: 1em;
                font-weight: bold;
                text-align: center;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                background-color: black;
            }
        }
    }

    /* Services Page */

    .page-id-15 {

        .main {
            padding: 0;
        }

        #service_anim1 {
            z-index: 1;
            position: relative;
            display: inline-block;
        }

        .timelineBackground-startTime__lineTop {
            position: absolute;
            width: 2px;
            height: 2000px;
            background-color: #ccc;
            left: 50%;
            z-index: -1;
        }

        .timelineBackground-startTime__lineEnd {
            position: absolute;
            width: 2px;
            height: 3000px;
            background-color: #ccc;
            left: 50%;
            z-index: -1;
            bottom: 0;
        }

        .timelineBackground-startTime, .timelineBackground-endTime {
            position: relative;
            width: 3em;
            height: 2px;
            background-color: #ccc;
            z-index: -1;
            margin: auto;
        }

        .timelineBackground--bottom {
            position: relative;
            display: inline-block;
            width: 100%;
            text-align: center;
        }

        .digitalIcon {
            padding:0;
            margin: 0 !important;
        }

        .digitalIcons {
            position: relative;
            display: inline-block;
            margin-left: 0;
            margin-right: 0;
            width:100%;
        }

        .digitalIcon_top {
            padding:0;
        }

        .digitalIcon_top img {
            width:30%;
        }

        #servicesTimeline {
            padding: 3em 0;
        }

        .timelineBackground--top {
            position:relative;
            display: inline-block;
            text-align: center;
            width: 100%;
            color: grey;
            margin: 4em 0 1em 0;
        }

        #service_trig1 {
            padding: 80px 0 80px 0;
        }

        #para_0, #para_1, #para_2, #para_3 {
            position: relative;
            display: inline-block;
            margin: 0;
        }

        #anim_0, #anim_1, #anim_2, #anim_3 {
            padding: 0;
        }

        .serviceItem_iconCTN {
            overflow: hidden;
        }
        .serviceItem_descriptionWrapper {
            padding: 0;
            p {
                padding: 0 20px;
            }
        }

        #service_anim1 {
            z-index: 1;
            position: relative;
            display: inline-block;
            .ir-project-item-description {
                position: relative;
                display: inline-block;
                float: left;
                width: 40%;
                margin-left: 50px;
            }
            .ir-project-item-image {
                position: relative;
                display: inline-block;
                float: right;
                width: 50%;
                margin-top: 50px;
                picture {
                    margin-left: 30px;
                }
            }
        }

        #anim_0 {
            position: relative;
            display: block;
            margin: 0;
            padding: 0;
            width: 100%;
            .service_primContAnim {
                margin: 0;
                display: inline-block;
                width: 100%;
                padding: 0 70px;
            }
            .serviceItem_descriptionWrapper {
                position: relative;
                display: inline-block;
                float: left;
                width: 50%;
                padding-left: 50px;
                text-align: right;
                background-color: rgba(255, 255, 255, 0);
                .serviceItem_name {
                    padding-right: 20px;
                }
                .serviceItem_name, .serviceItem_description {
                    background-color: rgba(255, 255, 255, 0);
                }
                .serviceItem_iconCTN {
                    .serviceItem_icon {
                        height: auto;
                        margin: -50px 0;
                        position: relative;
                        display: inline-block;
                    }
                }
            }
            .serviceItem_imageWrapper {
                position: relative;
                display: inline-block;
                float: right;
                overflow: visible;
                margin: 0;
                padding: 0;
                width: 595px;
                picture {
                    width: 100%;
                    position: relative;
                    display: block;
                    margin-left: 0;
                    img {
                        width:100%;
                        max-width: 100%;
                    }
                }
            }
                .serviceItem_secondaryContainer {
                    position: relative;
                    display: inline-block;
                    width: 50%;
                    text-align: left;
                    padding-left: 5%;
                    margin-top: 150px;
                    background-color: rgba(255, 255, 255, 0);
                    .service__keywords-1 {
                        margin: 0;
                    }
                }
        }

        #anim_1 {
            .serviceItem_descriptionWrapper {
                position: relative;
                display: inline-block;
                float: right;
                width: 45%;
                top: 20px;
                left: 0;
                text-align: left;
                margin-top: 0;
                background-color: rgba(255, 255, 255, 0);
                .serviceItem_icon {
                    margin-left: -33px;
                }
                .serviceItem_name {
                    padding-left: 20px;
                }
                .serviceItem_name, .serviceItem_description {
                    background-color: rgba(255, 255, 255, 0);
                }
                .serviceItem_iconCTN {
                    .serviceItem_icon {
                        height: auto;
                        margin: -50px 0;
                        position: relative;
                        display: inline-block;
                    }
                }
            }
            .serviceItem_imageWrapper {
                position: relative;
                display: inline-block;
                float: left;
                overflow: visible;
                padding: 0;
                margin: 0;
                left: 50px;
                width: 50%;
                margin-top: 0;
                picture {
                    min-width: 120%;
                    padding: 20%;
                    position: relative;
                    display: block;
                    background-color: #E9EFE4; 
                    img {
                    }
                }
            }

            .serviceItem_secondaryContainer {
                position: relative;
                display: inline-block;
                margin: 0;
                margin-top: -4em;
                margin-left: -2em;
                right: 20px;
                .serviceItem_secondaryImageWrapper {
                    width: 50%;
                    position: relative;
                    display: inline-block;
                    float: right;
                    picture {
                        min-width: 100%;
                    }
                }
                .serviceItem_listingsWrapper {
                    float: left;
                    position: relative;
                    display: inline-block;
                    width: 45%;
                    text-align: right;
                    background-color: rgba(255, 255, 255, 0);
                }
            }
            .service__keywords-1 {
                margin: 0;
            }
        }

        #anim_2 {
            .serviceItem_descriptionWrapper {
                position: relative;
                display: inline-block;
                float: left;
                width: 60%;
                text-align: left;
                margin-left: 50px;
                overflow: visible;
                background-color: #E9EFE4;
                .serviceItem_name {
                    padding-left: 20px;
                }
                .serviceItem_name, .serviceItem_description {
                    background-color: rgba(255, 255, 255, 0);
                }
                .serviceItem_iconCTN {
                    overflow: hidden;
                    margin-bottom: -75px;
                    .serviceItem_icon {
                        height: auto;
                        top: -50px;
                        margin: 0;
                        position: relative;
                        display: inline-block;
                    }
                }
            }
            .serviceItem_imageWrapper {
                position: absolute;
                display: inline-block;
                right: 0;
                top: -25%;
                overflow: visible;
                margin: 0;
                width: 55%;
                left: auto;
                margin-top: 0;
                z-index: 1;
                picture {
                    position: relative;
                    display: block;
                    min-width: 120%;
                    width: 120%;
                    padding: 0 20%;
                    text-align: center;
                    img {
                    }
                }
            }

            .serviceItem_secondaryContainer {
                position: relative;
                display: inline-block;
                margin: 0;
                margin-top: 30px;
                top: 0;
                z-index: 1;
                .serviceItem_secondaryImageWrapper {
                    width: 50%;
                    position: relative;
                    display: inline-block;
                    float: right;
                    picture {
                        min-width: 100%;
                    }
                }
                .serviceItem_listingsWrapper {
                    float: right;
                    position: relative;
                    display: inline-block;
                    width: 45%;
                    margin-top: 0px;
                    text-align: right;
                    background-color: rgba(255, 255, 255, 0);
                }
            }
            .service__keywords-1 {
                margin: 0;
            }
        }

        #para_3 {
            margin-top:20%;
        }

        #anim_3 {
            margin: 0 50px;
            padding: 0;
            .serviceItem_descriptionWrapper {
                position: relative;
                display: inline-block;
                float: right;
                width: 50%;
                text-align: left;
                margin-top: -50px;
                padding: 0;
                background-color: rgba(255, 255, 255, 0);
                .serviceItem_name {
                    padding-left: 20px;
                }
                .serviceItem_name, .serviceItem_description {
                    background-color: rgba(255, 255, 255, 0);
                }
                .serviceItem_iconCTN {
                    .serviceItem_icon {
                        height: auto;
                        margin: -50px 0;
                        position: relative;
                        display: inline-block;
                    }
                }
            }
            .serviceItem_imageWrapper {
                position: relative;
                display: inline-block;
                float: left;
                overflow: visible;
                padding: 0;
                margin: 0;
                width: 35%;
                margin-left: 50px;
                margin-top: 0;
                picture {
                    min-width: 120%;
                    position: relative;
                    display: block;
                    img {
                    }
                }
            }

            .serviceItem_secondaryContainer {
                position: relative;
                display: inline-block;
                margin: 0;
                margin-top: 3em;
                top:0;
                .serviceItem_secondaryImageWrapper {
                    width: 50%;
                    position: relative;
                    display: inline-block;
                    float: right;
                    picture {
                        min-width: 100%;
                    }
                }
                .serviceItem_listingsWrapper {
                    float: right;
                    position: relative;
                    display: inline-block;
                    width: 45%;
                    margin-right: 5%;
                    text-align: right;
                    margin-top: -50px;
                    background-color: rgba(255, 255, 255, 0);
                }
            }
            .service__keywords-1 {
                margin: 0;
            }
        }
    }

    /* Contact */

    #page-id-833 {
        .contact-getInTouch {
            position: relative;
            display: inline-block;
            width: 100%;
            .contactGetInTouch-left {
                position: relative;
                display: inline-block;
                float: left;
                width: 50%;
                padding: 40px;
                h2 {
                    margin: 0;
                }
            }
            .contactGetInTouch-Right {
                position: relative;
                display: inline-block;
                float: right;
                padding: 40px;
            }

        }
        .contact-ourOffices {
            position: relative;
            display: inline-block;
            width: 100%;
        }

        .contact-getInTouch {
            position: relative;
            display: inline-block;
            width: 100%;
        }

        .contactGetInTouch-left {
            position: relative;
            display: inline-block;
            float: left;
            padding: 2em 2em 2em 5em;
            width:50%;
        }

        .contactGetInTouch-left h2 {
            font-size: 1.1em;
        }

        .contactGetInTouch-Right {
            position: relative;
            display: inline-block;
            float: right;
            width:50%;
            padding: 3.5em 0;
        }

        .contact_genTitle {
            font-size: 0.9em;
            text-transform: uppercase;
        }

        .contact_genMail {
            padding: 0 0 1.5em 0;
            position: relative;
            display: inline-block;
        }


        .contact_genMail a {
            color: black;
        }

        .contactOffice {
            position: relative;
            display: inline-block;
            text-align: center;
        }

        .contact-ourOffices {
            position: relative;
            display: inline-block;
            padding: 3em 0 0;
            margin: 3em 0;
            background-color: #eff1f0;
            text-align: center;
        }

        .contact-ourOffices h4 {
            font-size: 1em;
            text-transform: uppercase;
            color: gray;
        }

        .contactOffice__details {
            margin: 2em 0 4em 0;
        }

        .contactOffice-address {
            font-family: baskerville-urw;
            font-size: 1em;
            font-style: italic;
            list-style: none;
            padding: 0;
            margin-bottom: 2em;
        }
    }

    /* Labs */ 

    .labPost__container {
        position: absolute;
        display: block;
        left: 50%;
        top: 0;
        width: 100%;
        height: 100%;
    }

    /* Careers */ 

    .careersOfficePicker {
        position: relative;
        text-align: center;
        margin: 3em;
    }

    .jobListing {
        position: relative;
        text-align: center;
        margin: 5em;
    }

    .jobTitle h3:hover {
        text-decoration: underline;
    }

    /* Job posting */

    .jobpost {
        position: relative;
        margin: 3em 0;
    }

    .jobpost-footer {
        position: relative;
        text-align: center;
        margin: 5em;
    }



    /*// Work Pages */

    /* Main Work Page */

    #page-id-9 {
        #home_postsRow { display: none; }
        .ir-content {
            padding: 0;
            .ir-work-section {
                position: relative;
                height: 385px;
                width: 100%;
                picture {
                    display: none;
                }
                .ir_workTitle {
                    position: relative;
                    display: none;
                    float: none;
                    z-index: 10;
                    margin: 0 auto;
                    height:100%;
                    width: 100%;
                    top: 0;
                    .ir-work-section-titlebox {
                        position: relative;
                        display: block;
                        max-width: 50%;
                        margin: 0 auto;
                        z-index: 1;
                        .ir_workTitle_featured {
                            display: none;
                        }
                        a {color:black;}
                        h3 {
                            padding: 0;
                        }
                        .ir-work-section-subtitle {
                            display: none;
                        }
                    }
                }
            }
            .ir-work-section:hover {
                .ir_workTitle {
                    display: inline-block;
                }
            }
        }
    }

    /* Infinity */
    .post-190 {

        .hidden-xs {
            display: block !important;
        }
        .main {
            padding: 0 70px;
        }

        .infiniti-bg {
            .post_slug-item-image {
                position: relative;
                display: inline-block;
                float:right;
            }
        }

        .post_slug-item-image {
            position: relative;
            display: inline-block;
            float: right;
            width: 50%;
            .ir-image {
                width: 150%;
                right: 100px;
                max-width: 150%;
                position: relative;
                display: block;
            }
       
        }

        #service_trig1 {
            padding-bottom: 0;
        }
        .infiniti-1-item-image  {
            position: relative;
            display: inline-block;
            float: left;
            width: 50%;
            .ir-image {
                position: relative;
                display: block;
                width: 50%;
                right: 0px;
                bottom: -350px;
                float: right;
            }
        }

        .infiniti-idea {
            margin-top: 50px;
            margin-bottom: 0;
        }

        .infiniti-320-overlap {
            padding-top:0;
        }

        .ir-floating-container {
            display: block !important;
            #service_anim1 {
                display: none;
                position: relative;
                .ir-project-item-description {
                    display: block;
                    position: relative;
                    width: 100%;
                        .ir-project-item-image {
                            display: none !important;
                        }
                    
                }
        
                .infin_dsc1 {
                    display: inline-block;
                    position: absolute;
                    float: left;
                    width: 50%;
                    picture {
                        top: 125px;
                        width: 100%;
                        height: auto;
                        position: absolute;
                        left: 0;
        
                        .ir-image {
                            width: 100%;
                        }
                    }
                }
        
                .infin_dsc2 {
                    display: inline-block;
                    float: right;
                }
            }

            .ir-project-idea-container {    
                padding-top: 130px !important;
                padding-bottom:  0px !important;
                .ir-project-idea-description {
                    padding: 0 60px 0 15% !important;
                }
            }

            .jp-container {
                padding-top: 80px !important;
            }

            .ir-project-result-container {
                margin-top: -160px !important;
                padding-bottom: 100px;
                width: 120%;
                left: -10%;
            }

            .ir-project-result-description {
                padding-bottom: 0px;
            }

            .tool-collaboration {
                width: 120%;
                left: -10%;
            }

            .ir-tool-wrapper {
                margin-top: 0 !important;
            }
        }
    }

    /*// Work Converse*/

    #page-id-236 {
        .ir-content {
            position: relative;
            display: block;
            width: 100vw;
            margin:0 auto;
            padding:0;
            .ir-project-background-container {
                .ir-project-background-description {
                    padding: 90px 0 120px 70px;
                    max-width: 420px;
                }
                .ir-project-background-image {
                    height: auto;
                    position: absolute;
                    display: inline-block;
                    float: right;
                    right: 0;
                }
            }
            .ir-converse-chucks {
                .ir-converse-shoe-container {
                    position: relative;
                    display: block;
                    padding: 0;
                    .ir-converse-shoe-icon {
                        position: relative;
                        display: block;
                        margin: 0 auto;
                        width: 90%;
                        border-style: solid;
                        border-width: 2px;
                        border-radius: 50%;
                    }
                    .ir-converse-content {
                        display: none;
                    }
                }
                .ir-converse-shoe-container:hover {
                    .ir-converse-content {
                        position: absolute;
                        display: block;
                        margin: 0 auto;
                        top: 5px;
                        left: 17px;
                        padding: 55px 0 0 0;
                        background-color: rgba(0, 0, 0, 1);
                        border-radius: 50%;
                        border-style: solid;
                        border-color: white;
                        height: 200px;
                        width: 200px;
                        color: white;
                    }
                } 
            }
            .ir-project-idea-container {
                position: relative;
                display: block;
                margin: 0 auto;
                padding: 80px;
                height: 500px;
                .ir-project-idea-description {
                    position: absolute;
                    display: block;
                    left: inherit;
                    top: 130px;
                    right: 80px;
                    z-index: 1;
                    width: 245px;
                }
                .ir-project-idea-image {
                    position: absolute;
                    display: block;
                    left: 60px;
                    z-index: 0;
                }
            }
            .converse-1-item {
                position: relative;
                display: block;
                margin: 0 auto 80px;
                padding: 0;
            }
            .converse-2-item {
                padding-bottom: 0 !important;
                #service_anim1 {
                    display: inline-block;
                    position: relative;
                    height: 350px;
                    width: 100%;
                    z-index: 1;
                        .ir-project-item-description {
                            width: 220px;
                            position: absolute;
                            display: inline-block;
                            top: 50px;
                            left: 80px;
                            z-index: 2;
                        }
                        .ir-project-item-image {
                            position: absolute;
                            display: inline-block;
                            right: 0;
                            top: 0;
                            height: auto;
                            z-index: 1;
                        }
                }
                .ir-project-result-container{
                    position: relative;
                    display: block;
                    height: 640px;
                    width: 112%;
                    left: -6%;
                    .ir-project-result-image {
                        position: absolute;
                        display: block;
                        width: 500px;
                        top: 340px;
                        right: 40px;
                    }
                }
                .tool-collaboration {
                    width: 112%;
                    position: relative;
                    display: inline-block;
                    left: -6%;
                }
            }
        }
    }

    /*// Work BMW-VR*/

    #page-id-179 {
        position: relative;
        display: block;
        margin: 0 auto;
        width: 1024px;
        .ir-content, .ir-content-padding {
                position: relative;
                display: block;
                padding: 0;
                margin: 0;
            .ir-main {
                .ir-project-background-container {
                    position: relative;
                    display: block;
                    margin: 0 auto;
                    padding: 0;
                    height: 500px;
                    width: 100%;
                    .ir-project-background-description {
                        position: absolute;
                        display: block;
                        margin: 0;
                        padding: 0;
                        left: 114px;
                        top: 130px;
                    }
                    .ir-project-background-image {
                        position: absolute;
                        display: block;
                        margin: 0;
                        padding: 0;
                        top: 95px;
                        right: 78px;
                        height: auto;
                        width: 560px;
                    }
                }
                .ir-project-idea-container {
                    position: relative;
                    display: block;
                    margin: 0;
                    padding: 92px 0 0;
                    .ir-project-idea-description {
                        position: relative;
                        display: block;
                        margin: 0 ;
                        padding: 0;
                        float: right;
                        left: 0;
                        z-index: 2;
                        text-align: left;
                    }
                    .ir-project-idea-image {
                        position: relative;
                        display: block;
                        float: left;
                        margin: 0;
                        padding: 0;
                        width: 393px;
                        top: 40px;
                        left: 0;
                    }
                }
                .jp-container, .ir-content-padding {
                    position: relative;
                    display: block;
                    margin: 0;
                    padding: 114px 78px 0;
                }
                .ir-project-result-container {
                    position: relative;
                    display: block;
                    margin: -100px 0 0 0;
                    padding: 212px 0 0 130px;
                    background-color: #EFF1F0;
                    .ir-button {
                        position: relative;
                        display: block;
                        width: 240px;
                        margin: 10px 0 0 0;
                        padding: 10px 0;
                    }
                    .ir-project-result-image {                        
                        position: absolute;
                        display: block;
                        margin: 0;
                        padding: 0;
                        top: 360px;
                        left: 555px;
                    }
                }
            }
        }
    }

    #page-id-278 {
        position: relative;
        display: block;
        margin: 0 auto;
        width: 1024px;
        .ir-content, .ir-content-padding {
                position: relative;
                display: block;
                padding: 0;
                margin: 0;
            .ir-main {
                .ir-project-background-container {
                    position: relative;
                    display: block;
                    margin: 0 auto;
                    padding: 0;
                    height: 500px;
                    width: 100%;
                    .ir-project-background-description {
                        position: absolute;
                        display: block;
                        margin: 0;
                        padding: 0;
                        left: 114px;
                        top: 130px;
                    }
                    .ir-project-background-image {
                        position: absolute;
                        display: block;
                        margin: 0;
                        padding: 0;
                        top: 95px;
                        right: 78px;
                        height: auto;
                        width: 560px;
                    }
                }
                .ir-project-idea-container {
                    position: relative;
                    display: block;
                    margin: 0;
                    padding: 92px 0 0;
                    .ir-project-idea-description {
                        position: relative;
                        display: block;
                        margin: 0 78px 0 0;
                        padding: 0;
                        float: right;
                        left: 0;
                        z-index: 2;
                        text-align: left;
                    }
                    .ir-project-idea-image {
                        position: relative;
                        display: block;
                        float: left;
                        margin: 0;
                        padding: 0;
                        width: 393px;
                        top: 40px;
                        left: 78px;
                    }
                }
                .jp-container .ir-content-padding {
                    position: relative;
                    display: block;
                    margin: 0;
                    padding: 114px 78px 0;
                }
                .ir-project-result-container {
                    position: relative;
                    display: block;
                    margin: -100px 0 0 0;
                    padding: 212px 0 0 130px;
                    background-color: #EFF1F0;
                    .ir-button {
                        position: relative;
                        display: block;
                        width: 240px;
                        margin: 10px 0 0 0;
                        padding: 10px 0;
                    }
                    .ir-project-result-image {                        
                        position: absolute;
                        display: block;
                        margin: 0;
                        padding: 0;
                        top: 360px;
                        left: 555px;
                    }
                }
            }
        }
    }

    /*// Work Arcteryx*/

    #page-id-246 {
        .ir-content-padding {
            padding: 0;
            .ir-project-page-container {
                min-width: 1024px;
                .ir-project-background-container {
                    padding: 70px;
                    .ir-project-background-description {
                        position: relative;
                        display: block;
                        width: 50%;
                        margin: 0;
                        float: left;
                        z-index: 1;
                        padding: 15px 0 15px 60px;
                    }
                    .ir-project-background-image {
                        position: relative;
                        display: inline-block;
                        float: right;
                        padding: 0 30px 0 0;
                        width: 330px;
                    }
                }
                .ir-project-idea-container {
                    position: relative;
                    display: block;
                    margin: 0 70px;
                    width: 87%;
                    .ir-project-idea-description {   
                        position: relative;
                        display: block;
                        padding: 0;
                        z-index: 1;
                        width: 35%;
                        left: 0;
                        float: right;
                        margin: 0;
                    }
                    .ir-project-background-image {
                        width: 40%;
                        right: 0;
                        position: relative;
                        display: inline-block;
                        float: right;
                    }
                    .ir-project-idea-image {
                        position: relative;
                        display: inline-block;
                        float: left;
                        top: -100px;
                        left: 0;
                        width: 50%;
                        z-index: 0;
                        margin: 0;
                        picture {
                            position: absolute;
                            display: block;
                            width: 648px;
                            margin-left: -50px;
                            margin-top: 40px;
                            z-index: 0;
                            img {
                                max-width: none;
                                width: 100%;
                            }
                        }
                    }
                }
                .arcteryx-1-item {
                    background-color: #EFF1F0;
                    padding-bottom: 70px;
                    margin: 70px;
                    position: relative;
                    display: inline-block;
                    width: 87%;
                    .ir-project-item-image {
                        padding-top: 100px;
                    }
                }
                .arcteryx-2-item {
                    position: relative;
                    display: inline-block;
                    margin: 0 auto;
                    .ir-project-item-image {
                        width: 880px;
                        margin: 0 auto;
                    }
                }
                .ir_work_arc_idea_imgs {
                    position: relative;
                    display: inline-block;
                    width: 100%;
                    margin: -47% 0 100px 0;
                    .ir_work_arc_idea_img1 {
                        position: absolute;
                        z-index: 2;
                        width: auto;
                        height: 400px;
                        margin-left: 5%;                
                    }
                    .ir_work_arc_idea_img2 {
                        position: relative;
                        display: block;
                        width: 45%;
                        margin-left: 20%;
                        margin-top: 10px;
                    }
                }
            }
        }
    }

    /* Rogers */
    #page-id-247 {
        position: relative;
        display: block;
        margin: 0;
        padding: 0;
        .ir-content-padding {
            position: relative;
            display: block;
            margin: 0 auto;
            padding: 0;
            .ir-project-background-container {
                position: relative;
                display: block;
                height: 445px;
                width: 100%;
                margin: 0;
                padding: 0;
                .ir-project-background-description {
                    position: absolute;
                    top: 137px;
                    left: 100px;
                    z-index: 1;
                    width: 358px;
                }
                .ir-project-background-image {
                    position: absolute;
                    right: 100px;
                    left: inherit;
                    top: 50px;
                }
            }
            .ir-project-idea-container {
                position: relative;
                display: block;
                margin: 0 auto;
                padding: 0;
                height: 428px;
                width: 100%;
                .ir-project-idea-description {
                    position: absolute;
                    display: block;
                    top: 0;
                    right: 98px;
                    height: 318px;
                    width: 305px;
                    left: inherit;
                    margin: 0 auto;
                    padding: 0;
                    text-align: left;
                }
                .ir-project-idea-image {
                    position: absolute;
                    display: block;
                    height: 382px;
                    width: 582px;
                    margin: 0 auto;
                    padding: 110px 80px;
                    top: 35px;
                    left: 72px;
                    right: inherit;
                }
            }
            .rogers-1-item {
                position: relative;
                display: block;
                margin: 50px auto 0;
                width: 100%;
                height: 1040px;
                .ir-project-item-image {
                    position: relative;
                    display: block;
                    float: none;
                    z-index: auto;
                    padding: 37px 72px;
                    margin: 0 auto;
                    background-color: #9AB7CC;
                    width: 885px;
                }
            }
            .rogers-2-item {
                position: relative;
                display: block;
                margin: 0 auto;
                #service_anim1 {
                    position: relative;
                    display: block;
                    margin: 50px auto -80px;
                    width: 885px;
                    height: 550px;
                    z-index: 1;
                    .ir-align-right {
                        position: absolute;
                        display: block;
                        width: 485px;
                        height: 590px;
                        padding: 40px 64px;
                        right: 0;
                        left: initial;
                        background-color: #9AB7CC;
                    }
                    .ir-align-left {
                        position: absolute;
                        display: block;
                        width: 368px;
                        height: 590px;
                        padding: 90px 90px;
                        left: 0;
                        background-color: #9AB7CC;
                    }
                }
                .ir-project-result-container {
                    margin-top: -20px;
                    padding: 0;
                    height: 445px;
                    .ir-project-result-description {
                        position: absolute;
                        display: block;
                        width: 450px;
                        margin: 0;
                        padding: 0;
                        top: 174px;
                        left: 125px;
                    }
                    .ir-project-result-image {
                        position: absolute;
                        display: block;
                        height: 190px;
                        width: 187px;
                        top: 174px;
                        right: 150px;
                    }
                }
            }
        }
    }

    #page-id-248 {
        .ir-content {
            padding: 0;
            .ir-project-background-container {
                position: relative;
                display: block;
                width: 78%;
                margin: 125px 110px 180px 110px !important;
                padding: 0 !important;
                .ir-project-background-description {
                    position: absolute;
                    display: block;
                    right: 0;
                    width: 375px;
                    padding: 0;
                    margin: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    z-index: 1;
                    .ir__yoko_idea {
                        position: relative;
                        display: block;
                        width: 340px;
                    }
                }
                .ir-project-background-image {
                    right: 0;
                }
            }
            .ir-project-idea-container {
                padding: 0 70px 80px 100px !important;
                .ir-project-idea-description {
                    padding: 0;
                    top: -175px;
                    .ir_yoko_idea {
                        position: relative;
                        display: block;
                        width: 340px;
                    }
                }
            }
            .yokohama-1-item {
                padding: 0 70px !important;
                .ir-project-item-description {
                    z-index: 1;
                    width:320px;
                }
                #service_anim1 {
                    position: relative;
                    padding: 0 !important;
                    left: 0;
                    right: 0;
                    margin-left: 70px;
                    .ir-project-item-description {
                        position: relative;
                        display: inline-block;
                        float: right;
                        width: 370px;
                        top: 325px;
                        left: 100px;
                    }
                    .ir-project-item-image {
                        position: relative;
                        display: inline-block;
                        width: 520px;
                        margin-left: 150px;
                        padding: 0;
                        top: 100px;
                        float: left;
                        .ir-section-image {
                            max-width: 110% !important;
                            width: 110%;
                        }
                    }
                }
                .yokohama-img-1-item {
                    padding: 0 !important;
                    text-align: center;
                    .ir-project-item-image {
                        position: relative;
                        display: inline-block;
                        padding: 0 0 60px 0 !important;
                        left: 0;
                    }
                }
                .yokohama-img-2-item {
                    padding: 0 !important;
                    text-align: center;
                    .ir-project-item-image {
                        position: relative;
                        display: inline-block;
                        padding: 0 !important;
                        left: 0;
                    }
                }
                .ir-project-result-container {
                    width: 120%;
                    left: -10%;
                }
            }
            .ir-background-fill-yokohama {
                margin-top: -23%;
                height: 340px;
            }
        }
    }

    #page-id-249 {
        .ir-content {
            padding: 0;
            .ir-project-background-container {
                position: relative;
                display: inline-block;
                padding: 125px 70px 180px 70px;
                .ir-project-background-description {
                    position: relative;
                    display: inline-block;
                    float: left;
                    width: 280px;
                    top: 60px;
                    left: 25%;
                    z-index: 1;
                }
                .ir-project-background-image {
                    position: relative;
                    display: inline-block;
                    float: right;
                }
            }
            .ir-project-idea-container {
                position: relative;
                display: inline-block;
                padding: 0;
                .ir-project-idea-description {
                    position: relative;
                    display: inline-block;                
                }
                .ir-project-idea-image {
                    position: relative;
                    display: inline-block;
                    top: -80px;
                    right: 340px;
                    z-index: 0;
                    width: 30%;
                    padding: 0;                
                }
            }
            .quiksilver-kelly-1-item {
               padding: 40px 70px 60px 70px;
            }
            .quiksilver-kelly-2-item {
                padding: 0px 70px;
            }
        }
    }

    #page-id-251 {
        padding: 0;
        .ir-project-background-container { 
            padding: 100px 70px 75px 130px;
        }
        .ir-project-idea-container {
            padding: 0 70px 60px 70px;
            .ir-floating-item {
                padding-top: 80px;
            }
        }
        .fox-idol-iphone-1-item {
            padding: 0px 70px 60px 70px;
        }
        .fox-idol-iphone-2-item {
            padding: 0px 70px 60px 70px;
        }
    }

    #page-id-19 {
        .careersOfficePicker {
            a {
                margin: 2px 20px !important;
            }
        }
        .jobListings {
            padding: 0;
        }
    }
}