

@media screen and (max-width: 1919px) {
    .header-ir-select-button {
        max-height: 14px !important;
    }
}

@media screen and (min-width: 1920px) {
    /* Home slider video function */
    #slick-carousel-position-0 {
        .ir__homeVideo_header {
            position: absolute;
            display:block;
            top: 0;
            z-index: 1;
            min-width: 100vw;
            max-height: none;
            background-color: black;
            video {
                position: relative;
                display: block;
                height: auto;
                min-width: 100vw !important;
                height: 100vh !important;
                max-height: none;
                margin: 0 auto;
            }
        }
    }

    .header-ir-select-button {
        max-height: 14px !important;
    }
    p {
        font-size: 24px;
    }
    h3 {
        font-size: 36px;
    }
    mark {
        padding: 0.2em;
    }
    .home-cta {
            font-size: 1.6em !important;        
    }
    .header-ir-titlebox h2, .header-ir-titlebox h1 {
        font-size: 60px !important;
        line-height: 1.5;
        margin: 0;
    }

    /* Home full page work slider section */
    .ir-main {
        max-width: 1920px;
        margin: 0 auto;
    }

    #page-id-7 {
        .home-cta {
            p {
                font-size: 50px;
            }
        }
        #home_master {
            position: relative;
            width: 100%;
            display: inline-block;
            #home_workNav {
                position: absolute;
                display: block;
                top: 433px;
                left: 65px;
                height: 200px;
                width: 20px;
                z-index: 1;
                opacity: 0;
                .workNav_notch {
                    background-color: grey;
                    width: 20px;
                    height:5px;
                }
                #nav1, #nav2, #nav3, #nav4 {
                    position: absolute;
                    display: block;
                    height: 2px;
                    width: 100%;
                    background-color: grey;
                    -webkit-transition: all .3s ease;
                    -moz-transition: all .3s ease;
                    -ms-transition: all .3s ease;
                    -o-transition: all .3s ease;
                }
                #nav1 {
                    top: 0;
                }
                #nav2 {
                    top: 33%;
                }
                #nav3 {
                    top: 66%;
                }
                #nav4 {
                    bottom: 0;
                }
                #nav1:hover, #nav2:hover, #nav3:hover, #nav4:hover {
                    height:50px;
                    margin-top:-25px;
                }
            }
            #fullpage {
                position: relative;
                display: inline-block;
                width: 100%;
                height: 1000px;
                overflow: hidden;
                margin-bottom: 110px;
                #home_workItems {
                    position: relative;
                    display: inline-block;
                    overflow: hidden;
                    width: 100%;
                    height: 1000px;
                    .section {
                        display: inline-block;
                        width: 100%;
                        height:1000px;
                        .ir-work-section {
                            position: relative;
                            display: inline-block;
                            width: 100%;
                            padding: 50px 0 0 10px;
                            z-index: 0;
                            picture {
                                position: relative;
                                display: inline-block;
                                width: 60%;
                                height:1000px;
                                float: left;
                                z-index: 0;
                                margin-left: 150px;
                                padding: 0;
                            }
                            .ir_workTitle {
                                position: relative;
                                display: inline-block;
                                width: 546px;
                                float: left;
                                .ir_workTitle_featured {
                                    margin: 0 0 50px 0;
                                    position: relative;
                                    display: block;
                                    font-size: 20px;
                                    color: grey;
                                }
                                .ir-work-section-titlebox {
                                    position: relative;
                                    display: inline-block;
                                    float: none;
                                    width: 100%;
                                    max-width: none;
                                    padding: 0;
                                    margin: 294px 0 0 -25px;
                                    z-index: 2;
                                    left: 0;
                                    right: 0;
                                    opacity: 1;
                                    text-align: left;
                                    color: black;
                                    background-color: rgba(0, 0, 0, 0);
                                    .ir-work-section-subtitle {
                                        margin-bottom: 30px;
                                    }
                                    .ir-work-section-excerpt {
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        #home_cultureMaster {
            position: relative;
            display: inline-block;
            overflow: hidden;
            height: 1050px;
            width: 100%;
            padding: 0 150px;
            .cult_container {
                position: relative;
                display: block;
                width: 100%;
                .cult_bg {
                    position: absolute;
                    z-index: 0;
                    height: 780px;
                    width: 90%;
                    left: 5%;
                    background-color: #EDEFEE;
                }
                .cult_img {
                    position: absolute;
                    display: block;
                    z-index: 1;
                    height: 967px;
                    width: 963px;
                    right: 0;
                    margin-top: 100px;
                }
                .cult_copy {
                    position: absolute;
                    display: block;
                    z-index: 1;
                    top: 235px;
                    width: 550px;
                    height: auto;
                }
            }
        }
            #home_postsRow {
                position: relative;
                display: block;
                width: auto;
                margin: 90px auto;
                .homeNews_title {
                    width: 90%;
                }
                h4 {
                    font-family: 'Karla',"Larsseit Bold", Arial, "sansserif";
                    color:grey;
                    text-transform: uppercase;
                    font-size: 0.8em;
                    letter-spacing: 0.1em;
                    margin: 0 0 20px 0;
                }
                div { 
                    padding: 0;
                    margin: 0;                    
                    font-size: 1em;
                    font-family: "Larsseit Bold", Arial, "sansserif";
                    text-align: left;
                    a {color:black;}
                }
                .homeNews_date {
                    font-family: 'serif';
                    font-size: 0.9em;
                    font-style: italic;
                }
                .home_postRow4 { display: block; }
            }
    }
    

    /* Main Work Page */

    #page-id-9 {
        #home_postsRow { display: none; }
        .ir-work-section {
            position: relative;
            display: inline-block;
            height: 240px;
            width: 100%;
            picture {
                display: none;
            }
        }
        .ir-content {
            padding: 0;
            .ir-work-section {
                position: relative;
                display: block;
                height: 748px;        
                .ir_workTitle:hover {
                    display: block;
                }
                .ir_workTitle {
                    position: relative;
                    display:none;
                    height: 748px;
                    width: 100%;
                    top: 0;
                    .ir-work-section-titlebox {
                        position: relative;
                        display: block;
                        width: 50%;
                        margin: 0 auto;
                        z-index: 1;
                        .ir_workTitle_featured {
                            display: none;
                        }
                        h3 {
                            font-size: 32px;
                            padding: 0;
                            a {color:black;}
                        }
                        .ir-work-section-subtitle {
                            display: none;
                        }
                    }
                }
            }
            .ir-work-section:hover {
                .ir_workTitle {
                    display: block;
                }
            }
        }
    }

    #page-id-19 {
        .careersOfficePicker {
            a {
                margin: 2px 20px !important;
            }
        }
        .jobListings {
            padding: 0;
        }
    }

    /* Arcteryx */
    #page-id-246 {
        .ir-content-padding {
            padding: 0;
            .post-246 {
                position: relative;
                display: block;
                width: 1920px;
                margin: 0 auto;
            }
            .ir-project-page-container {
                display: block;
                margin: 0 auto;
                width: 1920px;
                .ir-project-background-container {
                    position: relative;
                    display: block;
                    width: 1440px;
                    margin: 190px 240px 0;
                    float: none;
                    .ir-project-background-description {
                        position: relative;
                        display: block;
                        width: 600px;
                        padding: 120px 0 0 0;
                        margin: 0;
                    }
                    .ir-project-background-image {
                        position: relative;
                        display: inline-block;
                        width: 630px;
                        float: right;
                        padding: 0;
                    }
                }
                .ir-project-idea-container {
                    position: relative;
                    display: block;
                    width: 1440px;
                    height: 800px;
                    margin: 0 auto;
                        float: initial;                
                    .ir-project-idea-description {
                        position: absolute;
                        display: block;
                        width: 430px;
                        right: 78px;
                        left: inherit;
                        margin: 0;
                        z-index: 1;
                        top: 200px;
                    }
                    .ir-project-idea-image {
                        position: absolute;
                        display: block;
                        height: auto;
                        width: 1200px;
                        left: -100px;
                        z-index: 0;
                        picture {
                            position: relative;
                            display: block;
                            img {
                                max-width: none;
                                width: 1225px;
                                max-width: none;
                            }
                        }
                    }
                    .ir_work_arc_idea_imgs {
                        position: relative;
                        display: inline-block;
                        width: 100%;
                        margin: -15% 0 100px 0;
                        .ir_work_arc_idea_img1 {
                            position: absolute;
                            z-index: 2;
                            width: auto;
                            height: 650px;
                            margin-top: -50px;
                            margin-left: 5%;               
                        }
                        .ir_work_arc_idea_img2 {
                            position: relative;
                            display: block;
                            width: 45%;
                            margin-left: 15%;
                            margin-top: 10px;
                        }
                    }
                }
                .arcteryx-1-item {
                    position: relative;
                    display: inline-block;
                    width: 100%;
                    margin: 0 auto;
                    .ir-section-image {
                        width: 1715px;
                        padding: 150px;
                        background-color: #EFF1F0;
                    }
                }
                .arcteryx-2-item {
                    margin: 0 auto;
                    .ir-section-image {
                        width: 1715px;
                    }
                }
            }
        }
    }
}