.digital-icons-wrapper{

}

.digital-icon--bottom-wrapper{

	background-color: $color-beige;
}

.services-timeline{
	position: relative;

	width: 100%;
	height: 600px;

	&:after{
		content: '';
	    position: absolute;
	    top: 0;
	    left: 18px;
	    height: 100%;
	    width: 4px;
	    background: $color-beige;
	}
}

.timeline-background{
	position: absolute;

	margin: 0 auto;
	height: 1px;
	width: 20px;
	border: 1px  #ff0000;
}
.timeline-background--top{
	top: 0;
}
.timeline-background--bottom{
	bottom: 0;
}

///CAREERS//////////////////////////////////////////
.careersOfficePicker .officeName-full{
	display: none;
}
.careersOfficePicker .ir-btn-office-picker--active{
	color: #FFF;
    background-color: #000;
}
.jobListings{
	display: none;

	width: auto;
	list-style: none;
	margin: 0 auto;
}
.jobListings--active{
	display: block;
}
.jobListing-link{
	color: #000;
	text-align: center;
}
@media screen and (min-width: #{($mobile-nav-breakpoint)}px) {
///CAREERS//////////////////////////////////////////
	.careersOfficePicker .officeName-full{
		display: block;
	}
	.careersOfficePicker .officeName-abrev{
		display: none;
	}

}