
.nav-ir-button {
	cursor: pointer;
	
	user-drag: none; 
	-webkit-user-drag: none;
	
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	pointer-events: auto;
	
	float: right;
	width: 40px;
	height: 40px;
	margin: 44px 49px 0 0;
	
	&:focus {
		outline-width: 0;
	}
	
	@media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
		margin: 30px 32px 0 0;
	}
	
	@media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
		margin: 13px 10px 0 0;
	}
}

.nav-ir-button-container {
	padding: 0;
	float: right;
	pointer-events: none;
}

.nav-top-section {
	max-width: 1920px;
	margin: 0 auto;
	padding: 0;
}

#nav-bar-container {
	top: 0;
	left: 0;
	right: 0;
	z-index: 1121;
	position: absolute;
}

.nav-ir-logo-container {
	padding: 37px 0 0 0;
	float: left;
	pointer-events: none;
	
	@media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
		padding: 27px 0 0 0;
	}
	
	@media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
		padding: 13px 0 0 0;
	}
}

.nav-ir-logo {
	color: $text-color-alt;
	text-decoration: none;
	font-family: $ir-primary-font;
	pointer-events: auto;
	
	padding: 5px 0 5px 5px;
	font-size: 42px;
	margin: 0 20px 0 45px;
	width: 40px;
	height: 33px;
	
	&:hover {
		text-decoration: none;
	}
	&:active,
	&:focus,
	&:visited {
		text-decoration: none;
	}
	
	@media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
		font-size: 30px;
		margin: 0 20px 0 35px;
		width: 26.5px;
		height: 22px;
	}
	
	@media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
		margin: 0 15px 0 20px;
		font-size: 24px;
		width: 22px;
		height: 18px;
	}
}

.nav-ir-logo-img {
	width: 40px;
	height: 33px;
	
	@media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
		width: 26.5px;
		height: 22px;
	}
	
	@media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
		width: 22px;
		height: 18px;
	}
}

.nav-ir-logo-white {
	color: $text-color;
	
	&:hover,
	&:active,
	&:focus,
	&:visited {
		color: $text-color;
	}
}

.nav-ir-logo-black {
	color: $text-color-alt;
	
	&:hover,
	&:active,
	&:focus,
	&:visited {
		color: $text-color-alt;
	}
}

.nav-primary {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	pointer-events: none;
}

.nav-background {
	display:none;
	background-color: $text-color-alt;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#menu-navigation-menu > .menu-item {
	text-align: center;
}

#menu-navigation-menu > .menu-item > a {
	padding: 0;
	
	&:hover {
		background-color: transparent;
		text-decoration: none;
	}
	&:active,
	&:focus,
	&:visited {
		background-color: transparent;
	}
	
}

.ir-nav-h2 {
	margin: 0;
	color: $text-color;
	font-size: 30px;
	
	@media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
		font-size: 26px;
	}
}

.ir-nav-menu-item {
	display: inline-block;
	vertical-align: text-top;
	border-bottom: 2.5px solid transparent;
	@media screen and (min-width: 1920px) {
		font-size: 50px;
	}
}

.ir-hover-span-underline-active {
	border-bottom: 2.5px solid;
}

.nav-menu-display {
	display: none;
	pointer-events: auto;
}

.header-social-icon-container {
	width: 260px;
	bottom: 40px;
	position: absolute;
	left: calc(50% - 115px);
}

.header-ir-image-full {
	height: 100%;
} 

.header-ir-image-half { 
	max-height: 50%;
}

.header-ir-image-none {
	max-height: 100px;
}

.slick-next,
.slick-prev {
	display: !important none;
}

.header-ir-titlebox-container {
}
//cursor-ir-white-left
.header-ir-image-container {
	position: relative;
}

.header-ir-titlebox-home {
	max-width: 444px;
	/*@media screen and (min-1920px: {
		max-width: none;
	})}*/
}

.header-ir-titlebox {
	position: absolute;
	left: -50%;
	top: -50%;
	z-index: 10;
	background-color: $text-color;
	padding: 40px 55px;
	text-align: center;
	display: inline-block;
	min-width: 100px;
	max-width: 516px;
	margin: 0 auto;
	font-size: 18px;
	
	@media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
		max-width: 280px;
		width: 100%;
		padding: 30px;
	}
	@media screen and (min-width: 1920px) {
		margin-left: -50px;
	}
}


.header-ir-titlebox > h2,
.header-ir-titlebox > h1 { 
	font-size: 32px;
	line-height: 1.5;
	margin: 0;
	@media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
		font-size: 24px;
	}
	
	@media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
		font-size: 22px;
	}
	@media screen and (min-width: 1920px) {
		font-size: 50px;
	}
}

.header-ir-subtitle > p {
	padding-top: 15px;
	font-size: 24px;
	margin: 0;
	font-family: $ir-tertiary-font;
	font-style: italic;
	
	@media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
		font-size: 18px
	}
}

.header-ir-image-container {
	outline: none;
	overflow: hidden;
	max-height: 100%;
}

.header-ir-image-container > .header-ir-image {
	width: 100%;
	height: 100%;
}

.header-ir-select-button-container > a {
	outline: none;
	border: 0;
	z-index: 10;
}

.ir-slick-carousel {
	opacity: 0;
	height: 100%;
}

#nav-ir-menu {
	margin-top: 64px;
	height: calc(100% - 150px);
}

#menu-navigation-menu {
	height: 100%;
	width: 100%;
	float: left;
}

#menu-navigation-menu > .menu-item {
	font-family: $ir-primary-font;
	font-size: 30px;
	font-weight: normal;
	height: 15%;
	display: inline-block;
	width: 100%;
	float: left;
}

.slick-slider {
	margin-bottom: 0;
}

.header-ir-select-button-container {
	position: absolute;
	bottom: 43px;
	left: calc(50% - 23px);
	height: 14px;
	
	@media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
		bottom: 30px;
	}
	
	@media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
		bottom: 20px;
	}
}

.active-carousel {
	display: block;
}

.inactive-carousel {
	display: none;
}

.ir-home-cursor-black-left {
	cursor: url(../images/cursor-ir-black-left.png), pointer;
}
.ir-home-cursor-black-right {
	cursor: url(../images/cursor-ir-black-right.png), pointer;
}
.ir-home-cursor-white-left {
	cursor: url(../images/cursor-ir-white-left.png), pointer;
}
.ir-home-cursor-white-right {
	cursor: url(../images/cursor-ir-white-right.png), pointer;
}

//Menu Hamburger Animation
.boxes {
	width: 40px;
	height: 40px;
	position: absolute;
	background: rgba(0,0,0,0);
}

#menu-box .nav-menu-bar-line {
	background: #FFFFFF;
	position: absolute;
	transition: all 0.15s ease-out;
	left: 1px;
	width: 38px;
	height: 6px;
	
	@media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
		width: 24px;
		left: 8px;
		height: 4px;
	}
	
	@media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
		width: 20px;
		left: 10px;
		height: 3px;
	}
}

#menu-box #nav-bar-1 {
	top: 6px;
	
	@media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
		top: 10px;
	}
	
	@media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
		top: 7px;
	}
}

#menu-box #nav-bar-2 {
	top: 18px;
	margin: 0 auto;
	
	@media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
		top: 14px;
	}
}

#menu-box #nav-bar-3 {
	top: 30px;
	
	@media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
		top: 26px;
	}
	
	@media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
		top: 21px;
	}
}

.nav-ir-button-white > #menu-box .nav-menu-bar-line {
	background: #FFFFFF;
}

.nav-ir-button-black > #menu-box .nav-menu-bar-line {
	background: #000000;
}
/* X- MODE */

#menu-box #nav-bar-1.x-mode {
	transform: translate(0,8px) rotate(-45deg);
	transition: all 0.15s ease-out;
	
	@media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
		transform: translate(0,6px) rotate(-45deg);
	}
}

#menu-box #nav-bar-2.x-mode {
	width: 2px;
	transform: translate(15px,0);
	transition: all 0.15s ease-out;
	
	@media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
		transform: translate(8px,0);
	}
}

#menu-box #nav-bar-3.x-mode {
	transform: translate(0,-15px) rotate(45deg);
	transition: all 0.15s ease-out;
	
	@media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
		transform: translate(0,-8px) rotate(45deg);
	}
}

.header-ir-center {
	text-align: center;
}

.header-ir-center .ir-image {
	display: inline-block;
	position: relative;
}
