
//Page General
.ir-wrap {
  width: 100%;
  padding: 0;
}

.ir-content {
  margin: 0 auto;
  padding: 0;
}

.ir-content-padding {
  padding-left: 150px;
  padding-right: 150px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-left: 100px;
    padding-right: 100px;
  }

  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    // padding-left: 55px;
    // padding-right: 55px;
  }

  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.ir-content-margin {
  margin: 0 150px;
  width: calc(100% - 300px);
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    margin: 0 10px;
    width: calc(100% - 200px);
  }

  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    margin: 0 55px;
    width: calc(100% - 110px);
  }

  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    margin: 0 30px;
    width: calc(100% - 60px);
  }
}

.ir-anchor {
 color: $text-color-alt;
 text-decoration: none; 
 display: inline-block;
 height: 27px;
 border-bottom: 1px $text-color-alt solid;
 
  &:hover,
  &:active,
  &:focus,
  &:visited {
    color: $text-color-alt;
    text-decoration: none;
  }
}

main.page-workproject {
  padding: 0;
}

.ir-project-item-description .ir-item-image,
.ir-project-item-description .ir-item-image {
  padding:0;
}

//!!!~~Work Page~~!!!
.ir-work-section {
  padding: 0px;
}

.ir-work-section-img {
  width: 100%;
}

.ir-work-section-titlebox {
  position: absolute;
  background-color: #FFF;
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  color: $text-color-alt;
  opacity: 0;
  
  font-size: 20px;
  padding: 65px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding: 30px;
    font-size: 16px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    opacity: 1 !important;
/*     width: 60%; */
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding: 30px;
  }
  
  @media screen and (max-width: #{($mobile-small-nav-breakpoint - 1)}px) {
/*     max-width: 75%;
    width: 75%; */
  }
}

.ir-work-section-subtitle > p {
  padding-top: 15px;
  margin: 0;
  font-family: $ir-tertiary-font;
  font-style: italic;
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-top: 10px;
  }
}

.ir-work-section-titlebox > h3 {
  margin-top: 0;
  margin-bottom: 0px;
  line-height: 1.0;
  
  @media screen and (min-width: #{($desktop-nav-breakpoint)}px) {
    padding-bottom: 20px;  
  }
}

.ir-select-clients-container,
.ir-select-awards-container {
  padding: 60px;
  text-align: center;
  float: left;
  width: 100%;
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding: 40px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding: 20px;
  }
}

.ir-select-clients-header,
.ir-select-awards-header {
  font-family: $ir-secondary-font;
  margin: 0;
  color: $text-color-alt;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-bottom: 120px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-bottom: 30px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding-bottom: 40px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
   padding-bottom: 20px;
  }
}

.ir-select-awards-header {
  padding-bottom: 40px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-bottom: 20px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding-bottom: 20px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-bottom: 5px;
  }
}

.ir-select-client-image-container {
  height: 120px;
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    height: 100px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    height: 80px;
  }
}

.ir-select-award-image-container {
  height: 215px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    height: 120px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    height: 100px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    height: 85px;
  }
}

.ir-select-client-image {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  max-height: 120px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    max-height: 60px;
  }
}

.ir-select-award-image {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  max-height: 215px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    max-height: 110px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    max-height: 80px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    max-height: 85px;
  }
}

.ir-center-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.ir-project-page-container {
  padding-left: 0;
  padding-right: 0;
}

.ir-project-nav {
  width: 100%;
  float: left;
  padding: 30px 130px 50px 130px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding: 0 85px;
    height: 90px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding: 0 40px;
    height: 95px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding: 0 15px;
    height: 80px;
  }
}

.ir-project-nav-span {
  padding-bottom: 5px;
}

.ir-project-nav-prev {
  text-align: left;
  padding-top: 20px;
  padding-right: 0;
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding-top: 22px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-top: 18px;
  }
}

.ir-project-nav-next {
  text-align: right;
  padding-top: 20px;
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding-top: 22px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-top: 18px;
  }
}

.ir-project-nav-button > span > i {
  font-size: 18px;
}

.ir-project-nav-button > span > h8 {
  font-family: $ir-primary-font;
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    display: none;
  }
}

.ir-project-nav-next-button,
.ir-project-nav-prev-button {
  color: $text-color-alt;
  text-decoration: none;
  
  &:hover,
  &:active,
  &:focus,
  &:visited {
    color: $text-color-alt;
    text-decoration: none;
  }
}

.ir-project-nav-text {
  font-family: $ir-tertiary-font;
  font-style: italic;
  display: inline-block;
  
  @media screen and (min-width: #{($desktop-nav-breakpoint)}px) {
    font-size: 24px;
    padding-bottom: 6px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-bottom: 4px;
  }
}

//CSS Additions for centering on select clients
.col-sm-1-5 {
  float: left;
  
  @media screen and (min-width: #{($mobile-nav-breakpoint)}px) {
    position: relative;
    min-height: 1px;
    width: 12.5%;
  }
}

.col-sm-4-5 {
  float: left;
  
  @media screen and (min-width: #{($mobile-nav-breakpoint)}px) {
    position: relative;
    min-height: 1px;
    width: 37.5%;
  }
}

//Work Project / Work Details Page. / Project Details Page
.ir-project-background-container {
  z-index: 10;
  overflow: hidden;
  padding-top: 190px;
  padding-bottom: 190px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-top: 90px;
    padding-bottom: 70px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.ir-project-item-container,
.ir-project-idea-container {
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
}

.ir-project-result-container,
.ir-page-ending-container {
    background-color: #EFF1F0;
    padding: 260px 220px 105px 250px;
    margin-top: -175px;
    
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding: 140px 70px 20px 130px;
    margin-top: -100px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding: 150px 55px 20px 55px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding: 70px 30px 20px 30px;
    margin-top: -40px;
  }
}

.ir-project-background-description,
.ir-project-idea-description,
.ir-project-item-description,
.ir-project-result-description {
  padding-left: 0;
  padding-right: 0;
}

.ir-project-background-image,
.ir-project-idea-image,
.ir-project-item-image,
.ir-project-result-image {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.ir-project-result-description {
  padding-bottom: 35px;
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding-right: 30px;
    padding-left: 75px;
    padding-bottom: 20px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-right: 0;
    padding-left: 0;
  }
}

.ir-section-image {
  max-width: 100%;
  height: auto;
}

.ir-project-result-container {
  background-color: #EFF1F0;
}

.ir-project-background-container > .ir-align-center {
  padding-right: 60px;
  padding-left: 60px;
}

//Video Player Styling
.jp-container {
  z-index: 10;
  
  padding-top: 60px;
  padding-bottom: 0;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-top: 30px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-top: 20px;
  }
}

.jp-video {
  float: left;
  width: 100%;
}

.jp-type-single {
  margin: 0 auto;
  width: 100%;
}

.jp-gui {
  position: absolute;
  top: calc(50% - 85px);
  left: calc(50% - 125px);
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
      top: calc(50% - 93.5px);
  }
}

.jp-gui-mobile {
  display: none;
  width: 100%;
  float: left;
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    display: block;
  }
}

.jp-gui-play {
  color: $text-color;
  background-color: $text-color-alt;
  text-align: center;
  padding: 30px;
  line-height: 1em;
  width: 250px;
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    background-color: transparent;
  }
}

.jp-gui-play > .jp-video-title,
.jp-gui-play > .jp-video-subtitle {
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    display: none;
  }
}

.jp-gui-play-mobile {
  color: $text-color;
  background-color: $text-color-alt;
  text-align: center;
  padding: 20px;
  line-height: 1em;
  width: 100%;
}

.jp-video-title > h5 {
  font-size: 18px;
  letter-spacing:0.1em;
  margin: 0;
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    font-size: 14px;
  }
}

.jp-button {
  color: $text-color-alt;
  border: 0;
  background-color: $text-color;
  padding: 10px 20px;
}

.jp-gui-pause {
  position: absolute;
  top: calc(50% - 26px);
  left: calc(50% - 18px);
  display: none;
}

.jp-video-subtitle {
  padding-bottom: 17px;
  font-style: italic;
  font-size: 20px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    font-size: 16px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-bottom: 0px;
  }
}

.jp-jplayer {
  float: left;
}

.jp-jplayer > video {
  display: block;
}

.ir-btn {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-family: $ir-secondary-font;
  font-size: 13px;
  font-weight: bold;
  
  &:hover,
  &:active,
  &:focus,
  &:visited {
    text-decoration: none;
  }
}

.ir-button {
  text-align: center;
  padding: 25px 20px;
  margin: 10px 0 10px 0;
  font-size: 20px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    margin: 5px 0 5px 0;
    padding: 10px 20px;
    font-size: 13px;
  }
}

.ir-app-store,
.ir-site-link {
}

.ir-fixed-width-button {
  width: 414px; 
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    width: 235px;
  }
}

.ir-btn-black {
  color: $text-color;
  background-color: $text-color-alt;
  
  &:hover {
    color: $text-color-alt;
    background-color: $text-color;
  }
}

.ir-btn-white {
  color: $text-color-alt;
  background-color: $text-color;
  
  &:hover {
    color: $text-color;
    background-color: $text-color-alt;
  }
}

.ir-tool-wrapper {
  margin-top: 35px;
  margin-bottom: 130px;
  height: 22px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    margin-bottom: 60px;
  }
}

.tool-collaboration {
  background-color: #EFF1F0;
}

.ir-center {
  text-align: center;
}

.ir-left {
  text-align: left;
}

.ir-right {
  text-align: right;
}

.tool-icon {
  height: 100%;
  width: auto;
}

.ir-project-result-image {
  text-align: center;
}

.ir-text-left {
  text-align: left;
}

.ir-text-right {
  text-align: right;
}

.ir-text-center {
  text-align: center;
}

.ir-award-container {
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    position: relative;
    top: -110px;
    margin-bottom: -110px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    top: 0;
    margin-bottom: 0;
  }
}

.ir-item-image .ir-image {
  max-width: 100%;
}

.jp_container_header-video {
  height: 100%;
}

.ir-header-video {
  padding: 0;
  z-index: 0;
}

.ir-section-item-inner {
  padding: 0;
}

//About Us Page
.ir-about-title-section {
  padding-top: 170px;
  padding-bottom: 95px;

  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-top: 80px;
    padding-bottom: 0;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding-top: 80px;
    padding-bottom: 30px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-top: 20px;
    padding-bottom: 40px;
  }
}

.ir-about-title-section > .ir-section-item-inner {
  padding-left: 120px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-left: 65px;
    padding-right: 65px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding-left: 25px;
    padding-right: 25px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding: 0;
  }
}

.ir-about-title-section > .ir-section-item-inner > h3 {
  padding-bottom: 70px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-bottom: 30px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding-bottom: 20px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-bottom: 15px;
  }
}

.front-page-clients {
  padding-left: calc(100px - 8.3333%);
  padding-right: calc(100px - 8.3333%);
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding-left: 55px;
    padding-right: 55px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.ir-select-awards-container {
  padding: 50px 80px 170px 80px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding: 50px 80px 30px 80px;
  }
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding-left: 40px;
    padding-right: 40px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.ir-select-awards-container > .ir-select-award-image-container:nth-child(2n+2)  {
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-right: 0;
  }
}

.ir-select-awards-container > .ir-select-award-image-container:nth-child(2n+3)  {
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-left: 0;
  }
}

.ir-about-title-section .body-copy-1 {
  padding-right: 800px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-right: 120px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding-right: 60px;
  }
}

.ir-about-paperless-section {
  z-index: 1;
  padding: 60px 465px 0 405px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding: 60px 223px 0 205px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding: 55px 230px 0 130px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding: 0 30px 0 30px;
  }
}

.ir-about-paperless-section > h3 {
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding-bottom: 40px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-bottom: 0;
  }
}

.ir-leadership-jobtitle {
  font-style: italic;
}

.ir-leadership-members {
  padding: 0;
  margin-left: -38px;
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    margin-left: -19px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    margin-left: -22.5px;
    padding: 0 75px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    margin-left: 0;
    margin-top: 0;
    padding: 0;
  }
}

.ir-leadership-member {
  padding: 40px 38px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding: 40px 19px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding: 20px 22.5px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding: 20px 0;
  }
}

.ir-leadership-our-story {
  text-align: center;
  padding: 130px 0 40px 0;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding: 40px 0 55px 0;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding: 60px 0 55px 0;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding: 35px 20px 55px 20px;
  }
}

.ir-leadership-our-story > h3 {
  padding-bottom: 50px;
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-bottom: 25px;
  }
}

.ir-leadership-our-story > .ir-button {
  width: 280px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    width: 175px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    width: 150px;
  }
}

.ir-leadership-description {
  padding: 0 0 145px 0;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding: 40px 0 10px 0;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding: 30px 120px 15px 75px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding: 0 35px 20px 0;
  }
}

.ir-service-preview-link {
  text-align: center;
  padding-top: 30px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-top: 0;
    margin-top: -10px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding-top: 5px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-top: 25px;
  }
}

.ir-service-preview-link > .ir-button {
  width: 454px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    width: 280px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
  }
  
}

.ir-side-header {
  color: #b3b3b3;
  position: relative;
  display: block;
  text-align: center;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  text-transform: uppercase;
  
  top: 20px;
  right: calc(-100% + 90px);
  width: 590px;
  font-size: 20px;
  letter-spacing: 0.1em;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    font-size: 12px;
    top: 10px;
    right: calc(-100% + 50px);
    width: 300px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    right: calc(-100% + 58px);
    top: 15px;
    width: 265px;
  }
}

.ir-side-header-mobile {
  text-align: center;
  text-transform: uppercase;
}

.ir-services-preview {
  padding: 100px 300px 170px 300px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding: 0 150px 55px 150px;
    margin-top: -40px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding: 30px 115px 65px 115px;
    margin-top: 0;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding: 30px 30px 10px 30px;
  }
}

.ir-services-preview-item {
  height: 590px;
  margin:40px 0;
  padding:0;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    height: 300px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    height: 265px;
    margin: 30px 0;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    height: auto;
    margin: 20px 0;
  }
}

.ir-services-preview-item-bg {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right:0;
  z-index: -1;
  background-color: #EFF1F0;
  left: 225px;
    
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    left: 115px
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    left: 87.5px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    left: 0;
    top: 10px;
    bottom: 72.5px;
  }
}

.ir-leader-info {
  padding-top: 40px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-top: 15px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 5px;
  }
}

.ir-services-preview-info {
  padding-top: 175px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-top: 85px;
  }
  
  @media screen and (min-width: #{($mobile-nav-breakpoint)}px) and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding-top: 60px;
    left: calc(50% - 30px);
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-top: 40px;
    text-align: center;
  }
}

.ir-services-preview-info > h3 { 
  padding-bottom: 80px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-bottom: 20px;
  }
}

.ir-services-preview-icon {
  padding: 70px 0 0 0;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-top: 35px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding-top: 45px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-top: 30px;
  }
}

.ir-services-icon-container {
  border: 2px solid $text-color-alt;
  border-radius: 50%;
  behavior: url(PIE.htc);
  text-align: center;
  display: table-cell;
  vertical-align: middle; 
  width: 450px;
  height: 450px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    width: 230px;
    height: 230px;
    padding: 0 60px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    width: 175px;
    height: 175px;
    padding: 0 50px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    width: 145px;
    height: 145px;
    padding: 40px 40px 0 40px;
    margin: 0 auto;
    display: block;
  }
}

.ir-services-icon-img {
  width: 100%;
  max-height: 170px;
  max-width: 170px;
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
  }
}

.ir-services-keywords {
  font-style: italic;
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    line-height: 1.5em;
  }
}

.paperless-item-image {
  text-align: right;
  padding: 0 240px 185px 240px;
  margin-top: -190px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding: 0 110px 80px 729px;
    margin-top: -130px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding: 0 122px 135px 456px;
    margin-top: -178px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding:0 30px;
    margin-top: 0;
  }
}

.paperless-mobile-item-image {
  text-align: right;
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    height: 110px;
    padding: 20px 30px 0 140px;
  }
}

.paperless-mobile-item-image .ir-image,
.paperless-item-image .ir-image {
  width: 100px;
  max-width: 340px;
  max-height: 340px;
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    max-width: 150px;
    max-height: 150px;
  }
}

.rebel-life {
  z-index: 11;
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-top: 40px;
  }
}

.rebelEmployee_Image {
  width:100%;
}

.ir-services-preview-Marketing .ir-services-icon-container {
  padding-left: 40px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding: 0 50px 0 70px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding: 44px 34px 0 46px;
  }
}

.ir-leadership-container {
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-top: 130px;
    margin-top: -70px;
  }
}

//Service Page Styling.
.servicesTop-item {
  padding-top: 5em;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
  }
  
}

.servicesTop-item > .ir-project-item-description {
  padding: 40px 50px 0 100px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
  }
}

.digitalIcons {
  background-color: $color-beige;
  text-align: center;
  
  padding: 100px 60px;
  margin-top: -60px;
  
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
  }
}

// .digitalIcons .digitalIcon {
//   padding: 75px 100px; 
  
//   @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
//   }
  
//   @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
//   }
  
//   @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
//   }
// }

.digitalIcon .digitalIcon_bottom {
  padding-top: 25px;
  font-family: $ir-secondary-font;
  font-size: 20px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
  }
}

.serviceItem,
.serviceItem_primaryContainer,
.serviceItem_imageWrapper,
.serviceItem_secondaryContainer,
.serviceItem_secondaryImageWrapper,
.serviceItem_listingsWrapper {
  padding: 0;
}

.serviceItem_name {
  padding-top: 50px;
}

.serviceItem_descriptionWrapper {
  text-align: right;
  padding: 0;
  z-index: 1;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
  }
}

.serviceItem_description {
  font-family: $ir-secondary-font;
  font-size: 1em;
  
  padding-top: 20px;
}

.serviceItem_listingsName {
  font-family: $ir-secondary-font;
  font-size: 20px;
  text-transform: uppercase;
}

.serviceItem_listings {
  font-family: $ir-tertiary-font;
  font-size: 1em;
  font-style: italic;
  list-style: none;
  padding: 0;
  
}

.serviceItem_imageWrapper .ir-image,
.serviceItem_secondaryImageWrapper .ir-image {
  width: 100%;
}

.serviceItem_icon {
  width: 100px;
  height: 90px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
  }
}

.serviceItem_strategy .serviceItem_descriptionWrapper {
  padding-right: 15%;
  padding-left: 40px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
  }
}

.servicesTimeline {
  padding-top: 170px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
  }
}

.serviceItem_strategy > .serviceItem_primaryContainer .serviceItem_imageWrapper {
  padding-top: 190px;
  width: calc(50% + 295px);
  margin-left: -295px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
  }
}

.serviceItem_strategy {
  padding-bottom: 10em;
}

.serviceItem_strategy > .serviceItem_secondaryContainer {
  margin-top: -280px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
  }
}

.serviceItem_creative > .serviceItem_primaryContainer > .serviceItem_descriptionWrapper {
  left: calc(50% + 140px);
  width: calc(50% - 200px);
  text-align: left;
  padding-top: 4em;
  padding-left: 10px;
}

.serviceItem_creative > .serviceItem_primaryContainer > .serviceItem_imageWrapper {
  left: calc(-50% + 200px);
  width: calc(50% + 200px);
}

.serviceItem_creative > .serviceItem_secondaryContainer > .serviceItem_listingsWrapper {
  left: -50%;
}

.serviceItem_creative > .serviceItem_secondaryContainer > .serviceItem_secondaryImageWrapper {
  left: 50%;
}
