//Project Page --Infiniti-- Specific Styling
.infiniti-idea > .ir-project-idea-description {
  padding-right: 60px;
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding-right: 0;
  }
}

.infiniti-bg > .ir-project-background-image {
  padding-right: 140px;
  padding-left: 57px;
    
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-right: 5%;
    padding-left: 65px;
    padding-top: 10px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding-right: 0;
    padding-top: 0;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-top: 40px;
    padding-bottom: 30px;
  }
}

.infiniti-bg > .ir-project-background-image .ir-image {
  width: 100%;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    max-height: 490px;
    max-width: 653px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    height: 232px;
    width: auto;
    max-height: none;
    max-width: none;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    height: auto;
    width: 100%;
    float: left;
  }
}

.infiniti-bg > .ir-project-background-description {
  padding: 100px 80px 0 100px;
    
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding: 10px 65px 0 30px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding: 0 0 0 50px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding: 0;
  }
}

.infiniti-bg > .ir-project-background-description > h3 {
  padding-bottom: 60px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-bottom: 15px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-bottom: 5px;
  }
}

.infiniti-result {
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding-bottom: 5px;
  }
}

.bmw-result > .ir-project-result-description,
.infiniti-result > .ir-project-result-description {
  padding-top: 30px;
  padding-right: 120px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-top: 30px;
    padding-right: 40px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding-left: 55px;
    padding-right: 55px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-right: 0;
    padding-left: 0;
  }
}

.bmw-result > .ir-project-result-image,
.infiniti-result > .ir-project-result-image {
  padding-top: 155px;
    
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-top: 160px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding-top: 0;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding: 20px 0;
  }
}

.bmw-result > .ir-project-result-image > .ir-award-container > .ir-award-image,
.infiniti-result > .ir-project-result-image > .ir-award-container > .ir-award-image {
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    height: 90px;
  }
}

.ir-project-result-description > a.button--black:nth-of-type(1) {
  margin-top: 60px;
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    margin-top: 55px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    margin-top: 30px;
  }
}

.infiniti-parallax-item > .ir-project-item-description > .infiniti-1-item-image {
  z-index: 14;
  text-align: right;
  
  padding-left: 50px;
  padding-right: 145px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-left: 0;
    padding-right: 42px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding-right: 25px;
    padding-left: 0;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    z-index: -1;
    padding: 0 0 0 40px;
  }
}

.infiniti-1-item-image .ir-image {
  width: 100%;
  max-width: 593px;
  max-height: 561px;
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    max-width: 450px;
    max-height: 436px;
  }
}

.ir-project-item-description .infiniti-parallax-1-item-image {
    z-index: -1;
    padding: 0 0 0 40px;
}

.infiniti-parallax-1-item-image .ir-image {
  max-width: 593px;
  max-height: 561px;
  margin-right:-30px;
  width:100%;
}

.infiniti-parallax-mobile-item {
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-top: 10px;
    padding-bottom: 40px;
  }
}

.infiniti-parallax-mobile-item > .ir-project-item-image {
  z-index: 10;
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    margin-left: 0;
    margin-top: -60px;
    text-align: left;
    width: 100%;
    padding-right: 70px;
  }
}

.infiniti-parallax-mobile-item > .ir-project-item-image .ir-image {
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    width: calc(50% + 60px);
    max-width: 390px; 
    max-height: 368px;
  }
}

.infiniti-parallax-item {
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-top: 20px;
    padding-bottom: 100px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding-top: 10px;
    padding-bottom: 90px;
  }
}

.infiniti-parallax-item > .ir-project-item-image {
  z-index: -1;
  margin-left: -205px;
  width: calc(50% + 205px);
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    margin-left: -92px;
    width: calc(50% + 92px);
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) { 
    margin-left: -125px;
    width: calc(50% + 125px);
  }
}

.infiniti-parallax-item > .ir-project-item-image .ir-image {
  max-width: 1055px;
  max-height: 704px;
  width: 100%;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    max-width: 1055px;
    max-height: 704px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    max-width: none;
    max-height: none;
  }
}

.infiniti-parallax-item > .ir-project-item-description {
  top: 520px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    top: 200px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    top:0;
  }
}

.infiniti-idea {
  padding-top: 200px;
  padding-bottom: 170px;
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-top: 20px;
    padding-bottom: 65px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding-top: 20px;
    padding-bottom: 25px;
  }
}

//Project Page --Converse-- Specific Styling
.ir-vr-hover {
  z-index: 10;
  padding: 0;
}

.ir-vr-hover-swap-container {
  width: 100%;
  float: right;
}

//VR Module Hover Styling 
.ir-vr-hover-img {
  display: none;
}

.ir-vr-hover-img .ir-image {
  width: 100%;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
     width: 100%;
     height: auto;
  }
}

.ir-vr-hover-center {
  display: block;
}

.ir-converse-chucks {
  padding: 0 30px 100px 30px;
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding: 0 60px 100px 60px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding: 0 90px 20px 90px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding: 0 0 10px 0;
  }
}

.ir-converse-shoe-container {
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding-bottom: 40px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-bottom: 30px;
  }
}

.ir-converse-chucks-inner {
  padding-left: 0;
  padding-right: 0;
}

.ir-converse-shoe-inner {
  margin: 0 auto;
  width: 290px;
  height: 290px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    width: 150px;
    height: 150px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    width: auto;
    height: auto;
  }
}

.ir-converse-shoe-icon {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  behavior: url(PIE.htc);
  border: 2px solid black;
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    width: 180px;
    height: 180px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    width: 120px;
    height: 120px;
  }
}

.ir-converse-content {
  opacity: 0;
  
  color: $text-color;
  background-color: $text-color-alt; 
  position: absolute;
  padding-left: 2px;
  top: 2px;
  bottom: 2px;
  border-radius: 50%;
  behavior: url(PIE.htc);
  border: 2px solid white;
  
  width: 286px;
  left: calc(50% - 143px);
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    width: 146px;
    left: calc(50% - 73px);
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    position: initial;
    opacity: 1 !important;
    color: $text-color-alt;
    background-color: $text-color;
    border: 0;
    border-radius: 0;
    margin: 0 auto;
    width: 160px;
  }
}

.ir-converse-content-inner {
  margin: 100px 90px;

  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    margin: 44px 35px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    margin: 44px 15px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    margin: 20px 0;
  }
}

.ir-converse-content-inner > h5 {
  margin: 0;
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    font-size: 16px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    font-size: 13px;
  }
}

.ir-converse-content-inner .body-copy-2 {
  font-style: italic;
}

.converse-bg {
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding-top: 80px;
    padding-bottom: 55px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-top: 40px;
    padding-bottom: 55px;
  }
}

.converse-bg > .ir-project-background-description {
  padding-left: 30px;  
  right: -30px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-top: 70px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding-right: 15px;
    padding-top: 40px;
    right: 0;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding: 0;
  }
}

.converse-bg > .ir-project-background-image {
  left: 150px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    top: -20px;
    left: 100px;
    padding-left: 44px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    top: -15px;
    left: initial;
    width: calc(50% + 69px);
    margin-right: -55px;
    margin-left: -14px;
    padding-left: 0px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    top: 40px;
    margin-left: 0;
    width: 100%;
    padding-left: 20px;
    right: -30px;
  }
}

.converse-bg > .ir-project-background-image .ir-image {
  float: right;
  width: 100%;
  max-width: 760px;
  max-height: 637px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    max-width: 391px;
    max-height: 391px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    max-width: 391px;
    max-height: 376px;
  }
}

.converse-idea {
  padding-top: 0;
  padding-bottom: 0;
  
  @media screen and (min-width: #{($tablet-nav-breakpoint)}px) and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-right: 60px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding-bottom: 20px;
  }
}

.converse-idea > .ir-project-idea-description {
  z-index: 11;
  width: calc(33.3333333% - 147px);
  left: calc(66.666667% + 92px);
  padding-top: 90px;
  padding-right: 90px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-left: 0;
    padding-right: 0;
    width: calc(33.3333333% - 79px);
    left: calc(66.666667% + 49px);
    margin-left: 0;
    padding-top: 40px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    text-align: right;
    width: 100%;
    padding-left: 35%;
    padding-right: 30px;
    padding-bottom: 60px;
    left: 0;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    width: 100%;
    padding: 0 0 50px 0;
  }
}

.converse-idea > .ir-project-idea-image {
  width: calc(66.666667% + 147px);
  right: calc(33.333333% - 147px);
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    width: calc(66.666667% + 79px);
    right: calc(33.333333% - 79px);
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    width: 100%;
    right: 0;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    width: 100%;
  }
}

.converse-idea > .ir-project-idea-image .ir-image {
  width:100%;
}

.converse-1-item {
  padding-top: 135px;
  padding-bottom: 135px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-top: 140px;
    padding-bottom: 120px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-top: 60px;
    padding-bottom: 40px;
  }
}

.converse-1-item > .ir-project-item-image {
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding: 0 145px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding: 0 30px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding: 0;
  }
}
.converse-1-item > .ir-project-item-image .ir-image {
  max-height: 607px;
  max-width: 1154px;
  width: 100%;
  height: auto;
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    max-height: 305px;
    max-width: 579px;
  }
}

.converse-2-item {
  padding-bottom: 0;
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-top: 20px;
    padding-bottom: 0;
  }
}

.converse-2-item > .ir-project-item-description {
  position: relative;
  right: -30px;
  padding-left: 365px;
  padding-top: 170px;
  z-index: 11;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-top: 80px;
    padding-left: 6.44%;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding-top: 70px;
    padding-left: 0;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    right: 0;
    padding-top: 0;
    padding-bottom: 55px;
  }
}

.converse-2-item > .ir-project-item-image .ir-image {
  width: 100%;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-right: 0px;
  }
}

.converse-bot-img-result {
  padding: 360px 190px 105px 250px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding: 140px 120px 20px 130px
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding: 180px 55px 20px 55px
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding: 100px 30px 25px 30px;
  }
}

.converse-bot-img-result > .ir-project-result-description {
  padding-right: 130px;
  width: calc(50% - 130px);
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-right: 0;
    width: calc(75% + 10px);
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    width: 100%;
  }
}

.converse-bot-img-result > .ir-project-result-image {
  width: 50%;
  padding-top: 10px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-top: 0;
    padding-bottom: 35px; 
    top: -140px;
    margin-bottom: -140px;
    width: 100%;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    top: 0;
    margin-bottom: 0;
    padding: 0;
  }
}


.converse-bot-img-result > .ir-project-result-image .ir-image {
  width: 100%;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    float: right;
    max-width: 826px;
    max-height: 368px;
    width: 50%;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    display: none;
    max-width: none;
    max-height: none;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    width: 100%;
    max-width: 527px;
    padding-top: 35px;
    display: block;
  }
}

//Project Page --BMW-- Specific Styling
.bmw-bg {
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-top: 100px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding-top: 95px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-top: 40px;
  }
}

.bmw-bg > .ir-project-background-description {
  z-index: 11;
  padding-left: 170px;
  padding-top: 40px;
  right: 20px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-left: 20px;
    padding-top: 40px; 
    right: 27px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding-left: 0;
    right: 0;
    width: calc(41.6666667% + 35px);
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-top: 0;
    width: 100%;
  }
}

.bmw-bg > .ir-project-background-image {
  text-align: left;
  margin-left: -57px;
  width: calc(58.33333333% + 57px);
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    margin-left: -57px;
    width: calc(58.33333333% + 57px);
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    margin-left: -30px;
    width: calc(58.33333333% - 5px);
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    margin-left: 0;
    width: 100%;
    right: -30px;
    text-align: right;
    margin-top: -60px;
  }
}

.bmw-bg > .ir-project-background-image .ir-image {
  width: 100%;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    width: 100%;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    width: auto;
    height: 209px;
  }
}

.bmw-idea {
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-top: 60px;
    padding-bottom: 50px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding-top: 20px;
    padding-bottom: 50px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-top: 20px;
    padding-bottom: 40px;
  }
}

.bmw-idea > .ir-project-idea-description {
  
  padding-left: 110px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-left: 20px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding-left: 10px;
    padding-bottom: 65px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-bottom: 60px;
  }
}

.bmw-result > .ir-project-result-description {
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding-right: 65px;
    padding-left: 65px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-right: 0;
    padding-left: 0;
  }
}

//Project Page --7eleven-- Specific Styling
.sevenelevenca-bg {
  padding-bottom: 20px;
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
  }
  
}

.sevenelevenca-bg > .ir-project-background-image {
  text-align: right;
  padding-right: 170px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-right: 80px;
    padding-left: 86.5px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding-left: 0;
    padding-right: 60px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    text-align: center;
    padding: 60px 70px 0px 70px;
  }
}

.sevenelevenca-bg > .ir-project-background-image .ir-image {
  max-height: 656px;
  max-width: 355px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    width: 100%;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    max-height: 496px;
    max-width: 268px;
  }
}

.sevenelevenca-bg > .ir-project-background-description {
  margin-left: -130px;
  padding-right: 130px;
  padding-top: 190px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    margin-left: -100px;
    padding-right: 100px;
    padding-top: 110px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-top: 0;
  }
}

.sevenelevenca-idea {
  padding-bottom: 40px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-bottom: 40px; 
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding-bottom: 30px; 
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-bottom: 0; 
  }
}

.sevenelevenca-idea > .ir-project-idea-description {
  padding-right: 240px;
  padding-top: 240px;
  padding-left: 60px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-right: 120px;
    padding-left: 10px;
    padding-top: 55px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding-right: 105px;
    padding-left: 0;
    padding-top: 10px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-right: 0;
    padding-bottom: 60px;
    padding-top: 0;
  }
}

.sevenelevenca-idea > .ir-project-idea-image {
  margin-left: -120px;
  width: calc(50% + 120px);
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    margin-left: -60px;
    width: calc(50% + 60px);
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    margin-left: -30px;
    width: calc(50% + 30px);
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    width: 100%;
    margin-left: 0;
  }
}

.sevenelevenca-idea .ir-image {
  width: 100%;
}

.sevenelevenca-result {
  padding-top: 330px;
  padding-right: 640px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-top: 160px;
    padding-right: 340px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding-right: 110px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-top: 100px;
    padding-right: 30px;
  }
}

.sevenelevenca-result > .ir-project-result-description { 
  padding-bottom: 15px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-bottom: 35px;
  }
}

.sevenelevenca-result > .ir-project-result-description .ir-site-link {
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    width: 130px;
  }
}

.sevenelevenca-img-1-item,
.sevenelevenca-img-2-item {
  padding-bottom: 0;
  padding-top: 80px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-top: 40px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding-top: 30px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-top: 20px;
  }
}
.sevenelevenca-img-3-item {
  padding-bottom: 0;
  padding-top: 80px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-top: 60px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding-top: 50px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-top: 20px;
  }
  
}

//Project Page --Arc'teryx-- Specific Styling
.arcteryx-bg {
  padding-top: 190px;
  padding-bottom: 0;
  margin-bottom: -100px;
  z-index: 12;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-top: 150px;
    padding-bottom: 0;
    margin-bottom: -90px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding-top: 140px;
    padding-bottom: 0;
    margin-bottom: -60px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-top: 40px;
    padding-bottom: 0;
    margin-bottom: -105px;
  }
}

.arcteryx-bg > .ir-project-background-description {
  padding-top: 100px;
  padding-left: 105px;
  padding-right: 250px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-left: 60px;
    padding-right: 40px;
    padding-top: 0;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding: 0;
    width: 50%;
    margin-bottom: 60px;
    padding-bottom: 100px;
  }
}

.arcteryx-bg > .ir-project-background-description p {
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-top: 17.5px;
  }
}

.arcteryx-bg > .ir-project-background-description .arcteryx-span-extend {
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    width: 200%;
    display: inline-block;
  }
}


.arcteryx-bg > .ir-project-background-image {
  padding-right: 236px;
  padding-left: 102px;
  text-align: left;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-right: 75px;
    padding-left: 70px;
    margin-top: -65px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding-right: 30px;
    padding-left: 20px;
    margin-top: -60px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-right: 0;
    padding-left: 0;
    padding-top: 240px;
    margin-top: 0;
    width: 50%;
    text-align: right;
    right: -30px;
  }
}

.arcteryx-bg > .ir-project-background-image .ir-image {
  max-height: 830px;
  max-width: 255px;
  width: 100%;
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    width: 120px;
  }
}

.arcteryx-idea {
  background-color: $color-beige;
  padding: 0 0 190px 0;
  margin: 0 150px;
  width: calc(100% - 280px);
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding: 0 0 100px 0;
    margin: 0 100px;
    width: calc(100% - 200px);
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding: 0 0 60px 0;
    margin: 0 55px;
    width: calc(100% - 110px);
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding: 0 0 60px 0;
    margin: 0;
    width: 100%
  }
}

.arcteryx-idea > .ir-project-idea-image {
  padding-left: 170px;
  padding-right: 215px;
  margin-top: -100px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-left: 74px;
    padding-right: 66px;
    margin-top: -90px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding-right: 12px;
    margin-top: -50px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    margin-top: 26px;
  }
}

.arcteryx-idea > .ir-project-idea-image .ir-image {
  width: 100%;
  max-width: 224px;
  max-height: 771px;

  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    max-width: 106px;
    max-height: 436px;
  }
}


.arcteryx-idea > .ir-project-idea-description {
  padding-top: 320px;
  padding-right: 20%;
  padding-left: 60px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-top: 170px; 
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding-top: 144px; 
    padding-right: 60px;
    padding-left: 80px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    text-align: right;
    padding-top: 165px; 
    padding-right: 30px;
    padding-left: 10px;
  }
}

.arcteryx-1-item {
  background-color: $color-beige;
  padding: 20px 0;
  margin: 0 150px;
  width: calc(100% - 280px);
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    margin: 0 100px;
    width: calc(100% - 200px);
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    margin: 0 55px;
    width: calc(100% - 110px);
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    margin: 0;
    width: 100%;
  }
}

.arcteryx-1-item  > .ir-project-item-image {
  padding: 0 190px 160px 190px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding: 0 95px 80px 95px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding: 0 30px 10px 30px;
  }
}

.arcteryx-1-item .ir-image {
  width: 100%;
}

.arcteryx-2-item {
  padding-top: 120px;
  padding-bottom: 0;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-top: 60px;
    padding-bottom: 0;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-top: 20px;
    padding-bottom: 0;
  }
}

.arcteryx-2-item > .ir-project-item-image .ir-image {
  width: 100%;
}

.arcteryx-result {
  padding: 320px 270px 105px 270px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding: 160px 0 20px 130px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding: 160px 55px 30px 55px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding: 100px 30px 30px 30px;
  }
}

//Project Page --Sportsnet Pick n' Play- Specific Styling
.rogers-bg {
  padding-top: 190px;
  padding-bottom: 70px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-top: 100px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding-top: 80px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-top: 40px;
  }
}

.rogers-bg > .ir-project-background-description {
  padding: 0 60px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-right: 0;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding-top: 25px;
    padding-left: 10px;
    left: 20px;
  }
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-top: 0;
    padding-left: 0;
    left: 0;
    padding-bottom: 30px;
  }
}

.rogers-bg > .ir-project-background-image {
  padding-left: 60px;
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-left: 0; 
  }
}

.rogers-idea {
  padding-top: 95px;
  padding-bottom: 95px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-top: 20px;
    padding-bottom: 40px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding-bottom: 20px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-bottom: 0;
  }
}

.rogers-idea > .ir-project-idea-description {
  position: relative;
  z-index: 11;
  padding-top: 180px;
  padding-right: 50px;
  left: calc(58.3333333333% + 115px);
  width: calc(41.66666% - 145px);

  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-top: 45px;
    padding-right: 0;
    left: calc(58.3333333333% + 31px);
    width: calc(41.66666% - 61px);
    text-align: right;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    width: 100%;
    left: 0;
    padding: 0 60px 60px 200px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding: 20px 0 60px 0;
  }
}

.rogers-idea > .ir-project-idea-description .ir-image {
  width: 100%;
  max-width: 1136px;
  max-height: 727px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
  }
}

.rogers-idea > .ir-project-idea-image {
  width: calc(58.333333% + 145px);
  right: calc(41.6666666667% - 145px);
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    width: calc(58.333333% + 61px);
    right: calc(41.6666666667% - 61px);
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    width: 100%;
    right: 0;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
  }
}

.rogers-1-item {
  padding-top: 20px;
  padding-bottom: 20px;
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-bottom: 0;
  }
}

.rogers-1-item > .ir-project-item-image .ir-image {
  width: 100%;
}

.rogers-2-item {
  padding-top: 95px;
  padding-bottom: 20px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-top: 40px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding-top: 20px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-bottom: 0;
  }
}
.rogers-2-item > .ir-project-item-description {
  width: 54.75%;
  left: 45.25%;
  text-align: right;
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    width: 100%;
    left: 0;
  }
}

.rogers-2-item > .ir-project-item-image {
  width: 41.63%;
  right: 54.75%;
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    width: 100%;
    right: 0;
    padding-top: 20px;
  }
}

.rogers-2-item > .ir-project-item-image .ir-image {
  // max-height: 1113px;
  // max-width: 716px;
  width: 100%;
  text-align: left;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
  }
}

.rogers-3-item-image .ir-image {
  width: 100%;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
  }
}

.rogers-3-item-image {
  padding: 0;
  text-align: right;
}

.rogers-result {
  padding: 320px 140px 90px 270px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding: 150px 70px 20px 130px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding: 155px 55px 40px 55px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding: 100px 30px 60px 30px;
  }
}

.rogers-result > .ir-project-result-description {
  padding-right: 20px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-right: 0;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-bottom: 55px;
  }
}

.rogers-result > .ir-project-result-image {
  padding-top: 60px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-top: 20px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    display: none;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    display: block;
  }
}

.rogers-result > .ir-project-result-image .ir-image {
  padding-left: 54px;
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-left: 0;
    max-width: 190px;
    max-height: 187.5px;
  }
}

.rogers-result > .ir-project-result-description > a.ir-site-link {
  margin-top: 70px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    margin-top: 60px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    margin-top: 35px;
  }
}
//Project Page --Yokohama-- Specific Styling
.yokohama-bg {
  padding-bottom: 185px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-bottom: 110px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding-bottom: 120px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-bottom: 10px;
  }
}

.yokohama-bg > .ir-project-background-description {
  padding-top: 60px;
  margin-left: -30px;
  padding-right: 285px;

  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-top: 40px;
    padding-right: 135px;
    margin-left: -20px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    margin-left: 0;
    padding: 50px 0 0 20px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding: 0;
  }
}

.yokohama-bg > .ir-project-background-image {
  margin: -25px auto 0 auto;
  padding-right: 112px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-right: 70px;
    padding-left: 40px;
    margin: 0 auto;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding: 10px 20px 0 0;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding: 55px 18px 0 18px;
  }
}

.yokohama-bg > .ir-project-background-image .ir-image {
  max-width: 482px;
  max-height: 482px;
  width: 100%;
}

.yokohama-idea {
  margin-left: 10px;
  padding-bottom: 95px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    margin-left: 0;
    padding-bottom: 16px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding-bottom: 0;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-top: 60px;
  }
}

.yokohama-idea > .ir-project-idea-description {
  padding: 30px 70px 0 100px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding: 0 40px 0 60px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding: 0 140px 55px 50px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding: 0;
  }
}

.yokohama-idea > .ir-project-idea-image {
  text-align: left;
  padding: 0 0 0 85px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding: 0 0 0 45px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding: 0 60px 30px 205px;
    text-align: center;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    display: none;
  }
}

.yokohama-1-item {
  margin-left: 110px;
  padding-bottom: 205px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    margin-left: 60px;
    padding-bottom: 20px;
    padding-top: 64px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    margin-left: 0;
    padding-bottom: 0;
    padding-top: 0;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
  }
}


.yokohama-1-item > .ir-project-item-image {
  width: calc(50% + 50px);
  right: calc(50% - 50px);
  text-align: right;
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    width: calc(50% + 20px);
    right: calc(50% - 20px);
  }
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    width: calc(50% + 130px);
    right: calc(50% - 130px);
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    width: 100%;
    right: 0;
  }
}

.yoko-1-mobile-item-image {
  padding: 55px 0 15px 0;
  text-align: center;
}

.yokohama-1-item > .ir-project-item-image .ir-image {
  width: 100%;
  max-width: 896px;
  max-height: 437px;
}

.yokohama-1-item > .ir-project-item-description {
  z-index: 11;
  
  padding-top: 210px;
  padding-right: 420px;
  width: calc(50% - 50px);
  left: calc(50% - 10px);
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-top: 80px;
    padding-right: 85px;
    width: calc(50% - 20px);
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding-top: 40px;
    padding-right: 0;
    width: calc(50% - 130px);
    left: calc(50% + 100px);
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    width: 100%;
    left: 0;
    padding-bottom: 35px;
  }
}

.yokohama-img-1-item {
  padding-top: 50px;
  padding-bottom: 115px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-top: 60px;
    padding-bottom: 0;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-top: 20px;
  }
}

.yokohama-img-2-item {
  padding-top: 0;
  padding-bottom: 0;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-top: 60px;
    padding-bottom: 0;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-top: 20px;
  }
}

.yokohama-result {
  padding-top: 350px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-top: 155px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding-top: 150px;
    padding-bottom: 40px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-top: 100px;
  }
}

.yokohama-result > .ir-project-result-description {
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-bottom: 55px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-right: 0;
    padding-bottom: 15px;
  }
}

.ir-background-fill-yokohama {
  position: absolute;
  z-index: -1;
  background-color: $color-beige;
  top: 95px;
  bottom: -310px;
  left: 21.5%;
  right: 21.5%;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    bottom: -228px;
    top: 50px;
    left: 224px;
    right: 224px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    right: 55px;
    top: 60px;
    bottom: -100px;
    left: 162px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    display: none;
  }
}
//Project Page --QuikSilver Kelly-- Specific Styling
.quiksilver-kelly-bg {
  padding-bottom: 220px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-bottom: 90px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding-bottom: 110px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-bottom: 0;
  }
}

.quiksilver-kelly-bg > .ir-project-background-image {
  width: calc(50% + 220px);
  text-align: left;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    width: calc(50% + 115px);
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    width: calc(50% + 75px);
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    width: 100%;
    text-align: center;
  }
}

.quiksilver-kelly-bg > .ir-project-background-description {
  z-index: 11;
  right: -60px;
  padding-left: 150px;
  padding-top: 110px;
  width: calc(50% - 220px);
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-left: 40px;
    width: calc(50% - 115px);
    padding-top: 60px;
    right: -30px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    right: 0;
    margin-right: -30px;
    padding-left: 0;
    width: calc(50% - 45px);
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    width: 100%;
    margin-right: 0;
    padding: 0 0 60px 0;
    text-align: left;
  }
}

.quiksilver-kelly-idea {
  padding-bottom: 195px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-bottom: 100px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-bottom: 40px;
  }
}

.quiksilver-kelly-idea > .ir-project-idea-description {
  padding: 260px 260px 0 75px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding: 65px 160px 0 35px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding: 70px 60px 0 30px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    text-align: right;
    padding: 40px 0 60px 0;
  }
}

.quiksilver-kelly-idea > .ir-project-idea-image {
  padding: 0 155px 0 360px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding: 0 70px 0 160px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding: 0 60px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding: 0 30px;
  }
}

.quiksilver-kelly-idea > .ir-project-idea-image .ir-image {
  width: 100%;
  max-width: 370px;
  max-height: 823px;
}

.quiksilver-kelly-2-item {
  padding-top: 115px;
  padding-bottom: 0;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-top: 60px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding-top: 45px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-top: 20px;
  }
}

.quiksilver-kelly-1-item .ir-image,
.quiksilver-kelly-2-item .ir-image {
  width: 100%;
}

.quiksilver-kelly-1-item {
  background-color: $color-beige;
  padding: 115px 190px;
  width: calc(100% - 300px);
  margin: 0 150px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    width: calc(100% - 200px);
    margin: 0 100px;
    padding: 60px 100px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    width: calc(100% - 110px);
    margin: 0 55px;
    padding: 45px 70px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    width: calc(100% - 60px);
    margin: 0 30px;
    padding: 20px 30px;
  }
}

.quiksilver-kelly-result > .ir-project-result-description {
  padding-bottom: 65px;
  padding-right: 200px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-top: 60px;
    padding-bottom: 85px;
    padding-right: 0;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding-top: 40px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding-top: 30px;
    padding-bottom: 40px;
  }
}

//Project Page --QuikSilver Style-- Specific Styling
.quiksilver-holiday-bg {
  padding-bottom: 100px;
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-bottom: 40px;
  }
}

.quiksilver-holiday-bg > .ir-project-background-description {
  padding:0 150px 0 100px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding:0 60px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding:20px 59px 0 70px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding:0;
  }
}

.quiksilver-holiday-bg > .ir-project-background-image {
  padding:0 100px 0 10px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding:0 50px 0 20px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding:30px 0 0 0;
    margin-left:-29px;
    width:calc(33.33333% + 29px);
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    width:100%;
    padding:20px 11px;
    margin-left:0; 
  }
}

.quiksilver-holiday-bg > .ir-project-background-image .ir-image {
  width: 100%;
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    max-width: 486px;
    max-height: 373px;
  }
}

.quiksilver-holiday-idea {
  padding-top: 20px;
  padding-bottom: 110px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-bottom: 30px;
  }
}

.quiksilver-holiday-idea > .ir-project-idea-description {
  z-index: 11;
  padding: 105px 44px 0 146px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding: 50px 18px 0 62px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    width: 100%;
    padding: 0 60px 60px 185px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding: 0;
  }
}

.quiksilver-holiday-idea > .ir-project-idea-image {
  margin-left: -89px;
  width: calc(58.33333333% + 89px);
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    margin-left:-48px;
    width: calc(58.33333333% + 48px);
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    width:100%;
    margin-left:0;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    display:none;
  }
}

.quiksilver-holiday-idea > .ir-project-idea-image .ir-image {
  width: 100%;
  max-width: 1079px;
  max-height: 605px;
}

.quiksilver-html5-video {
  padding-top: 30px;
  padding-bottom: 102px;

  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-bottom: 51px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding-bottom: 53px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-bottom: 0;
  }
}

.quiksilver-holiday-row-1-item {
  padding-top: 18px;
  padding-bottom: 18px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-top: 9px;
    padding-bottom: 9px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding-top: 7px;
    padding-bottom: 7px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.quiksilver-holiday-row-2-item {
  padding-top: 18px;
  padding-bottom: 0;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-top: 9px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding-top: 7px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-top: 0;
  }
}

.quiksilver-holiday-row-1-item > .ir-project-item-image .ir-image,
.quiksilver-holiday-row-2-item > .ir-project-item-image .ir-image {
  width: 100%;
  padding-left: 9px;
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) { 
    padding-left: 0;
    max-width: 526px;
    max-height: 296px;
  }
}

.quiksilver-holiday-row-1-item > .ir-project-item-description .ir-item-image .ir-image,
.quiksilver-holiday-row-2-item > .ir-project-item-description .ir-item-image .ir-image {
  width: 100%;
  padding-right: 9px;
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) { 
    padding-right: 0;
    max-width: 526px;
    max-height: 296px;
  }
}

.quiksilver-holiday-row-1-item > .ir-project-item-image,
.quiksilver-holiday-row-2-item > .ir-project-item-image,
.quiksilver-holiday-row-1-item > .ir-project-item-description .ir-item-image,
.quiksilver-holiday-row-2-item > .ir-project-item-description .ir-item-image {
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding:20px 0 0 0;
    text-align:center;
  }
}

.quiksilver-holiday-result {
  padding-top: 390px;
  padding-bottom: 195px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding: 200px 70px 80px 130px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding: 165px 110px 95px 55px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding: 100px 30px 40px 30px;
  }
}

//Project Page --Fox idealistic-- Specific Styling
.fox-idol-bg > .ir-project-background-description {
  padding: 15px 440px 0 110px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding: 10px 50px 0 60px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding: 0 88px 60px 67px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding: 0 0 55px 0;
  }
}

.fox-idol-bg > .ir-project-background-image {
  padding: 135px 324px 0 324px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding: 65px 164px 0 164px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding: 65px 53px 10px 49px
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding: 0 52px 15px 52px;
  }
}

.fox-idol-bg > .ir-project-background-image .ir-image {
  width:100%;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    max-width: 1052px;
    max-height: 247px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    max-width: 541px;
    max-height: 127px;
  }
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    max-width: 316px;
    max-height: 539px;
  }
}

.fox-idol-idea {
  padding-top: 30px;
  padding-bottom: 0;
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding-top: 0;
  }
}

.fox-idol-idea > .ir-project-idea-description {
  z-index: 11;
  width: calc(41.66666667% - 57px);
  left: calc(58.3333333333% + 27px);
  padding-right: 110px;
  padding-top: 175px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-top: 90px;
    padding-right: 0;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    width: 100%;
    padding: 0 60px 60px 140px; 
    left: 0;
    text-align: right;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding: 0 0 55px 0;
  }
}

.fox-idol-idea > .ir-project-idea-image {
  width: calc(58.33333333% + 57px);
  right: calc(41.66666667% - 57px);
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    width: 100%;
    right: 0;
    padding: 0;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
  }
}

.fox-idol-idea>.ir-project-idea-image .ir-image {
  width: 100%;
}

.fox-idol-iphone-1-item,
.fox-idol-desktop-1-item,
.fox-idol-desktop-2-item {
  padding-top: 120px;
  padding-bottom: 0;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-top: 60px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding-top: 40px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-top: 0;
  }
}

.fox-idol-iphone-1-item .ir-image,
.fox-idol-desktop-1-item .ir-image,
.fox-idol-desktop-2-item .ir-image {
  width:100%;
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-top:20px;
  }
}

.fox-idol-iphone-1-item > .ir-project-item-description {
  padding: 0 105px;
  background-color: $color-beige;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding: 0 50px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding: 0 37px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding: 0;
    background-color: inherit;
  }
}

.fox-idol-iphone-1-item .ir-image {
  width: 100%;
}

.fox-idol-result {
  padding-bottom: 195px;
  
  @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
    padding-top: 190px;
    padding-bottom: 80px;
  }
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding-bottom: 95px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-top: 100px;
    padding-bottom: 40px;
  }
}

.fox-idol-result > .ir-project-result-description {
  
  @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
    padding-left: 75px;
  }
  
  @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
    padding-left: 0;
  }
}