/* ==========================================================================
   Global
   ========================================================================== */

.main {
    /* Display & Box Model */
    padding: 0;
    overflow: hidden;
}

.buttonContainer {
    /* Display & Box Model */
    margin: 80px 0;
}

.buttonContainer--top {
    /* Display & Box Model */
    margin-top: 75px;
    margin-bottom: 0;
}

.buttonGroup {
    /* Display & Box Model */
    overflow: hidden;
    width: 100%;
    /* Other */
    font-size: 0;
    text-align: center;
}

.buttonGroup_btn {
    /* Display & Box Model */
    display: inline-block;
    margin: 0 15px;
    /* Other */
    @include remIt(font-size, 16);
}


/* ==========================================================================
   Labs Landing
   ========================================================================== */

.labPosts {
    /* Display & Box Model */
    margin-bottom: 70px;
}

.labPost {
    /* Positioning */
    position: relative;
    z-index: 1;
    /* Display & Box Model */
    display: block;
    width: 100%;
    margin-bottom: 30px;
    overflow: hidden;
    /* Other */
    background-color: $ir-third-color;
    background-size: cover;
    background-repeat: no-repeat;
}

.labPost_link {
    /* Display & Box Model */
    padding-bottom: $eight-five-ratio;
    /* Other */
    display: block;
    color: $ir-default-color;
}

.labPost_bg {
    /* Display & Box Model */
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    /* Other */
    background-size: cover;
    @include box-opacity(0);

    ._is_on & {
        /* Other */
        @include box-opacity(1);
    }

    .csstransitions & {
        /* Other */
        @include transition(opacity $transition-opacity-speed $transition-opacity-action, false);
    }
}

.labPost_inner {
    position: absolute;
    top: 20%;
    left: -35%;
    z-index: 2;
    display: block;
    width: 70%;
    padding: 40px 50px;
    overflow: hidden;
    text-align: center;
    background: #fff;
}

.labPost_title {
    /* Display & Box Model */
    margin: 0 0 10px;
    padding: 0;
    /* Other */
    color: $ir-default-color;
    line-height: 1.6;
}

.labPost_date {
    /* Display & Box Model */
    display: block;
    /* Other */
    color: $ir-default-color;
    font-style: italic;
}


/* ==========================================================================
   Labs Detail
   ========================================================================== */

.blogPost_content {

    p {
        /* Display & Box Model */
        margin-bottom: 35px;

        &:last-of-type {
            /* Display & Box Model */
            margin-bottom: 0;
        }
    }
}


