
 $color-alt: #000;
 $color-alt2: #000;
 $color-alt-light: #000;

.sampleHeader {
  margin: 0;
  padding: 0;
  list-style: none;
  @include clearfix;
}

.sampleHeader_item {
  float: left;
  background: $color-alt;

  &._is_current {
    background: $color-alt-light;
  }
}

.sampleHeader_link {
  @include basicClickable;
  display: block;
  border: 0;
  background: transparent;
  padding: 10px;
  color: #ccc;
}

.sampleHeader_item._is_current .sampleHeader_link {
  color: $color-default-darker;
}

.sampleTitle {
  display: inline-block;
  background: $color-alt;
  padding: 5px 20px;
}

.codeSample {
  @include remIt('font-size', 14);
  margin-top: 0;
  border: solid 1px $color-alt;
  background: $color-alt-light;
  padding: 20px;
  line-height: 1.3;
  color: $color-alt2;

  &._is_hidden {
    display: none;
  }
}
