/************************************************** Full Document Styling ***************************************************/

/*//a {
//    border-bottom: 3px solid #46F1B2;
//    box-shadow: inset 0 -4px 0 #46F1B2;
//    color: #000;
//    -webkit-transition: background .15s cubic-bezier(.33, .66, .66, 1);
//    transition: background .15s cubic-bezier(.33, .66, .66, 1);
//}
//
//a:hover,
//a:focus {
//    background-color: #46F1B2;
//    text-decoration: none;
//}

**************************************************** Footer Styling ***************************************************

//
//.footer-office-item.col-xs-12.col-sm-12.col-md-4 {
//    width: 25%;
//    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {}
//    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
//        width: 100%;
//    }
//}*/
.container.mainFooter {
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        padding: 30px 0;
        width: auto;
        max-width: 768px;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        width: auto;
        max-width: 320px;
    }
}

.footer-office-time {
    text-align: right;
    padding-right: 2%;
    right: inherit;
}

.footer-office-weather {
    text-align: left;
    padding-left: 2%;
    left: inherit;
}

img.ir-award-image {
    max-width: 250px;
}

.ir-project-result-image.ir-align-right.col-md-5.col-xs-12 {
    margin-top: 3em;
}

.ir-project-result-description {
    padding-right: 15%;
}

footer {
    z-index: 0;
}


/****************************************************** Header Styling *****************************************************/

.header-ir-titlebox {
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        left: 0!important;
        right: 0!important;
    }
}

// header .slick-track {
//     height: 100vh;
//     width: auto!important;
// }

// .ir-slick-carousel {
//     @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
//         height: auto!important;
//     }
//     @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {}
// }

.header-ir-select-button-container {
    bottom: 10% !important;
    position: absolute;
    right: calc(50vw - 23px);
    bottom: 10%!important;
    z-index: 10;
}

.header-ir-image-full {
    height: 100vh!important;
    width: auto!important;
}

// img.ir-image.header-ir-image {
//     width: 100%!important;
// }


/***************************************************** Homepage Styling *************************************************/

.home-cta {
    font-size: 26px;
    font-weight: bolder;
    text-align: center;
    max-width: none;
    margin: 100px auto;
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        margin: 50px auto;
        max-width: 69%;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        margin: 25px auto;
        max-width: 85%;
        font-size: 18px;
    }
    @media screen and (min-width: 1919px) {
    font-size: 50px;
    max-width: 960px;
    }
}

.home .ir-content-padding {
    padding: 0!important;
}

.home-cta a {
    /*border-bottom: 0px solid #46F1B2;*/
    /*-webkit-box-shadow: inset 0 -4px 0 #46F1B2;
    /*box-shadow: inset 0 -10px 0 #46F1B2;*/
    /*color: #000;*/
 /*   -webkit-transition: background .15s cubic-bezier(.33, .66, .66, 1);
    -o-transition: background .15s cubic-bezier(.33, .66, .66, 1);
    transition: background .15s cubic-bezier(.33, .66, .66, 1);*/
}

.home-cta a:hover,
.home-cta a:focus {
    /*background-color: #46F1B2;*/
    text-decoration: none;
}


/************************************** Services Page Styling **************************************/

.page-template-template-services .ir-content.ir-content-padding.content.row {
    padding: 0;
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {}
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {}
}

.servicesTop-item {
/*    padding-left: 0;
    padding-right: 0;*/
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {}
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {}
}

.servicesTop-item h3 {
    padding: 0;
}

.servicesTop-item .ir-project-item-description.ir-align-left.ir-text-left.body-copy-1.col-sm-6.col-xs-12 {
    padding: 65px 10% 0 12%;
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        padding: 0 0 0 5%;
        margin-bottom: 40px;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        padding: 0 5%;
    }
}

.servicesTop-item .ir-project-item-image.ir-align-right.col-sm-6.col-xs-12 {
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        width: 80%;
        float: right;
    }
}

/* .digitalIcon {
    margin-bottom: 6em; */
/* } */

.serviceItem_name {
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        padding-top: 25px;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {}
}

.serviceItem_description {
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        padding-top: 5px;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {}
}

.servicesTop-item>.ir-project-item-description {
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        padding-left: 0;
        padding-right: 20px;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        padding: 20px;
    }
}

section.digitalIcons.ir-content-margin.col-xs-12 {
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        margin: -60px 0 0 5%;
        width: 85%;
        padding: 60px;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        margin: 0 auto;
        width: 100%;
        padding: 60px 0;
    }
}

article.digitalIcon.col-xs-6.col-md-3 {
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        padding: 15px 0!important;
    }
}

article.digitalIcon.col-xs-6.col-md-3 {
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        padding: 20px;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {}
}

.serviceItem_descriptionWrapper.col-xs-12.col-sm-6 {
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        padding: 0 0 0 30px;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        padding: 2em 8%;
        text-align: center;
        /*background-color: #fff;*/
        width: 100%;
    }
}

#servicesTimeline {
    padding: 3em 5%;
}

.serviceItem_strategy>.serviceItem_primaryContainer .serviceItem_imageWrapper {
    margin: 0;
    position: relative;
    float: right;
    margin-top: -367px;
    width: 85%;
}

.service__item-0 .serviceItem_descriptionWrapper {
    width: 43%;
}

.serviceItem_secondaryContainer.service__keywords-1.col-xs-12 {
    padding-top: 0;
    position: relative;
    margin-top: -225px;
}

.serviceItem_secondaryImageWrapper {
    padding: 0;
    left: -10em;
}

.service__keywords-3 {
    position: relative;
    padding: 0;
    margin-bottom: 150px;
}

.service__keywords-3 .serviceItem_listingsWrapper {
    padding: 10% 20% 0 0;
}

.timelineBackground.timelineBackground--top {
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        margin-top: 10px;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {}
}

.services__seeWork {
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        display: block;
        margin: 25px 0;
        text-align: center;
        clear: both;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        display: block;
        margin: 50px 0;
        text-align: center;
        clear: both;
    }
}

.serviceItem_icon {
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        width: 75px;
        height: 65px;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {}
}

article.serviceItem.service__item-2.serviceItem_creative.serviceItem--left.col-xs-12 {
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        padding: 0 65px;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        padding: 0 10%;
    }
}

.serviceItem_strategy>.serviceItem_primaryContainer .serviceItem_imageWrapper {
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        padding-top: 195px;
        width: calc(50% + 235px);
        margin-left: -315px;
        margin-top: 0;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        padding-top: 50px;
        width: 100%;
        margin-left: 0;
    }
}

.service__item-0 .serviceItem_imageWrapper picture {
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        width: 85%;
        margin: 0 auto;
        display: block;
        float: none;
    }
}

.serviceItem_secondaryContainer.service__keywords-1.col-xs-12 {
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        padding-left: 40px;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {}
}

.service__item-2,
.service__item-3,
.service__item-4,
.service__item-5,
.service__item-6 {
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        padding: 0 65px;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        padding: 0 5%;
    }
}

.serviceItem_creative>.serviceItem_primaryContainer>.serviceItem_imageWrapper {
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        left: -2%;
        width: calc(50% + 155px);
        position: relative;
        margin-top: -365px;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        left: 0;
        width: 100%;
        position: relative;
        z-index: -1;
        margin-top: 0;
    }
}

.serviceItem_creative>.serviceItem_primaryContainer>.serviceItem_descriptionWrapper {
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        left: calc(50% + 105px);
        width: calc(50% - 80px);
        position: relative;
        z-index: 9999;
        padding: 0;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        left: 0;
        width: 100%;
        position: relative;
        z-index: 9999;
        padding: 1.5em 0;
        margin-top: -40px;
        margin-bottom: 40px;
    }
}

.serviceItem_secondaryContainer.service__keywords-3.col-xs-12 {
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        padding: 0;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        /*margin-top: 40px;*/
    }
}

.service__keywords-3 .serviceItem_secondaryImageWrapper {
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        padding: 0;
        width: 65%;
        /*margin-top: 50px;*/
        left: 0;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        width: 100%;
    }
}

.service__keywords-3 .serviceItem_listingsWrapper {
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        padding: 0 14px 0 0;
        width: 30%;
        top: 170px;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        padding: 1em 0;
        width: 100%;
        top: 40px;
        text-align: center;
        background-color: #fff;
    }
}

.serviceItem_secondaryContainer.service__keywords-1.col-xs-12 {
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        position: relative;
        margin-top: -100px;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        position: relative;
        margin-top: 40px;
        text-align: center;
        padding: 1em 0;
        background-color: #fff;
    }
}

article.serviceItem.service__item-2.serviceItem_creative.serviceItem--left.col-xs-12 {
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        margin-bottom: 165px;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        margin-bottom: 0;
    }
}

.service__item-4 .serviceItem_icon {
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        width: 3.75em;
        height: auto;
        margin-bottom: 0;
        position: relative;
        top: -20px;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {}
}

.service__item-4 .serviceItem_descriptionWrapper.col-xs-12.col-sm-6 {
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        padding: 25px 30% 100px 5%;
        /*background-color: #EFF1F0;*/
        width: 85%;
        left: 0;
        top: 0;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        /*background-color: #fff;*/
        padding: 3em 8% 0 8%;
        width: 100%;
        margin-bottom: 3em;
    }
}

.service__item-4 .serviceItem_imageWrapper {
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        width: 42%;
        top: -460px;
        left: 0;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        width: 100%;
        top: 0;
        float: none;
        display: block;
        margin: 0 auto;
    }
}

.service__item-4 .serviceItem_imageWrapper picture {
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        width: 100%;
        z-index: 9999;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {}
}

.serviceItem_secondaryContainer.service__keywords-5.col-xs-12 {
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        padding: 0;
        top: -420px;
        z-index: 999;
        float: right;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        padding: 0;
        z-index: 999;
        float: none;
        margin-top: 40px;
        text-align: center;
        top: 0;
    }
}

.service__keywords-5 .serviceItem_listingsWrapper {
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        padding: 0;
        padding-left: 10%;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        padding: 1em 0;
        background-color: #fff;
    }
}

article.serviceItem.service__item-6.serviceItem_marketing.serviceItem--left.col-xs-12 {
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        position: relative;
        margin-top: -170px;
        margin-bottom: 225px;
        padding: 0;
        ;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        margin-top: 125px;
        margin-bottom: 165px;
    }
}

.service__item-6 .serviceItem_descriptionWrapper.col-xs-12.col-sm-6 {
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        padding: 0;
        float: right;
        width: 40%;
        left: 0;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        float: none;
        width: 100%;
        /*background-color: #fff;*/
        padding: 2em 0;
    }
}

.service__item-6 .serviceItem_imageWrapper.col-xs-12.col-sm-6 {
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        width: 55%;
        margin-top: 85px;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        width: 100%;
        margin-top: 50px;
    }
}

.service__item-6 .serviceItem_imageWrapper picture .ir-image {
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        min-width: 100%;
    }
}

.serviceItem_imageWrapper picture {
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        min-width: 100%;
    }
}

.service__item-6 .serviceItem_listingsWrapper.col-xs-12.col-sm-6 {
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        padding: 0;
        top: -30px;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        padding: 1em 0;
        margin-top: 40px;
        position: static;
        text-align: center;
        float: none;
        background-color: #fff;
    }
}

.serviceItem_creative>.serviceItem_primaryContainer>.serviceItem_imageWrapper {
    padding: 12%;
    /*background-color: #E9EFE4;*/
}

.service__item-4 .serviceItem_descriptionWrapper {
    /*background-color: #eee;*/
    /*z-index: -1;*/
}

.service__item-4 {
    padding: 0;
}

.service__item-4 .serviceItem_descriptionWrapper {
    /*background-color: #eff1f0;*/
    /*z-index: -1;*/
    padding: 2% 15% 15% 5%;
    position: relative;
    left: 100px;
    top: 100px;
}

.service__item-4 .serviceItem_imageWrapper picture {
    width: 100%;
}

.serviceItem_development div div {
    position: relative;
}

.service__item-4 .serviceItem_imageWrapper {
    right: 100px;
}

.serviceItem_development .serviceItem_icon {
    position: absolute;
    top: -95px;
    width: 200px;
    margin-bottom: 0;
    left: 2%;
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        position: static;
    }
}

.service__keywords-5 .serviceItem_listingsWrapper {
    padding: 5em;
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        padding: 2em 2em 2em 5em;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        padding: 0;
    }
}

.service__item-6 .serviceItem_descriptionWrapper {
    left: 100px;
    padding: 2em 8em;
}

.serviceItem_marketing .serviceItem_secondaryContainer.service__keywords-7.col-xs-12 {
    bottom: 100px;
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        bottom: 65px;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {}
}

.service__item-6 .serviceItem_imageWrapper picture .ir-image {
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        min-width: 100%;
    }
}

.serviceItem_imageWrapper picture {
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        width: 90%;
    }
}

.serviceItem_icon {
    width: 200px;
    height: 200px;
    position: relative;
    margin-bottom: -10%;
}
/*
.serviceItem_strategy .serviceItem_icon {
    margin-right: -18%;
}

.serviceItem_creative .serviceItem_icon {
    margin-left: -14%;
}

.serviceItem_marketing .serviceItem_icon {
    margin-left: -18%;
}*/

.page-template-template-about .ir-services-icon-container {
    padding: 0;
}


/**** Services Line Styling ****/

.timelineBackground-startTime__lineEnd {
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        position: absolute;
        width: 2px;
        height: 2000px;
        background-color: #ccc;
        left: 50%;
        z-index: 1;
        bottom: 0;
        display: block;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        height: 3500px;
    }
}

.timelineBackground-endTime,
.timelineBackground-startTime {
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        display: block;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {}
}

.timelineBackground--bottom {
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        display: inline-block;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {}
}

.timelineBackground-endTime,
.timelineBackground-startTime,
.timelineBackground-startTime__lineTop {
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        display: block;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {}
}


/**************************************************** About Us Page Styling ***********************************************/

#page-id-13 .ir-content.ir-content-padding.content.row {
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        padding: 0;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {}
}

.ir-section-item.ir-content-padding.col-xs-12.ir-about-title-section {
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        padding: 0;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {}
}

.ir-section-item.ir-content-padding.col-xs-12.ir-about-title-section {
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        padding: 0;
        margin: 60px 0 30px 50px;
        max-width: 82%;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        padding: 0 5%;
        margin: 0 0 30px 0;
        max-width: 100%;
    }
}

.ir-about-paperless-section .ir-section-item-inner.col-xs-12 {
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        max-width: 60%;
        margin-left: 10%;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        max-width: 80%;
        margin: 0 10%;
    }
}

.ir-about-paperless-section .ir-section-item-inner.col-xs-12 h3 {
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        padding-bottom: 50px;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {}
}

.ir-about-paperless-section .ir-section-item-inner.col-xs-12 .ir-anchor {
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        padding-bottom: 50px;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {}
}

.paperless-item-image {
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        margin-top: -130px;
        padding: 0;
        width: 225px;
        float: right;
        margin-right: 90px;
        margin-bottom: 130px;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {}
}

.jp-container.ir-content-padding.rebel-life.col-xs-12 {
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        padding: 0 7%;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {}
}

.ir-leadership-description.body-copy-1.col-xs-12 {
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        margin-top: 115px;
        max-width: 74%;
        padding: 0 0 0 10%;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {}
}

.ir-service-preview-link>.ir-button {
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        width: auto!important;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {}
}

.ir-leadership-description.body-copy-1.col-xs-12 {
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        max-width: 80%;
        padding: 0;
        margin-left: 10%;
    }
}

.ir-leadership-member {
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        padding: 20px 8%;
    }
}

.ir-leadership-our-story>.ir-button {
    width: auto!important;
}

.page-template-template-about .slick-initialized .slick-slide {
    display: block;
    max-height: 100%!important;
}

@media all and (max-width: 1068px) and (min-width: 1024px) {
    .ir-leadership-member {
        min-height: 344px;
    }
}


/************************************** Careers Archive Page Styling **************************************/

.page-template-template-careers .ir-content.ir-content-padding.content.row {
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        padding: 0;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {}
}

.careersOfficePicker {
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        margin: 3em 0;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        margin: 3em 0 5em 0;
    }
}

a.ir-btn.ir-btn-office-picker.button {
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        margin: 0 0.7em;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        margin: 0 0.7em;
        padding: 10px 15px;
        display: initial;
    }
}

ul.jobListings {
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        padding-left: 0;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {}
}

.jobListing {
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        margin: 2em .5em 5em .5em;
    }
}

a.jobListing-link:hover {
    text-decoration: none;
    color: #000;
    padding-bottom: 10px;
    border-bottom: 2px solid #000;        
}


/************************************** Careers Single Post Page Styling **************************************/

.single-jobpost .ir-content-padding {
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        padding: 0 8%;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {}
}

p.jobpost-apply a {
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        border-bottom: 1px solid #000;
        padding-bottom: 35px;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {}
}

.jobpost-footer {
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        margin: 5em 0 0 0;
    }
}

a.ir-btn.ir-btn-black.ir-btn-jobpost.button {
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        margin-top: 20px;
    }
}


/************************************** Contact Page Styling **************************************/

.contactOffice {
    width: 33%;
    margin-top: 50px;
}

.page-template-template-contact .ir-content-padding {
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        padding: 0 8%;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {}
}

.contactOffice {
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        padding: 0 2.5%;
        margin-bottom: 10px;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        padding: 0 10%;
        margin-bottom: 25px;
        width: 100%;
    }
}

.contactGetInTouch-left,
.contactGetInTouch-Right {
/*    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        float: none;
        padding: 5%;
        width: 100%;
    }*/
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {}
}


/************************************** Labs Page Styling **************************************/

.labPosts {
    margin-bottom: 70px;
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        height: 100%!important;
        overflow: auto;
    }
}

.isotopeGrid {
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        height: auto!important;
    }
}

.labPosts .col-sm-12.col-md-6.col-lg-6.csstransitions.grid-item.all {
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        position: static!important;
    }
}

.page-template-template-labs .ir-content-padding {
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        padding: 0 8%;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {}
}

.labPost__container {
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        left: auto;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {}
}

.labPost_inner {
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        position: static;
        margin: 22% auto;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {}
}

.single-post .buttonContainer--top {
    margin: 75px 0;
}

.single-post .buttonContainer--top .button {
    background-color: #000;
    color: #fff;
}

.single-post .buttonContainer--top .button:hover {
    background-color: #fff;
    color: #000;
}

.single-post .buttonContainer--top .button span {
    font-weight: 900;
}


/************************************************** Work Page Styling *******************************************************/

.page-template-template-work .ir-content-padding {
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        padding: 5%;
    }
}

.single-workproject div#ir-header {
    height: 100%!important;
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {}
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {}
}

/* .single-workproject .ir-content-padding {
    padding: 70px 0 0 0;
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        padding: 0;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {}
} */

.single-workproject .ir-project-result-container {
    padding-bottom: 25px;
}


/************************************** Arc'teryx Page Styling **************************************/

.arcteryx-1-item .ir-project-item-image.ir-align-center.col-xs-12 {
    background-color: #EDEFEE;
    padding: 10% 5%;
    max-width: 80%;
    margin: 0 auto;
    float: none;
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        max-width: 90%;
        margin-bottom: 50px;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        max-width: 100%;
    }
}

.ir-project-background-container.ir-content-padding.col-xs-12.arcteryx-bg {
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        padding: 0 5%;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        padding: 0 8%;
    }
}


.ir-project-idea-container.ir-content-padding.col-xs-12.arcteryx-idea {
    padding: 0 5%;
    position: relative;
}

.arcteryx-idea .ir-project-idea-image.ir-align-left.col-xs-4.col-xs-pull-8 {
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        width: 100%;
        margin: 75px auto;
        padding: 0 8%;
    }
}

.arcteryx-result .ir-button {
    margin: 40px 0 5px 0!important;
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {}
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {}
}


/************************************** 7-Eleven Page Styling **************************************/

.sevenelevenca-bg {
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        padding: 10% 0 0 8%!important;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        padding: 0!important;
    }
}

.sevenelevenca-bg .ir-project-background-image.ir-align-left.col-sm-6.col-xs-12.col-sm-pull-6 {
    width: 35%;
    right: 0;
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {}
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {}
}

.sevenelevenca-bg .ir-project-background-description.ir-align-right.ir-text-left.body-copy-1.col-sm-6.col-xs-12.col-sm-push-6 {
    width: 58%;
    left: 0;
    float: right;
    padding-right: 25%;
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        width: 55%;
        left: 0;
        float: right;
        padding-right: 10%;
        margin-top: 15%;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {}
}

.sevenelevenca-idea {
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        padding: 0 8%!important;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {}
}

.sevenelevenca-idea .ir-project-idea-image.ir-align-right.col-sm-6.col-xs-12 {
    width: 50%;
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {}
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {}
}

.sevenelevenca-idea .ir-project-idea-description.ir-align-left.ir-text-right.body-copy-1.col-sm-6.col-xs-12 {
    width: 50%;
    padding: 5% 8% 5%;
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        padding: 0% 8% 5% 0;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {}
}


/************************************** Fox/Idol Page Styling **************************************/




/************************************** QuickSilver Page Styling **************************************/

.quiksilver-kelly-bg .ir-project-background-description.ir-align-left.ir-text-right.body-copy-1.col-sm-6.col-xs-12.ir-floating-item {
    //    transform: inherit!important;
}

.quiksilver-kelly-bg img.ir-image.ir-section-image {
    width: 100%;
}

.quiksilver-kelly-bg .ir-project-background-image.ir-align-right.col-sm-6.col-xs-12 {
    width: 60%;
    z-index: -1;
    float: right;
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {}
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        width: 100%;
    }
}

.quiksilver-kelly-bg .ir-project-background-description.ir-align-left.ir-text-right.body-copy-1.col-sm-6.col-xs-12.ir-floating-item {
    width: 40%;
    padding: 70px 0 0 16%;
    right: -50px;
    position: relative;
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        right: -35px;
        padding: 75px 0;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        width: 90%;
        padding: 0;
        right: 0;
        text-align: left;
        margin-bottom: 40px;
    }
}

.quiksilver-kelly-idea img.ir-image.ir-section-image {
    width: 100%;
}

.quiksilver-kelly-idea .ir-project-idea-image.ir-align-left.col-sm-6.col-xs-12.col-sm-pull-6 {
    width: 50%;
    padding: 0 10% 0 17%;
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        padding: 0 5% 0 10%;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        width: 100%;
        padding: 0
    }
}

.quiksilver-kelly-idea .ir-project-idea-description.ir-align-right.ir-text-left.body-copy-1.col-sm-6.col-xs-12.col-sm-push-6 {
    width: 50%;
    padding: 0 25% 0 5%;
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        padding: 0 7%;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        width: 90%;
        padding: 0;
        right: 0;
        text-align: right;
        margin-bottom: 40px;
    }
}

.quiksilver-kelly-1-item .ir-project-item-image.ir-align-center.col-xs-12 {
    background-color: #EDEFEE;
    float: none;
    width: 100%;
    padding: 80px;
    margin: 0 auto;
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        padding: 25px;
    }
}

.quiksilver-kelly-1-item img.ir-image.ir-section-image,
.quiksilver-kelly-2-item img.ir-image.ir-section-image {
    width: 100%;
}

.ir-project-result-container.col-xs-12.quiksilver-kelly-result {
    margin-top: -75px;
}

.ir-project-background-container.ir-content-padding.col-xs-12.quiksilver-kelly-bg.ir-floating-container,
.ir-project-idea-container.ir-content-padding.col-xs-12.quiksilver-kelly-idea,
.ir-project-item-container.ir-content-padding.col-xs-12.quiksilver-kelly-1-item,
.ir-project-item-container.ir-content-padding.col-xs-12.quiksilver-kelly-2-item {
    padding: 70px 5%;
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        padding: 40px 5%;
    }
}


/************************************** Rogers Page Styling **************************************/

.ir-project-background-container.ir-content-padding.col-xs-12.rogers-bg,
.ir-project-idea-container.ir-content-padding.col-xs-12.rogers-idea.ir-floating-container,
.ir-project-item-container.ir-content-padding.col-xs-12.rogers-1-item,
.ir-project-item-container.ir-content-padding.col-xs-12.rogers-2-item {
    padding: 70px 5%;
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        padding: 25px 5%;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {}
}

.ir-project-background-container.ir-content-padding.col-xs-12.rogers-bg {
    padding: 0 5%;
}

.rogers-bg .ir-project-background-description.ir-align-left.ir-text-left.body-copy-1.col-sm-6.col-xs-12 {
    padding: 30px 5% 0 10%;
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        padding: 55px 5% 0 5%;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {}
}

.rogers-bg .ir-project-background-image.ir-align-right.col-sm-6.col-xs-12 {
    padding: 0 12% 0 1%;
    margin-top: -70px;
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        margin-top: 50px;
        padding: 0;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        margin-top: 0;
    }
}

.ir-project-idea-container.ir-content-padding.col-xs-12.rogers-idea.ir-floating-container {
    margin-left: 4%;
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        margin-left: 0;
    }
}

.rogers-idea .ir-project-idea-description.ir-align-right.ir-text-left.body-copy-1.col-md-5.col-xs-12.col-md-push-7.ir-floating-item {
    padding: 5% 10% 0 5%;
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        padding-top: 0;
        text-align: right;
        margin-bottom: 40px;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        transform: inherit!important;
        padding: 0;
    }
}

.rogers-idea img.ir-image.ir-section-image,
.rogers-2-item img {
    width: 100%;
}

.rogers-idea .ir-project-idea-image.ir-align-left.col-md-7.col-xs-12.col-md-pull-5 {
    position: relative;
    z-index: -1;
    margin-top: -315px;
    left: 0;
    width: 65%;
    padding: 5%;
    background-color: #EDEFEE;
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        margin: 0;
        width: 100%;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {}
}

.rogers-1-item .ir-project-item-image.ir-align-center.col-xs-12 {
    padding: 8%;
    background-color: #9AB7CC;
}

.rogers-2-item .ir-project-item-image.ir-align-left.col-sm-6.col-xs-12.col-sm-pull-6 {
    right: 0;
    float: left;
    width: 37%;
    margin: 0;
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {}
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        float: none;
        width: 100%;
        margin: 0;
        clear: both;
        margin-top: 40px;
    }
}

.rogers-2-item .ir-project-item-description.ir-align-right.ir-text-left.body-copy-1.col-sm-6.col-xs-12.col-sm-push-6 {
    left: 0;
    float: right;
    width: 52%;
    margin: 0;
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {}
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        float: none;
        width: 100%;
        margin: 0;
        overflow: auto;
    }
}



/************************************** BMW Page Styling **************************************/
/* 
.ir-project-background-container.ir-content-padding.col-xs-12.bmw-bg.ir-floating-container,
.ir-project-idea-container.ir-content-padding.col-xs-12.bmw-idea,
.jp-container.ir-content-padding.col-xs-12 {
    padding: 70px 5%;
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        padding: 25px 5%;
    }
} */

.ir-project-background-description.ir-align-left.ir-text-right.body-copy-1.col-sm-5.col-xs-12.ir-floating-item {
    //    transform: inherit!important;
}

.bmw-bg .ir-project-background-description.ir-align-left.ir-text-right.body-copy-1.col-sm-5.col-xs-12.ir-floating-item {
    padding: 9%;
    position: relative;
    left: 12%;
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        padding: 5% 0 0 0;
        position: relative;
        left: 5%;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        left: 0;
        text-align: left;
        margin-bottom: 40px;
    }
}

.bmw-bg .ir-project-background-image.ir-align-right.col-sm-7.col-xs-12 {
    z-index: -1;
}

.bmw-idea .ir-project-idea-image.ir-align-left.col-sm-6.col-xs-12.col-sm-pull-0.col-md-pull-6 {
    padding: 0 8%;
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        width: 75%;
        padding: 0 10% 0 0;
        margin-top: 40px;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        width: 100%;
        padding: 0;
    }
}

.bmw-idea .ir-project-idea-description.ir-align-right.ir-text-right.body-copy-1.col-sm-6.col-xs-12.col-sm-8.col-sm-push-4.col-md-6.col-md-push-6 {
    margin-top: 25px;
    padding: 0 0 0 15%;
}

.bmw-result .ir-project-result-description.ir-align-left.ir-text-left.body-copy-1.col-md-7.col-xs-12 {
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        padding-bottom: 40px;
    }
}

.bmw-result img.ir-award-image {
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        width: 100%;
    }
}


/************************************** Yokohama Page Styling **************************************/


.single-workproject .ir-content-padding .yokohama-bg {
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        padding: 80px 5%!important;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        padding: 40px 5%!important;
    }
}

.yokohama-bg .ir-project-background-description.ir-align-right.ir-text-left.body-copy-1.col-sm-6.col-xs-12.col-sm-push-6 {
    padding: 0 20% 0 0;
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        padding: 0 1% 0 6%;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        margin-bottom: 50px;
    }
}

.ir-background-fill-yokohama {
    height: 375px;
    width: 580px;
    background-color: #EDEFEE;
    margin: 40px auto 0 auto;
    position: relative;
    z-index: -1;
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        height: 550px;
        width: 80%;
        margin: 40px 0 0 auto;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        display: none;
    }
}

.yokohama-idea .ir-project-idea-description.ir-align-left.ir-text-left.body-copy-1.col-md-6.col-xs-12.col-sm-push-0.col-md-pull-6 {
    padding: 0 0 0 20%;
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        padding: 0;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        padding: 0;
/*         text-align: right; */
    }
}

.yokohama-idea .ir-project-idea-image.ir-align-right.col-md-6.col-xs-12.col-sm-pull-0.col-md-push-6 {
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        text-align: right;
        padding: 0;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        display: none;
    }
}

.ir-item-image.hidden.visible-xs.yoko-1-mobile-item-image.col-xs-12 {
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        width: 100%;
        padding: 0;
        margin-top: 40px;
    }
}

.yokohama-1-item {
    margin-top: -265px;
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        margin-top: 0;
    }
}

.yokohama-1-item .ir-project-item-description.ir-align-right.ir-text-left.body-copy-1.col-sm-6.col-xs-12.col-sm-push-6.ir-floating-item {
    //    transform: inherit!important;
    position: relative;
    margin: 0;
    padding: 0 25% 0 0;
    left: 20%;
    top: -15px;
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        left: 125px;
        top: 150px;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        left: 0;
        top: 0;
        padding: 0;
        margin-bottom: 40px;
    }
}

.yokohama-1-item .ir-project-item-image.ir-align-left.col-sm-6.col-xs-12.col-sm-pull-6 {
    width: 65%;
    margin: -130px 0 0 6%;
    position: relative;
    z-index: -1;
    float: right;
    right: 0;
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        margin: -70px 0 0 6%;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        margin: 0;
        width: 100%;
    }
}

.yokohama-result a.button.button--black.ir-site-link.ir-button {
    margin-top: 45px;
}


/************************************** Converse Page Styling **************************************/

/* .single-workproject .ir-content-padding .ir-converse-chucks,
.single-workproject .ir-content-padding .converse-idea,
.single-workproject .ir-content-padding .converse-1-item,
.single-workproject .ir-content-padding .converse-2-item {
    padding: 70px 5%!important;
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        padding: 25px 5%!important;
    }
} */
/* 
.single-workproject .ir-content-padding .converse-bg {
    padding: 0 0 70px 0!important;
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        padding: 65px 0 25px 0!important;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        padding: 25px 0!important;
    }
} */

.converse-bg .ir-project-background-description.ir-align-left.ir-text-left.body-copy-1.col-sm-6.col-xs-12 {
    padding: 5% 10% 0 15%;
    width: 60%;
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        padding: 3% 10% 0 10%;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        width: 100%;
        padding: 0 5%;
    }
}

.converse-bg .ir-project-background-image.ir-align-right.col-sm-6.col-xs-12 {
    text-align: right;
    width: 40%;
    float: right;
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        width: 80%;
        margin-top: 40px;
    }
}

img.ir-converse-shoe-icon {
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        width: 100%;
    }
}

.ir-converse-shoe-container.col-xs-6.ir-center {
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        padding: 15px 0;
    }
}

.ir-converse-chucks-inner.col-xs-12.col-md-6 {
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        padding: 0;
    }
}

.converse-idea img {
    width: 100%;
}

/* .converse-idea .ir-project-idea-description.ir-align-right.ir-text-left.body-copy-1.col-md-4.col-xs-12.col-md-push-8.ir-floating-item {
    //    transform: inherit!important;
    padding: 0 5%;
    position: relative;
    margin-top: 40px;
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        text-align: right;
        margin: 50px 0;
        padding: 0 7% 0 0;
        max-width: 65%;
        float: right;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        margin: 0 0 40px 0;
        max-width: 100%;
    }
} */

.ir-vr-hover-img {
    display: none;
}

.ir-vr-hover-img.ir-vr-hover-center {
    display: block;
}

/* .converse-idea .ir-project-idea-image.ir-align-left.col-md-8.col-xs-12.col-md-pull-4 {
    right: 25%;
    z-index: -1;
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        right: 0;
    }
} */

.converse-1-item {
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        margin: 40px 0;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        margin: 0;
    }
}

// .converse-2-item img {
//     width: 100%;
// }

.converse-2-item .ir-project-item-description.ir-align-left.ir-text-right.body-copy-1.col-sm-4.col-xs-12.ir-floating-item {
    //    transform: inherit!important;
    padding: 8%;
    position: relative;
    left: 10%;
    z-index: 999999;
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        padding: 8% 1%;
        left: 5%;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        padding: 0;
        left: 0;
        margin-bottom: 40px;
    }
}

.converse-bot-img-result .ir-project-result-image.ir-align-center.col-xs-12 {
    width: 70%;
    float: right;
    position: relative;
    top: -130px;
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        display: none;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        display: block;
        float: none;
        width: 100%;
        top: 0;
        text-align: center;
        padding-top: 25px;
        clear: both;
    }
}

.ir-project-result-container.col-xs-12.converse-bot-img-result {
    margin-top: -190px;
    padding-top: 190px;
    padding-bottom: 0;
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        margin-top: -140px;
        padding-top: 160px;
    }
}

.converse-bot-img-result .button.button--black.ir-app-store.ir-fixed-width-button.ir-button:first-of-type {
    margin-top: 40px;
}


/************************************** Infiniti Page Styling **************************************/

/* .single-workproject .ir-content-padding .infiniti-bg,
.single-workproject .ir-content-padding .infiniti-parallax-item,
.single-workproject .ir-content-padding .infiniti-idea,
.single-workproject .ir-content-padding .jp-container {
    padding: 70px 5%!important;
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        padding: 25px 5%!important;
    }
} */

.single-workproject .ir-header .jp-jplayer>video {
    display: block;
    width: 100%!important;
    margin: 0!important;
}

.jp-container.ir-content-padding.ir-header-video.col-xs-12 {
    padding: 0;
}

.infiniti-result .button.button--black.ir-app-store.ir-fixed-width-button.ir-button:first-of-type {
    margin-top: 80px;
}

.ir-award-container img {
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        width: 100%;
    }
}

.infiniti-bg .ir-project-background-description.ir-align-right.ir-text-left.body-copy-1.col-sm-6.col-xs-12.col-sm-push-6 {
    padding: 0 15% 0 5%;
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        padding: 0 3% 0 2%;
    }
}

.infiniti-parallax-item .ir-project-item-image.ir-align-right.col-sm-6.col-xs-12 {
    width: 70%;
    position: relative;
    float: right;
    z-index: -1;
    margin-top: -550px;
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        margin-top: -175px;
    }
}

.infiniti-parallax-item .ir-project-item-description.ir-align-left.ir-text-left.body-copy-1.col-sm-6.col-xs-12.ir-floating-item.ir-floating-item-mobile {
    //   transform: inherit!important;
    position: relative;
    padding: 5%;
    top: 250px;
    left: 55px;
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        top: 225px;
        left: 20px;
        padding: 0;
    }
}

.infiniti-parallax-mobile-item .ir-project-item-description.ir-align-left.ir-text-left.body-copy-1.col-sm-6.col-xs-12.ir-floating-item {
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        width: 75%;
        float: right;
    }
}

.infiniti-parallax-mobile-item .ir-project-item-image.ir-align-right.col-sm-6.col-xs-12.ir-floating-item-mobile {
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        width: 65%;
        margin-left: 7%;
        position: relative;
        top: -45px;
    }
}

.infiniti-idea .ir-project-idea-description.ir-align-right.ir-text-right.body-copy-1.col-sm-7.col-xs-12.col-sm-push-5 {
    width: 60%;
    padding: 0 10% 0 15%;
    @media screen and (max-width: #{($tablet-nav-breakpoint - 1)}px) {
        padding: 0 8% 0 0;
    }
    @media screen and (max-width: #{($mobile-nav-breakpoint - 1)}px) {
        padding: 0;
        width: 100%;
    }
}