@include importOnce('project-fonts') {

  /* _____ FONTS _____ */

  // @include importFont('titillium', 'titilliumweb-regular-webfont', 'titillium_webregular');
  // @include importFont('titillium', 'titilliumweb-bold-webfont', 'titillium_webbold', $isBold: true);
  // @include importFont('robotoSlab', 'robotoslab-regular-webfont', 'roboto_slabregular');
  // @include importFont('robotoSlab', 'robotoslab-bold-webfont', 'roboto_slabbold', $isBold: true);

}

//TODO: Move to importOnce importFont...
//TODO: REPLACE WITH PRODUCTION PURCHASED FONTS...!!

@font-face {
  font-family:'Larsseit Bold';
  src:url(../fonts/Larsseit-Bold.otf);
}


.ir-italic{
	font-family: baskerville-urw;
    font-style: italic;
}