@include importOnce('project-globals') {

  /* _____ GLOBAL DEFAULTS _____ */

  *,
  :before,
  :after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  html {
    width: 100%;
    height: 100%;
    font-size: 100%;
  }

  body {
    @include remIt(font-size, 16);
    background: #fff;
    width: 100%;
    min-height: 100%;
    line-height: 1.4;
    color: #000;
    font-family: $ir-secondary-font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  ul {
    list-style: square;
  }

  pre {
    background: #fff;
    padding: 10px;
  }

  p {
    margin: 0 0 20px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $ir-primary-font;
  }
  
  h2 {
    font-size: 24px;
    line-height: 1.5;
  }
  
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 32px;
    padding-bottom: 55px;
    @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
      font-size: 20px;
      padding-bottom: 15px;
    }
  }
  
  h5 {
    font-family: $ir-secondary-font;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
      font-size: 14px;
    }
  }
  
  h8 {
    font-size: 24px;
    @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
      font-size: 16px;
    }
  }
  
  h9 {
    font-size: 14px;
    color: #B3B3B3;
    font-family: $ir-secondary-font;
    letter-spacing: 0.1em;
    font-weight: bold;
    text-transform: uppercase;
    vertical-align: bottom;
  }
  
  pre {
    // monospace defaults to Courrier New on windows, which seems to badly alter the = sign, so we'll avoid it
    font-family: consolas, monospace;
  }
  
  //General Global Styles
  .body-copy-1 {
    font-family: $ir-secondary-font;
    font-size: 20px;
    line-height: 1.5em;
    
    @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
      font-size: 16px;
    }
  }
  
  .body-copy-2 {
    font-family: $ir-tertiary-font;
    line-height: 1.3em;
    font-size: 24px;
    @media screen and (max-width: #{($desktop-nav-breakpoint - 1)}px) {
      font-size: 16px;
    }
  }
  .entry-content {
    float: left;
  }
  
  .entry-content > p {
    margin: 0;
  }

  .box {
    position:  relative;
    width: 100%;   /* desired width */
  }
  
  .box:before {
    content: "";
    display: block;
    padding-top: 100%;  /* initial ratio of 1:1*/
  }
  
  .box-content{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  /* _____ LAYOUT _____ */

  .mainContainer {
    @include clearfix;
    margin: 0 auto;
    width: 100%;
    max-width: #{$containerWidth}px;
  }

  .ir-image {
    max-width: 100%;
  }
}
