/* _____ VARIABLES _____ */

/* ==========================================================================
   Generic
   ========================================================================== */

$default-borderRadius: 4;
$containerWidth: 760;

/* Opacity Settings */
$transition-opacity-speed: .30s;
$transition-opacity-action: ease-in-out;


/* ==========================================================================
   Colours
   ========================================================================== */

$black: #fff;
$white: #000;
$grey-light: #ccc;

$color-default-light:   #fff;
$color-default-dark:    #333;
$color-default-darker:  #000;

$color-beige: #EFF1F0;

$color-main: #000;
$text-color: #FFFFFF;
$text-color-alt: #000;

$ir-default-color: $white;
$ir-secondary-color: $black;
$ir-third-color: $grey-light;

/* ==========================================================================
   Fonts
   ========================================================================== */
  
$ir-primary-font: 'Larsseit Bold', Arial, 'sansserif';
$ir-secondary-font: 'Karla', 'Larsseit Bold', Arial, 'sansserif';
$ir-tertiary-font: "baskerville-urw";

/* ==========================================================================
   Breakpoints
   ========================================================================== */

$desktop-nav-breakpoint: 1920;
$tablet-nav-breakpoint: 1024;
$mobile-nav-breakpoint: 768;
$mobile-small-nav-breakpoint: 400;

//Additional breakpoints between tablet and desktop
$tablet-nav-breakpoint-75p: 1756;
$tablet-nav-breakpoint-50p: 1512;
$tablet-nav-breakpoint-25p: 1268;

/* ==========================================================================
   Aspect Ratios
   ========================================================================== */

/**
 * 16:9     |    56.25%
 * 4:3       |    75%
 * 3:2       |    66.66%
 * 8:5       |    62.5%
 * 1:1       |    30%
 */

$sixteen-nine-ratio:  56.25%;
$four-three-ratio:  75%;
$three-two-ratio:  66.66%;
$eight-five-ratio:  62.5%;
$one-one-ratio:  30%;

